<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from rose-lily.netlify.app/dashboard/purchase-cheats by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 07 Mar 2024 10:37:49 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Purchase Cheats | INTERWEBZ</title>
    <meta name="robots" content="none" />
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Purchase Cheats" />
    <meta property="og:description" content="We provide undetected premium hacks & cheats for a variety of games such as CS:GO, GMOD, and more...">
    <meta property="og:url" content="https://interwebz-cheats.com/">
    <meta property="og:image" content="../../interwebz-cheats.com/img/ogimage.html" />
    <meta property="og:image:secure_url" content="../../interwebz-cheats.com/img/ogimage.html">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="og:image:alt" content="Undetected Premium Hacks and Cheats INTERWEBZ">
    <meta property="og:image:type" content="image/jpeg">
    <meta property="og:site_name" content="Undetected Premium Hacks &amp; Cheats | INTERWEBZ">
    <link rel="apple-touch-icon" sizes="180x180" href="../../interwebz-cheats.com/favicons/apple-touch-icon.html" />
    <link rel="icon" type="image/png" sizes="32x32" href="../../interwebz-cheats.com/favicons/favicon-32x32.html" />
    <link rel="icon" type="image/png" sizes="16x16" href="../../interwebz-cheats.com/favicons/favicon-16x16.html" />
    <link rel="manifest" href="#" />
    <link rel="mask-icon" href="https://interwebz-cheats.com/favicons/safari-pinned-tab.svg" color="#2d2145" />
    <meta name="apple-mobile-web-app-title" content="INTERWEBZ Dashboard" />
    <meta name="application-name" content="INTERWEBZ Dashboard" />
    <meta name="msapplication-TileColor" content="#2d2145" />
    <meta name="theme-color" content="#2d2145" />
    <style>
        [wire\:loading],
        [wire\:loading\.delay],
        [wire\:loading\.inline-block],
        [wire\:loading\.inline],
        [wire\:loading\.block],
        [wire\:loading\.flex],
        [wire\:loading\.table],
        [wire\:loading\.grid],
        [wire\:loading\.inline-flex] {
            display: none;
        }

        [wire\:loading\.delay\.shortest],
        [wire\:loading\.delay\.shorter],
        [wire\:loading\.delay\.short],
        [wire\:loading\.delay\.long],
        [wire\:loading\.delay\.longer],
        [wire\:loading\.delay\.longest] {
            display: none;
        }

        [wire\:offline] {
            display: none;
        }

        [wire\:dirty]:not(textarea):not(input):not(select) {
            display: none;
        }

        a {
            text-decoration: none !important;
        }

        .text-link-color {
            color: #a596ba;
        }

            .text-link-color:hover {
                color: #E8E0F5 !important;
                text-decoration: underline !important;
            }

        input:-webkit-autofill,
        select:-webkit-autofill,
        textarea:-webkit-autofill {
            animation-duration: 50000s;
            animation-name: livewireautofill;
        }

        @@keyframes livewireautofill {
            from {
            }
        }
    </style>
    <link rel="stylesheet" href="/rose-lily.netlify.app/dashboard/styles/purchase.css" />
    <link rel="stylesheet" href="/rsms.me/inter/inter.css" />

    <link rel="stylesheet" href="/cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" />
    <script src="/kit.fontawesome.com/436c17474f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <script src="/cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

    <script src="/code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="/cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="/cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


</head>

<body class="font-sans antialiased bg-neutral-600 text-neutral-100">
    <div x-data="{ sidebarOpen: false }" class="relative flex h-screen overflow-hidden">

        <nav class="navbar navbar-dark fixed-top d-block d-md-none" style="background: transparent;">
            <div class="container-fluid">

                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="offcanvas offcanvas-end " style="background: #362A51;" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
                    <button type="button" class="btn-close btn-close-white px-4 pt-4" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    <div class="offcanvas-header justify-content-center p-0">
                        <div class="flex items-center flex-shrink-0 px-4">
                            <img class="w-auto mx-auto h-28" src="/rose-lily.netlify.app/dashboard/styles/logo.svg" alt="INTERWEBZ Logo">
                        </div>
                        <!-- <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button> -->
                    </div>
                    <!-- <div class="offcanvas-body"> -->
                    <div class="offcanvas-body flex-1 h-0 p-0 ">
                        <!-- <div class="flex items-center flex-shrink-0 px-4">
                            <img class="w-auto mx-auto h-28" src="./styles/logo.svg" alt="INTERWEBZ Logo">
                        </div> -->
                        <div class="flex items-center justify-between px-4 py-6">
                            <div class="inline-flex items-center space-x-3">
                                <div class="flex-shrink-0 w-10 h-10">
                                    <img class="w-10 h-10 border rounded-md shadow border-neutral-400" src="/rose-lily.netlify.app/dashboard/styles/default-avatar.jpg" alt="toufiq's avatar">
                                </div>
                                <div class>
                                    <p class="text-sm font-semibold leading-5 break-all text-neutral-100" style="color: #A08FBD;">
                                        toufiq
                                    </p>
                                    <p class="text-xs font-semibold leading-4 transition duration-150 ease-in-out text-neutral-200">
                                        New Member
                                    </p>
                                </div>
                            </div>
                            <div wire:id="6SNvOeDPqGqpZUL1w5du" wire:initial-data="{&quot;fingerprint&quot;:{&quot;id&quot;:&quot;6SNvOeDPqGqpZUL1w5du&quot;,&quot;name&quot;:&quot;notifications&quot;,&quot;locale&quot;:&quot;en&quot;,&quot;path&quot;:&quot;dashboard\/purchase-cheats&quot;,&quot;method&quot;:&quot;GET&quot;,&quot;v&quot;:&quot;acj&quot;},&quot;effects&quot;:{&quot;listeners&quot;:[&quot;update&quot;]},&quot;serverMemo&quot;:{&quot;children&quot;:[],&quot;errors&quot;:[],&quot;htmlHash&quot;:&quot;11f63e66&quot;,&quot;data&quot;:[],&quot;dataMeta&quot;:[],&quot;checksum&quot;:&quot;602450f5cb9e9605b1357acb831b4ce84f64d486ad9b446f27a8db2eb6c6aba8&quot;}}"
                                 class="relative" x-data="{ open: false }">
                                <div>
                                    <button type="button" @@click="open = !open" class="p-2 transition duration-150 ease-in-out rounded-md hover:bg-neutral-300 hover:text-neutral-100 focus:bg-neutral-300 focus:text-neutral-100 text-neutral-200 focus:outline-none focus:ring ring-neutral-300 ring-opacity-75">
                                        <div class="flex-shrink-0 w-5 h-5">
                                            <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                                <path d="M10 2a6 6 0 00-6 6v3.586l-.707.707A1 1 0 004 14h12a1 1 0 00.707-1.707L16 11.586V8a6 6 0 00-6-6zM10 18a3 3 0 01-3-3h6a3 3 0 01-3 3z" />
                                            </svg>
                                        </div>
                                    </button>
                                </div>
                                <div class="absolute right-0 z-50 w-56 mt-2 origin-top-right rounded-md shadow-lg sm:left-0 sm:origin-top-left sm:w-112" x-show="open" style="display: none;" x-transition:enter="transition ease-out duration-100" x-transition:enter-start="transform opacity-0 scale-95"
                                     x-transition:enter-end="transform opacity-100 scale-100" x-transition:leave="transition ease-in duration-75" x-transition:leave-start="transform opacity-100 scale-100" x-transition:leave-end="transform opacity-0 scale-95"
                                     @@keydown.window.escape="open = false" @@click.away="open = false">
                                    <div class="overflow-hidden border rounded-md ring-1 ring-black ring-opacity-5 border-neutral-300 bg-neutral-400">
                                        <div class="flex flex-col justify-between px-4 py-4 space-y-4 border-b md:items-center md:flex-row md:space-y-0 border-neutral-300 sm:px-6">
                                            <div class="inline-flex items-center space-x-2">
                                                <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                                    <path d="M10 2a6 6 0 00-6 6v3.586l-.707.707A1 1 0 004 14h12a1 1 0 00.707-1.707L16 11.586V8a6 6 0 00-6-6zM10 18a3 3 0 01-3-3h6a3 3 0 01-3 3z" />
                                                </svg>
                                                <h3 class="font-medium leading-6 text-neutral-100">
                                                    Notifications
                                                </h3>
                                            </div>
                                            <span class="flex rounded-md shadow-sm ">
                                                <button type="button" class="inline-flex items-center justify-center border font-medium focus:outline-none transition duration-150 ease-in-out px-4 py-2 text-sm leading-5 rounded-md border border-neutral-350 text-neutral-200 bg-neutral-400 hover:bg-neutral-350 hover:text-neutral-100 focus:bg-neutral-350 focus:text-neutral-100 focus:ring ring-neutral-300 ring-opacity-75 active:text-neutral-100 active:bg-neutral-300 transition disabled:pointer-events-none disabled:opacity-75 disabled:cursor-not-allowed space-x-2" wire:click="markAllAsRead" disabled="disabled" wire:loading.attr="disabled">
                                                    <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                                        <path fill-rule="evenodd" d="M5 3a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2V5a2 2 0 00-2-2H5zm0 2h10v7h-2l-1 2H8l-1-2H5V5z" clip-rule="evenodd" />
                                                    </svg> <span>Mark all as read</span>
                                                </button>
                                            </span>
                                        </div>
                                        <div class="overflow-y-auto divide-y max-h-56 divide-neutral-300 notifications-overflow">
                                            <div class="px-4 py-4 sm:px-6">
                                                <p class="text-neutral-200">No Unread Notifications.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <nav class="flex-1 px-2 space-y-4 sidebar-nav">
                            <div class="space-y-1">
                                <a class='flex items-center px-3 py-2 space-x-3 text-sm font-semibold leading-5 transition duration-150 ease-in-out rounded-md group hover:text-neutral-100 hover:bg-neutral-300 focus:text-neutral-100 focus:outline-none focus:bg-neutral-300 text-neutral-200' asp-area="" asp-controller="Dashboard" asp-action="Whats_New">
                                    <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd" d="M18 3a1 1 0 00-1.447-.894L8.763 6H5a3 3 0 000 6h.28l1.771 5.316A1 1 0 008 18h1a1 1 0 001-1v-4.382l6.553 3.276A1 1 0 0018 15V3z" clip-rule="evenodd" />
                                    </svg>
                                    <span class="truncate">What&#039;s New</span>
                                </a>
                                <a class='flex items-center px-3 py-2 space-x-3 text-sm font-semibold leading-5 transition duration-150 ease-in-out rounded-md group hover:text-neutral-100 hover:bg-neutral-300 focus:text-neutral-100 focus:outline-none focus:bg-neutral-300 bg-neutral-300 text-neutral-100' asp-area="" asp-controller="Dashboard" asp-action="Purchase_cheats">
                                    <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                        <path d="M3 1a1 1 0 000 2h1.22l.305 1.222a.997.997 0 00.01.042l1.358 5.43-.893.892C3.74 11.846 4.632 14 6.414 14H15a1 1 0 000-2H6.414l1-1H14a1 1 0 00.894-.553l3-6A1 1 0 0017 3H6.28l-.31-1.243A1 1 0 005 1H3zM16 16.5a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0zM6.5 18a1.5 1.5 0 100-3 1.5 1.5 0 000 3z" />
                                    </svg>
                                    <span class="truncate">Purchase Cheats</span>
                                </a>
                                <a class='flex items-center px-3 py-2 space-x-3 text-sm font-semibold leading-5 transition duration-150 ease-in-out rounded-md group hover:text-neutral-100 hover:bg-neutral-300 focus:text-neutral-100 focus:outline-none focus:bg-neutral-300 text-neutral-200' asp-area="" asp-controller="Dashboard" asp-action="Cheat_Status">
                                    <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd" d="M5.05 3.636a1 1 0 010 1.414 7 7 0 000 9.9 1 1 0 11-1.414 1.414 9 9 0 010-12.728 1 1 0 011.414 0zm9.9 0a1 1 0 011.414 0 9 9 0 010 12.728 1 1 0 11-1.414-1.414 7 7 0 000-9.9 1 1 0 010-1.414zM7.879 6.464a1 1 0 010 1.414 3 3 0 000 4.243 1 1 0 11-1.415 1.414 5 5 0 010-7.07 1 1 0 011.415 0zm4.242 0a1 1 0 011.415 0 5 5 0 010 7.072 1 1 0 01-1.415-1.415 3 3 0 000-4.242 1 1 0 010-1.415zM10 9a1 1 0 011 1v.01a1 1 0 11-2 0V10a1 1 0 011-1z" clip-rule="evenodd" />
                                    </svg>
                                    <span class="truncate">Cheat Status</span>
                                </a>
                                <a class='flex items-center px-3 py-2 space-x-3 text-sm font-semibold leading-5 transition duration-150 ease-in-out rounded-md group hover:text-neutral-100 hover:bg-neutral-300 focus:text-neutral-100 focus:outline-none focus:bg-neutral-300 text-neutral-200' asp-area="" asp-controller="Dashboard" asp-action="Your_Orders">
                                    <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd" d="M5 4a3 3 0 00-3 3v6a3 3 0 003 3h10a3 3 0 003-3V7a3 3 0 00-3-3H5zm-1 9v-1h5v2H5a1 1 0 01-1-1zm7 1h4a1 1 0 001-1v-1h-5v2zm0-4h5V8h-5v2zM9 8H4v2h5V8z" clip-rule="evenodd" />
                                    </svg>
                                    <span class="truncate">Your Orders</span>
                                </a>
                                <a class='flex items-center px-3 py-2 space-x-3 text-sm font-semibold leading-5 transition duration-150 ease-in-out rounded-md group hover:text-neutral-100 hover:bg-neutral-300 focus:text-neutral-100 focus:outline-none focus:bg-neutral-300 text-neutral-200' asp-area="" asp-controller="Community" asp-action="Forums" target='__blank'>
                                    <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                        <path d="M2 5a2 2 0 012-2h7a2 2 0 012 2v4a2 2 0 01-2 2H9l-3 3v-3H4a2 2 0 01-2-2V5z" />
                                        <path d="M15 7v2a4 4 0 01-4 4H9.828l-1.766 1.767c.28.149.599.233.938.233h2l3 3v-3h2a2 2 0 002-2V9a2 2 0 00-2-2h-1z" />
                                    </svg>
                                    <span class="truncate">Community</span>
                                </a>
                            </div>
                            <div>
                                <h3 class="px-3 text-xs font-semibold leading-4 tracking-wider uppercase opacity-75 text-neutral-200">
                                    Prepaid Codes
                                </h3>
                                <div class="mt-2 space-y-1">
                                    <a class='flex items-center px-3 py-2 space-x-3 text-sm font-semibold leading-5 transition duration-150 ease-in-out rounded-md group hover:text-neutral-100 hover:bg-neutral-300 focus:text-neutral-100 focus:outline-none focus:bg-neutral-300 text-neutral-200' asp-area="" asp-controller="Dashboard" asp-action="Purchase_Codes">
                                        <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                            <path fill-rule="evenodd" d="M4 4a2 2 0 00-2 2v4a2 2 0 002 2V6h10a2 2 0 00-2-2H4zm2 6a2 2 0 012-2h8a2 2 0 012 2v4a2 2 0 01-2 2H8a2 2 0 01-2-2v-4zm6 4a2 2 0 100-4 2 2 0 000 4z" clip-rule="evenodd" />
                                        </svg>
                                        <span class="truncate">Purchase Codes</span>
                                    </a>
                                    <a class='flex items-center px-3 py-2 space-x-3 text-sm font-semibold leading-5 transition duration-150 ease-in-out rounded-md group hover:text-neutral-100 hover:bg-neutral-300 focus:text-neutral-100 focus:outline-none focus:bg-neutral-300 text-neutral-200' asp-area="" asp-controller="Dashboard" asp-action="Redeem_Code">
                                        <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                            <path d="M2 6a2 2 0 012-2h12a2 2 0 012 2v2a2 2 0 100 4v2a2 2 0 01-2 2H4a2 2 0 01-2-2v-2a2 2 0 100-4V6z" />
                                        </svg>
                                        <span class="truncate">Redeem Code</span>
                                    </a>
                                </div>
                            </div>
                        </nav>
                    </div>
                    <!-- </div> -->
                </div>
            </div>
        </nav>



        



        <div class="hidden md:flex md:flex-shrink-0">
            <div class="relative flex flex-col border-r w-72 bg-neutral-500 border-neutral-400">
                <div class="flex flex-col flex-1 h-0 pt-5 pb-4">
                    <a asp-area="" asp-controller="Dashboard" asp-action="Purchase_cheats">
                        <div class="flex items-center flex-shrink-0 px-4">
                            <img class="w-auto h-24 mx-auto" src="/rose-lily.netlify.app/dashboard/styles/logo.svg" alt="INTERWEBZ Logo">
                        </div>
                    </a>
                    <div class="flex items-center justify-between px-4 py-6">
                        <div class="inline-flex items-center space-x-3">
                            <div class="flex-shrink-0 w-10 h-10">
                                <img class="w-10 h-10 border rounded-md shadow border-neutral-400" src="/rose-lily.netlify.app/dashboard/styles/default-avatar.jpg" alt="toufiq's avatar">
                            </div>
                            <div class>
                                <p class="text-sm font-semibold leading-5 break-all text-neutral-100" style="color: #A08FBD;">
                                    toufiq
                                </p>
                                <p class="text-xs font-semibold leading-4 transition duration-150 ease-in-out text-neutral-200">
                                    New Member
                                </p>
                            </div>
                        </div>
                        <div wire:id="YdQgvLIV7TRnNfFLznk6" wire:initial-data="{&quot;fingerprint&quot;:{&quot;id&quot;:&quot;YdQgvLIV7TRnNfFLznk6&quot;,&quot;name&quot;:&quot;notifications&quot;,&quot;locale&quot;:&quot;en&quot;,&quot;path&quot;:&quot;dashboard\/purchase-cheats&quot;,&quot;method&quot;:&quot;GET&quot;,&quot;v&quot;:&quot;acj&quot;},&quot;effects&quot;:{&quot;listeners&quot;:[&quot;update&quot;]},&quot;serverMemo&quot;:{&quot;children&quot;:[],&quot;errors&quot;:[],&quot;htmlHash&quot;:&quot;11f63e66&quot;,&quot;data&quot;:[],&quot;dataMeta&quot;:[],&quot;checksum&quot;:&quot;db317752c9e39c90a87720463a9ab3afc258159cba80676071bf860d4273f72a&quot;}}"
                             class="relative" x-data="{ open: false }">
                            <div>
                                <button type="button" @@click="open = !open" class="p-2 transition duration-150 ease-in-out rounded-md hover:bg-neutral-300 hover:text-neutral-100 focus:bg-neutral-300 focus:text-neutral-100 text-neutral-200 focus:outline-none focus:ring ring-neutral-300 ring-opacity-75">
                                    <div class="flex-shrink-0 w-5 h-5">
                                        <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                            <path d="M10 2a6 6 0 00-6 6v3.586l-.707.707A1 1 0 004 14h12a1 1 0 00.707-1.707L16 11.586V8a6 6 0 00-6-6zM10 18a3 3 0 01-3-3h6a3 3 0 01-3 3z" />
                                        </svg>
                                    </div>
                                </button>
                            </div>
                            <div class="absolute right-0 z-50 w-56 mt-2 origin-top-right rounded-md shadow-lg sm:left-0 sm:origin-top-left sm:w-112" x-show="open" style="display: none;" x-transition:enter="transition ease-out duration-100" x-transition:enter-start="transform opacity-0 scale-95"
                                 x-transition:enter-end="transform opacity-100 scale-100" x-transition:leave="transition ease-in duration-75" x-transition:leave-start="transform opacity-100 scale-100" x-transition:leave-end="transform opacity-0 scale-95" @@keydown.window.escape="open = false"
                                 @@click.away="open = false">
                                <div class="overflow-hidden border rounded-md ring-1 ring-black ring-opacity-5 border-neutral-300 bg-neutral-400">
                                    <div class="flex flex-col justify-between px-4 py-4 space-y-4 border-b md:items-center md:flex-row md:space-y-0 border-neutral-300 sm:px-6">
                                        <div class="inline-flex items-center space-x-2">
                                            <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                                <path d="M10 2a6 6 0 00-6 6v3.586l-.707.707A1 1 0 004 14h12a1 1 0 00.707-1.707L16 11.586V8a6 6 0 00-6-6zM10 18a3 3 0 01-3-3h6a3 3 0 01-3 3z" />
                                            </svg>
                                            <h3 class="font-medium leading-6 text-neutral-100">
                                                Notifications
                                            </h3>
                                        </div>
                                        <span class="flex rounded-md shadow-sm ">
                                            <button type="button" class="inline-flex items-center justify-center border font-medium focus:outline-none transition duration-150 ease-in-out px-4 py-2 text-sm leading-5 rounded-md border border-neutral-350 text-neutral-200 bg-neutral-400 hover:bg-neutral-350 hover:text-neutral-100 focus:bg-neutral-350 focus:text-neutral-100 focus:ring ring-neutral-300 ring-opacity-75 active:text-neutral-100 active:bg-neutral-300 transition disabled:pointer-events-none disabled:opacity-75 disabled:cursor-not-allowed space-x-2" wire:click="markAllAsRead" disabled="disabled" wire:loading.attr="disabled">
                                                <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                                    <path fill-rule="evenodd" d="M5 3a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2V5a2 2 0 00-2-2H5zm0 2h10v7h-2l-1 2H8l-1-2H5V5z" clip-rule="evenodd" />
                                                </svg> <span>Mark all as read</span>
                                            </button>
                                        </span>
                                    </div>
                                    <div class="overflow-y-auto divide-y max-h-56 divide-neutral-300 notifications-overflow">
                                        <div class="px-4 py-4 sm:px-6">
                                            <p class="text-neutral-200">No Unread Notifications.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <nav class="flex-1 px-2 space-y-4 overflow-y-auto sidebar-nav">
                        <div class="space-y-1">
                            <a class='flex items-center px-3 py-2 space-x-3 text-sm font-semibold leading-5 transition duration-150 ease-in-out rounded-md group hover:text-neutral-100 hover:bg-neutral-300 focus:text-neutral-100 focus:outline-none focus:bg-neutral-300 text-neutral-200' asp-area="" asp-controller="Dashboard" asp-action="Whats_New">
                                <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                    <path fill-rule="evenodd" d="M18 3a1 1 0 00-1.447-.894L8.763 6H5a3 3 0 000 6h.28l1.771 5.316A1 1 0 008 18h1a1 1 0 001-1v-4.382l6.553 3.276A1 1 0 0018 15V3z" clip-rule="evenodd" />
                                </svg>
                                <span class="truncate">What&#039;s New</span>
                            </a>
                            <a class='flex items-center px-3 py-2 space-x-3 text-sm font-semibold leading-5 transition duration-150 ease-in-out rounded-md group hover:text-neutral-100 hover:bg-neutral-300 focus:text-neutral-100 focus:outline-none focus:bg-neutral-300 bg-neutral-300 text-neutral-100' asp-area="" asp-controller="Dashboard" asp-action="Purchase_cheats">
                                <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                    <path d="M3 1a1 1 0 000 2h1.22l.305 1.222a.997.997 0 00.01.042l1.358 5.43-.893.892C3.74 11.846 4.632 14 6.414 14H15a1 1 0 000-2H6.414l1-1H14a1 1 0 00.894-.553l3-6A1 1 0 0017 3H6.28l-.31-1.243A1 1 0 005 1H3zM16 16.5a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0zM6.5 18a1.5 1.5 0 100-3 1.5 1.5 0 000 3z" />
                                </svg>
                                <span class="truncate">Purchase Cheats</span>
                            </a>
                            <a class='flex items-center px-3 py-2 space-x-3 text-sm font-semibold leading-5 transition duration-150 ease-in-out rounded-md group hover:text-neutral-100 hover:bg-neutral-300 focus:text-neutral-100 focus:outline-none focus:bg-neutral-300 text-neutral-200' asp-area="" asp-controller="Dashboard" asp-action="Cheat_Status">
                                <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                    <path fill-rule="evenodd" d="M5.05 3.636a1 1 0 010 1.414 7 7 0 000 9.9 1 1 0 11-1.414 1.414 9 9 0 010-12.728 1 1 0 011.414 0zm9.9 0a1 1 0 011.414 0 9 9 0 010 12.728 1 1 0 11-1.414-1.414 7 7 0 000-9.9 1 1 0 010-1.414zM7.879 6.464a1 1 0 010 1.414 3 3 0 000 4.243 1 1 0 11-1.415 1.414 5 5 0 010-7.07 1 1 0 011.415 0zm4.242 0a1 1 0 011.415 0 5 5 0 010 7.072 1 1 0 01-1.415-1.415 3 3 0 000-4.242 1 1 0 010-1.415zM10 9a1 1 0 011 1v.01a1 1 0 11-2 0V10a1 1 0 011-1z" clip-rule="evenodd" />
                                </svg>
                                <span class="truncate">Cheat Status</span>
                            </a>
                            <a class='flex items-center px-3 py-2 space-x-3 text-sm font-semibold leading-5 transition duration-150 ease-in-out rounded-md group hover:text-neutral-100 hover:bg-neutral-300 focus:text-neutral-100 focus:outline-none focus:bg-neutral-300 text-neutral-200' asp-area="" asp-controller="Dashboard" asp-action="Your_Orders">
                                <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                    <path fill-rule="evenodd" d="M5 4a3 3 0 00-3 3v6a3 3 0 003 3h10a3 3 0 003-3V7a3 3 0 00-3-3H5zm-1 9v-1h5v2H5a1 1 0 01-1-1zm7 1h4a1 1 0 001-1v-1h-5v2zm0-4h5V8h-5v2zM9 8H4v2h5V8z" clip-rule="evenodd" />
                                </svg>
                                <span class="truncate">Your Orders</span>
                            </a>
                            <a class='flex items-center px-3 py-2 space-x-3 text-sm font-semibold leading-5 transition duration-150 ease-in-out rounded-md group hover:text-neutral-100 hover:bg-neutral-300 focus:text-neutral-100 focus:outline-none focus:bg-neutral-300 text-neutral-200' asp-area="" asp-controller="Community" asp-action="Forums" target='__blank'>
                                <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                    <path d="M2 5a2 2 0 012-2h7a2 2 0 012 2v4a2 2 0 01-2 2H9l-3 3v-3H4a2 2 0 01-2-2V5z" />
                                    <path d="M15 7v2a4 4 0 01-4 4H9.828l-1.766 1.767c.28.149.599.233.938.233h2l3 3v-3h2a2 2 0 002-2V9a2 2 0 00-2-2h-1z" />
                                </svg>
                                <span class="truncate">Community</span>
                            </a>
                        </div>
                        <div>
                            <h3 class="px-3 text-xs font-semibold leading-4 tracking-wider uppercase opacity-75 text-neutral-200">
                                Prepaid Codes
                            </h3>
                            <div class="mt-2 space-y-1">
                                <a class='flex items-center px-3 py-2 space-x-3 text-sm font-semibold leading-5 transition duration-150 ease-in-out rounded-md group hover:text-neutral-100 hover:bg-neutral-300 focus:text-neutral-100 focus:outline-none focus:bg-neutral-300 text-neutral-200' asp-area="" asp-controller="Dashboard" asp-action="Purchase_Codes">
                                    <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd" d="M4 4a2 2 0 00-2 2v4a2 2 0 002 2V6h10a2 2 0 00-2-2H4zm2 6a2 2 0 012-2h8a2 2 0 012 2v4a2 2 0 01-2 2H8a2 2 0 01-2-2v-4zm6 4a2 2 0 100-4 2 2 0 000 4z" clip-rule="evenodd" />
                                    </svg>
                                    <span class="truncate">Purchase Codes</span>
                                </a>
                                <a class='flex items-center px-3 py-2 space-x-3 text-sm font-semibold leading-5 transition duration-150 ease-in-out rounded-md group hover:text-neutral-100 hover:bg-neutral-300 focus:text-neutral-100 focus:outline-none focus:bg-neutral-300 text-neutral-200' asp-area="" asp-controller="Dashboard" asp-action="Redeem_Code">
                                    <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                        <path d="M2 6a2 2 0 012-2h12a2 2 0 012 2v2a2 2 0 100 4v2a2 2 0 01-2 2H4a2 2 0 01-2-2v-2a2 2 0 100-4V6z" />
                                    </svg>
                                    <span class="truncate">Redeem Code</span>
                                </a>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <div class="flex flex-col flex-1 w-0 overflow-hidden">
            <div class="relative flex flex-shrink-0 border-b shadow bg-neutral-500 border-neutral-400">
                <!-- <button @@click.stop="sidebarOpen = true" class="p-4 border-r text-neutral-200 border-neutral-400 focus:outline-none focus:bg-neutral-400 focus:text-neutral-100 md:hidden">
                <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" />
                </svg> </button> -->
                <div class="flex items-center w-full px-8" style="padding: 0 5rem;">
                    <div class="flex justify-between flex-1 mx-auto max-w-9xl lg:flex py-3">
                        <div class="flex flex-col items-start justify-between w-full space-y-2 sm:space-y-0 sm:flex-row sm:items-center">
                            <div class="flex-1 min-w-0">
                                <h2 class="text-xl font-medium leading-7 text-neutral-100 sm:leading-9 sm:truncate">
                                    <div class="flex-wrap items-center hidden text-base lg:flex sm:space-x-1 text-neutral-200">
                                        <a class='transition duration-150 ease-in-out hover:text-neutral-100 focus:text-neutral-100 focus:outline-none hover:underline focus:underline text-link-color' asp-area="" asp-controller="Dashboard" asp-action="Purchase_cheats">
                                            Home
                                        </a>
                                        <svg class="w-5 h-5 text-neutral-200" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                            <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
                                        </svg> <span class="text-neutral-100">
                                            Purchase Cheats
                                        </span>
                                    </div>
                                    <div class="flex items-center space-x-3 text-base lg:hidden text-neutral-200">
                                        <a class=' text-link-color transition duration-150 ease-in-out hover:text-neutral-100 focus:text-neutral-100 focus:outline-none hover:underline focus:underline' asp-area="" asp-controller="Dashboard" asp-action="Purchase_cheats">
                                            Purchase Cheats
                                        </a>
                                    </div>
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           @RenderBody()
        </div>
        <div>
        </div>
    </div>
    <!-- <script src="/livewire/livewire.js?id=90730a3b0e7144480175" data-turbo-eval="false" data-turbolinks-eval="false" type="4a80d76478b600e12733468d-text/javascript"></script> -->
    <!-- <script data-turbo-eval="false" data-turbolinks-eval="false" type="4a80d76478b600e12733468d-text/javascript">
        window.livewire = new Livewire();
        window.Livewire = window.livewire;
        window.livewire_app_url = '';
        window.livewire_token = 'UXIKidbBJgwBYKJ4qtj7IBpN7MWWWo0SZBfvlRqk';
        window.deferLoadingAlpine = function(callback) {
            window.addEventListener('livewire:load', function() {
                callback();
            });
        };
        let started = false;
        window.addEventListener('alpine:initializing', function() {
            if (!started) {
                window.livewire.start();
                started = true;
            }
        });
        document.addEventListener("DOMContentLoaded", function() {
            if (!started) {
                window.livewire.start();
                started = true;
            }
        });
    </script> -->
    <!-- <script src="/js/app.js?id=3ca22a1bfa1495468248" defer type="4a80d76478b600e12733468d-text/javascript"></script> -->
    <script src="https://js.stripe.com/v3/" type="4a80d76478b600e12733468d-text/javascript"></script>
    <!-- <script src="/cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js" data-cf-settings="4a80d76478b600e12733468d-|49" defer></script> -->
    <script defer src="https://static.cloudflareinsights.com/beacon.min.js/v84a3a4012de94ce1a686ba8c167c359c1696973893317" integrity="sha512-euoFGowhlaLqXsPWQ48qSkBSCFs3DPRyiwVu3FjR96cMPx+Fr+gpWRhIafcHwqwCqWS42RZhIudOvEI+Ckf6MA==" data-cf-beacon='{"rayId":"84e9f4624d8a7c39","version":"2024.1.0","token":"6804e66e506340e3a1643802f2023a2c"}'
            crossorigin="anonymous"></script>
</body>


<!-- Mirrored from rose-lily.netlify.app/dashboard/purchase-cheats by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 07 Mar 2024 10:37:55 GMT -->
</html>