<main class="relative z-0 h-screen max-h-screen px-8 py-6 overflow-y-auto focus:outline-none">
    <div wire:id="Yyxg4raQ3QPpcMCXrLrj" wire:initial-data="{&quot;fingerprint&quot;:{&quot;id&quot;:&quot;Yyxg4raQ3QPpcMCXrLrj&quot;,&quot;name&quot;:&quot;purchase-cheats.index&quot;,&quot;locale&quot;:&quot;en&quot;,&quot;path&quot;:&quot;dashboard\/purchase-cheats&quot;,&quot;method&quot;:&quot;GET&quot;,&quot;v&quot;:&quot;acj&quot;},&quot;effects&quot;:{&quot;listeners&quot;:[],&quot;path&quot;:&quot;https:\/\/interwebz-cheats.com\/dashboard\/purchase-cheats&quot;},&quot;serverMemo&quot;:{&quot;children&quot;:[],&quot;errors&quot;:[],&quot;htmlHash&quot;:&quot;45a87ebf&quot;,&quot;data&quot;:{&quot;search&quot;:&quot;&quot;,&quot;page&quot;:1,&quot;paginators&quot;:{&quot;page&quot;:1}},&quot;dataMeta&quot;:[],&quot;checksum&quot;:&quot;cca47a4c51a13075994207f2a4e430e4a3d24771eaf3d7115df5989f45fe8134&quot;}}"
         class="flex justify-between flex-1 mx-auto max-w-9xl lg:flex">
        <div class="flex-1 max-w-6xl mx-auto space-y-4">
            <div>
                <div class="space-y-1">
                    <div class="flex rounded-md shadow-sm">
                        <input type="text" class="flex-1 block w-full transition duration-150 ease-in-out rounded-md bg-neutral-350 border-neutral-300 border focus:ring focus:ring-neutral-300 focus:ring-opacity-75 focus:border-neutral-300 placeholder-neutral-200" wire:model.debounce.500ms="search"
                               id="search" placeholder="Search Products..." wire:model.debounce.500ms="search" id="search" placeholder="Search Products..." />
                    </div>
                </div>
            </div>
            <div class="space-y-4">
                <ul class="overflow-hidden border divide-y rounded-md shadow bg-neutral-400 border-neutral-300 divide-neutral-300">
                    <a class='flex transition-colors duration-150 hover:text-neutral-100 text-neutral-200 ' href='purchase-cheats/call-of-duty-modern-warfare-ii-dmz.html'>
                    <li class="flex items-center flex-1 px-4 py-4 sm:px-6 sm:flex-row justify-between">
                        <div class="flex flex-col space-y-2 lg:flex-row lg:space-y-0 lg:space-x-4">
                            <div class="flex-shrink-0">
                                <img class="w-10 h-10 rounded-md shadow" src="/rose-lily.netlify.app/dashboard/styles/storage/699/f7b72121-a2ff-4416-ba28-34fe883a1a2b.png" alt="Call of Duty: Modern Warfare II / DMZ's Icon">
                            </div>
                            <div class="block lg:ml-4">
                                <div class="flex flex-wrap items-center sm:space-x-3">
                                    <div class="text-base font-semibold leading-7 text-center truncate text-neutral-100 sm:text-left">
                                        Call of Duty: Modern Warfare II / DMZ
                                    </div>
                                </div>
                                <div class="max-w-2xl mx-auto text-xs font-medium leading-5 text-neutral-200 ">
                                    Our Premium Call of Duty: Modern Warfare II cheat is exactly what you need if you are looking for a highly customisable legit cheat, that also has a wide range of visual options, as well as exclusive features n...
                                </div>
                            </div>
                        </div>
                        <div class="hidden lg:block">
                            <svg class="w-5 h-5 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
                            </svg>
                        </div>
                    </li>
                    </a>
                    <a class='flex transition-colors duration-150 hover:text-neutral-100 text-neutral-200 ' href='purchase-cheats/call-of-duty-modern-warfare-ii-dmz.html'>
                    <li class="flex items-center flex-1 px-4 py-4 sm:px-6 sm:flex-row justify-between">
                        <div class="flex flex-col space-y-2 lg:flex-row lg:space-y-0 lg:space-x-4">
                            <div class="flex-shrink-0">
                                <img class="w-10 h-10 rounded-md shadow" src="/rose-lily.netlify.app/dashboard/styles/storage/514/ec487906-2e83-4cd4-b86b-cb39b28cceb2.png" alt="Call of Duty: Modern Warfare (2019)'s Icon">
                            </div>
                            <div class="block lg:ml-4">
                                <div class="flex flex-wrap items-center sm:space-x-3">
                                    <div class="text-base font-semibold leading-7 text-center truncate text-neutral-100 sm:text-left">
                                        Call of Duty: Modern Warfare (2019)
                                    </div>
                                </div>
                                <div class="max-w-2xl mx-auto text-xs font-medium leading-5 text-neutral-200 ">
                                    Our Premium Call of Duty: Modern Warfare / Warzone cheat is exactly what you need if you are looking for a highly customisable legit and rage cheat, that also has a wide range of visual options, as well as excl...
                                </div>
                            </div>
                        </div>
                        <div class="hidden lg:block">
                            <svg class="w-5 h-5 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
                            </svg>
                        </div>
                    </li>
                    </a>
                    <a class='flex transition-colors duration-150 hover:text-neutral-100 text-neutral-200 ' href='purchase-cheats/call-of-duty-modern-warfare-ii-dmz.html'>
                    <li class="flex items-center flex-1 px-4 py-4 sm:px-6 sm:flex-row justify-between">
                        <div class="flex flex-col space-y-2 lg:flex-row lg:space-y-0 lg:space-x-4">
                            <div class="flex-shrink-0">
                                <img class="w-10 h-10 rounded-md shadow" src="/rose-lily.netlify.app/dashboard/styles/storage/586/c518d00b-56dc-4f26-aee4-be0831ca3581.png" alt="Call of Duty: Modern Warfare III / Warzone's Icon">
                            </div>
                            <div class="block lg:ml-4">
                                <div class="flex flex-wrap items-center sm:space-x-3">
                                    <div class="text-base font-semibold leading-7 text-center truncate text-neutral-100 sm:text-left">
                                        Call of Duty: Modern Warfare III / Warzone
                                    </div>
                                </div>
                                <div class="max-w-2xl mx-auto text-xs font-medium leading-5 text-neutral-200 ">
                                    Our Premium Call of Duty: Modern Warfare III cheat is exactly what you need if you are looking for a highly customisable legit cheat, that also has a wide range of visual options, as well as exclusive features...
                                </div>
                            </div>
                        </div>
                        <div class="hidden lg:block">
                            <svg class="w-5 h-5 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
                            </svg>
                        </div>
                    </li>
                    </a>
                    <a class='flex transition-colors duration-150 hover:text-neutral-100 text-neutral-200 ' href='purchase-cheats/call-of-duty-modern-warfare-ii-dmz.html'>
                    <li class="flex items-center flex-1 px-4 py-4 sm:px-6 sm:flex-row justify-between">
                        <div class="flex flex-col space-y-2 lg:flex-row lg:space-y-0 lg:space-x-4">
                            <div class="flex-shrink-0">
                                <img class="w-10 h-10 rounded-md shadow" src="/rose-lily.netlify.app/dashboard/styles/storage/430/229e4d2a-bb78-4d06-9c8d-5f7eec37e928.png" alt="Call of Duty: Black Ops Cold War's Icon">
                            </div>
                            <div class="block lg:ml-4">
                                <div class="flex flex-wrap items-center sm:space-x-3">
                                    <div class="text-base font-semibold leading-7 text-center truncate text-neutral-100 sm:text-left">
                                        Call of Duty: Black Ops Cold War
                                    </div>
                                </div>
                                <div class="max-w-2xl mx-auto text-xs font-medium leading-5 text-neutral-200 ">
                                    Our Premium Call of Duty: Black Ops Cold War cheat is exactly what you need if you are looking for a highly customisable legit and rage cheat, that also has a wide range of visual options, as well as exclusive...
                                </div>
                            </div>
                        </div>
                        <div class="hidden lg:block">
                            <svg class="w-5 h-5 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
                            </svg>
                        </div>
                    </li>
                    </a>
                    <a class='flex transition-colors duration-150 hover:text-neutral-100 text-neutral-200 ' href='purchase-cheats/call-of-duty-modern-warfare-ii-dmz.html'>
                    <li class="flex items-center flex-1 px-4 py-4 sm:px-6 sm:flex-row justify-between">
                        <div class="flex flex-col space-y-2 lg:flex-row lg:space-y-0 lg:space-x-4">
                            <div class="flex-shrink-0">
                                <img class="w-10 h-10 rounded-md shadow" src="/rose-lily.netlify.app/dashboard/styles/storage/555/4d899979-49d1-47f4-91f3-78cd35040afb.png" alt="Privacy Tool's Icon">
                            </div>
                            <div class="block lg:ml-4">
                                <div class="flex flex-wrap items-center sm:space-x-3">
                                    <div class="text-base font-semibold leading-7 text-center truncate text-neutral-100 sm:text-left">
                                        Privacy Tool
                                    </div>
                                </div>
                                <div class="max-w-2xl mx-auto text-xs font-medium leading-5 text-neutral-200 ">
                                    Our Premium Privacy Tool is exactly what you need if you are looking to improve your privacy by hiding your hardware information.
                                </div>
                            </div>
                        </div>
                        <div class="hidden lg:block">
                            <svg class="w-5 h-5 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
                            </svg>
                        </div>
                    </li>
                    </a>
                    <a class='flex transition-colors duration-150 hover:text-neutral-100 text-neutral-200 ' href='purchase-cheats/call-of-duty-modern-warfare-ii-dmz.html'>
                    <li class="flex items-center flex-1 px-4 py-4 sm:px-6 sm:flex-row justify-between">
                        <div class="flex flex-col space-y-2 lg:flex-row lg:space-y-0 lg:space-x-4">
                            <div class="flex-shrink-0">
                                <img class="w-10 h-10 rounded-md shadow" src="/rose-lily.netlify.app/dashboard/styles/storage/537/f7a99a82-5861-4ea0-b0ba-a52f7bf05ef8.png" alt="Counter-Strike 2's Icon">
                            </div>
                            <div class="block lg:ml-4">
                                <div class="flex flex-wrap items-center sm:space-x-3">
                                    <div class="text-base font-semibold leading-7 text-center truncate text-neutral-100 sm:text-left">
                                        Counter-Strike 2
                                    </div>
                                </div>
                                <div class="max-w-2xl mx-auto text-xs font-medium leading-5 text-neutral-200 ">
                                    Our Premium Counter-Strike 2 cheat is exactly what you need if you are looking for a highly customisable legit cheat, that also has a wide range of visual options.
                                </div>
                            </div>
                        </div>
                        <div class="hidden lg:block">
                            <svg class="w-5 h-5 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
                            </svg>
                        </div>
                    </li>
                    </a>
                    <a class='flex transition-colors duration-150 hover:text-neutral-100 text-neutral-200 ' href='purchase-cheats/call-of-duty-modern-warfare-ii-dmz.html'>
                    <li class="flex items-center flex-1 px-4 py-4 sm:px-6 sm:flex-row justify-between">
                        <div class="flex flex-col space-y-2 lg:flex-row lg:space-y-0 lg:space-x-4">
                            <div class="flex-shrink-0">
                                <img class="w-10 h-10 rounded-md shadow" src="/rose-lily.netlify.app/dashboard/styles/storage/474/e427b262-ea02-4491-b9d3-27ac3de6a4ec.png" alt="Call of Duty - Complete Package's Icon">
                            </div>
                            <div class="block lg:ml-4">
                                <div class="flex flex-wrap items-center sm:space-x-3">
                                    <div class="text-base font-semibold leading-7 text-center truncate text-neutral-100 sm:text-left">
                                        Call of Duty - Complete Package
                                    </div>
                                </div>
                                <div class="max-w-2xl mx-auto text-xs font-medium leading-5 text-neutral-200 ">
                                    Get access to all our cheats for the Call of Duty series! For more information about the specific cheats, visit their own dedicated pages.
                                </div>
                            </div>
                        </div>
                        <div class="hidden lg:block">
                            <svg class="w-5 h-5 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
                            </svg>
                        </div>
                    </li>
                    </a>
                    <a class='flex transition-colors duration-150 hover:text-neutral-100 text-neutral-200 ' href='purchase-cheats/call-of-duty-modern-warfare-ii-dmz.html'>
                    <li class="flex items-center flex-1 px-4 py-4 sm:px-6 sm:flex-row justify-between">
                        <div class="flex flex-col space-y-2 lg:flex-row lg:space-y-0 lg:space-x-4">
                            <div class="flex-shrink-0">
                                <img class="w-10 h-10 rounded-md shadow" src="/rose-lily.netlify.app/dashboard/styles/storage/401/4e1ed577-c3ac-4091-9f4f-86cc50107dbd.png" alt="Call of Duty: Vanguard's Icon">
                            </div>
                            <div class="block lg:ml-4">
                                <div class="flex flex-wrap items-center sm:space-x-3">
                                    <div class="text-base font-semibold leading-7 text-center truncate text-neutral-100 sm:text-left">
                                        Call of Duty: Vanguard
                                    </div>
                                </div>
                                <div class="max-w-2xl mx-auto text-xs font-medium leading-5 text-neutral-200 ">
                                    Our Premium Call of Duty: Vanguard cheat is exactly what you need if you are looking for a highly customisable legit and rage cheat, that also has a wide range of visual options, as well as exclusive features n...
                                </div>
                            </div>
                        </div>
                        <div class="hidden lg:block">
                            <svg class="w-5 h-5 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
                            </svg>
                        </div>
                    </li>
                    </a>
                    <a class='flex transition-colors duration-150 hover:text-neutral-100 text-neutral-200 ' href='purchase-cheats/call-of-duty-modern-warfare-ii-dmz.html'>
                    <li class="flex items-center flex-1 px-4 py-4 sm:px-6 sm:flex-row justify-between">
                        <div class="flex flex-col space-y-2 lg:flex-row lg:space-y-0 lg:space-x-4">
                            <div class="flex-shrink-0">
                                <img class="w-10 h-10 rounded-md shadow" src="/rose-lily.netlify.app/dashboard/styles/storage/165/52a3d90a-e61e-4887-8521-e76d94a3d2e3.jpg" alt="Counter-Strike: Source's Icon">
                            </div>
                            <div class="block lg:ml-4">
                                <div class="flex flex-wrap items-center sm:space-x-3">
                                    <div class="text-base font-semibold leading-7 text-center truncate text-neutral-100 sm:text-left">
                                        Counter-Strike: Source
                                    </div>
                                </div>
                                <div class="max-w-2xl mx-auto text-xs font-medium leading-5 text-neutral-200 ">
                                    Our Premium Counter-Strike: Source cheat is exactly what you need if you are looking for a highly customisable legit and rage cheat, that also has a wide range of visual options, as well as exclusive features n...
                                </div>
                            </div>
                        </div>
                        <div class="hidden lg:block">
                            <svg class="w-5 h-5 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
                            </svg>
                        </div>
                    </li>
                    </a>
                    <a class='flex transition-colors duration-150 hover:text-neutral-100 text-neutral-200 ' href='purchase-cheats/call-of-duty-modern-warfare-ii-dmz.html'>
                    <li class="flex items-center flex-1 px-4 py-4 sm:px-6 sm:flex-row justify-between">
                        <div class="flex flex-col space-y-2 lg:flex-row lg:space-y-0 lg:space-x-4">
                            <div class="flex-shrink-0">
                                <img class="w-10 h-10 rounded-md shadow" src="/rose-lily.netlify.app/dashboard/styles/storage/342/3627563b-dc2a-4fd1-9cfc-cc06b54cd33a.png" alt="STAR WARS Battlefront II's Icon">
                            </div>
                            <div class="block lg:ml-4">
                                <div class="flex flex-wrap items-center sm:space-x-3">
                                    <div class="text-base font-semibold leading-7 text-center truncate text-neutral-100 sm:text-left">
                                        STAR WARS Battlefront II
                                    </div>
                                </div>
                                <div class="max-w-2xl mx-auto text-xs font-medium leading-5 text-neutral-200 ">
                                    Our Premium STAR WARS Battlefront II cheat is exactly what you need if you are looking for a highly customisable legit and rage cheat, that also has a wide range of visual options, as well as exclusive features...
                                </div>
                            </div>
                        </div>
                        <div class="hidden lg:block">
                            <svg class="w-5 h-5 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
                            </svg>
                        </div>
                    </li>
                    </a>
                    <a class='flex transition-colors duration-150 hover:text-neutral-100 text-neutral-200 ' href='purchase-cheats/call-of-duty-modern-warfare-ii-dmz.html'>
                    <li class="flex items-center flex-1 px-4 py-4 sm:px-6 sm:flex-row justify-between">
                        <div class="flex flex-col space-y-2 lg:flex-row lg:space-y-0 lg:space-x-4">
                            <div class="flex-shrink-0">
                                <img class="w-10 h-10 rounded-md shadow" src="/rose-lily.netlify.app/dashboard/styles/storage/626/bd23b312-d368-4db3-9a15-5def13ab415b.png" alt="The Ultimate Package's Icon">
                            </div>
                            <div class="block lg:ml-4">
                                <div class="flex flex-wrap items-center sm:space-x-3">
                                    <div class="text-base font-semibold leading-7 text-center truncate text-neutral-100 sm:text-left">
                                        The Ultimate Package
                                    </div>
                                </div>
                                <div class="max-w-2xl mx-auto text-xs font-medium leading-5 text-neutral-200 ">
                                    Get access to our entire catalogue with The Ultimate Package! For more information about the specific cheats, visit their own dedicated pages.
                                </div>
                            </div>
                        </div>
                        <div class="hidden lg:block">
                            <svg class="w-5 h-5 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
                            </svg>
                        </div>
                    </li>
                    </a>
                </ul>
            </div>
        </div>
    </div>

</main>