
<main class="relative z-0 h-screen max-h-screen px-8 py-6 overflow-y-auto focus:outline-none">
<div wire:id="l9vhih6FLAIuW3swzVns" wire:initial-data="{&quot;fingerprint&quot;:{&quot;id&quot;:&quot;l9vhih6FLAIuW3swzVns&quot;,&quot;name&quot;:&quot;your-orders&quot;,&quot;locale&quot;:&quot;en&quot;,&quot;path&quot;:&quot;dashboard\/your-orders&quot;,&quot;method&quot;:&quot;GET&quot;,&quot;v&quot;:&quot;acj&quot;},&quot;effects&quot;:{&quot;listeners&quot;:[]},&quot;serverMemo&quot;:{&quot;children&quot;:{&quot;Miivd2c&quot;:{&quot;id&quot;:&quot;bzYc6EyFBrNo6PWVYl8k&quot;,&quot;tag&quot;:&quot;div&quot;}},&quot;errors&quot;:[],&quot;htmlHash&quot;:&quot;f22f6e8f&quot;,&quot;data&quot;:[],&quot;dataMeta&quot;:[],&quot;checksum&quot;:&quot;d52f442e9b6b6b863ba01909a85096656f874f0be2de52506795931dcb6dac1b&quot;}}" class="flex justify-between flex-1 mx-auto max-w-9xl lg:flex">
<div wire:id="bzYc6EyFBrNo6PWVYl8k" wire:initial-data="{&quot;fingerprint&quot;:{&quot;id&quot;:&quot;bzYc6EyFBrNo6PWVYl8k&quot;,&quot;name&quot;:&quot;datatables.your-orders-table&quot;,&quot;locale&quot;:&quot;en&quot;,&quot;path&quot;:&quot;dashboard\/your-orders&quot;,&quot;method&quot;:&quot;GET&quot;,&quot;v&quot;:&quot;acj&quot;},&quot;effects&quot;:{&quot;listeners&quot;:[],&quot;path&quot;:&quot;https:\/\/interwebz-cheats.com\/dashboard\/your-orders&quot;},&quot;serverMemo&quot;:{&quot;children&quot;:[],&quot;errors&quot;:[],&quot;htmlHash&quot;:&quot;fa7a62b8&quot;,&quot;data&quot;:{&quot;sortable&quot;:[],&quot;paginationCount&quot;:10,&quot;showRestoreModal&quot;:false,&quot;showDeleteModal&quot;:false,&quot;withTrashed&quot;:false,&quot;page&quot;:1,&quot;paginators&quot;:{&quot;page&quot;:1},&quot;sortField&quot;:&quot;created_at&quot;,&quot;sortDirection&quot;:&quot;desc&quot;,&quot;selectPage&quot;:false,&quot;selectAll&quot;:false,&quot;selected&quot;:[]},&quot;dataMeta&quot;:[],&quot;checksum&quot;:&quot;5b791e7f85ab4d5653dc104394d9c49495dfc572f37eb7e17d5fbd1a58b99362&quot;}}" class="flex-1 max-w-full space-y-4">
<div class="min-w-full overflow-hidden overflow-x-auto align-middle border rounded-md shadow bg-neutral-500 border-neutral-400 sm:rounded-lg">
<table class="min-w-full divide-y divide-neutral-400 table-fixed" border="0" cellpadding="0" cellspacing="0">
<thead>
<tr>
<th class="px-6 py-3 bg-neutral-600 w-1/2 text-left">
<span class="text-xs font-medium tracking-wider text-left uppercase text-neutral-200">Description</span>
</th>
<th class="px-6 py-3 bg-neutral-600 w-1/6 text-right">
<span class="text-xs font-medium tracking-wider text-left uppercase text-neutral-200">Amount</span>
</th>
<th class="px-6 py-3 bg-neutral-600 w-1/6 text-left">
<span class="text-xs font-medium tracking-wider text-left uppercase text-neutral-200">Status</span>
</th>
<th class="px-6 py-3 bg-neutral-600 w-1/6 text-left">
<span class="text-xs font-medium tracking-wider text-left uppercase text-neutral-200">Date</span>
</th>
</tr>
</thead>
<tbody class="divide-y divide-neutral-400">
<tr class="bg-neutral-500">
<td class="px-6 py-4 text-sm leading-5 text-neutral-200 whitespace-nowrap" colspan="4">
<div class="flex items-center justify-center py-2 text-base">
No orders found.
</div>
</td>
</tr>
</tbody>
</table>
</div>
<div>
<div>
</div>
</div>
</div>

</div>

</main>
