<div class="p-sectionLinks">
    <div class="p-sectionLinks-inner hScroller" data-xf-init="h-scroller">
        <div class="hScroller-scroll">
            <ul class="p-sectionLinks-list">

                <li>
                    <div class="p-navEl " data-has-children="true">
                        <a class='p-navEl-link p-navEl-link--splitMenu ' data-nav-id='findThreads' href='../community/latest-activity/latest-activity.html'>Latest activity</a>
                        <a data-xf-key="alt+2" data-xf-click="menu" data-menu-pos-ref="< .p-navEl" class="p-navEl-splitTrigger" role="button" tabindex="0" aria-label="Toggle expanded" aria-expanded="false" aria-haspopup="true"></a>
                        <div class="menu menu--structural" data-menu="menu" aria-hidden="true">
                            <div class="menu-content">
                                <a href="../community/find-threads/started.html" class="menu-linkRow u-indentDepth0 js-offCanvasCopy " data-nav-id="yourThreads">Your threads</a>
                                <a href="../community/find-threads/contributed.html" class="menu-linkRow u-indentDepth0 js-offCanvasCopy " data-nav-id="contributedThreads">Threads with your posts</a>
                                <a href="../community/find-threads/unanswered.html" class="menu-linkRow u-indentDepth0 js-offCanvasCopy " data-nav-id="unansweredThreads">Unanswered threads</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="p-navEl " data-has-children="true">
                        <a class='p-navEl-link p-navEl-link--splitMenu ' data-nav-id='watched' href='../profile/profile.html'>Your profile</a>

                    </div>
                </li>
                <li>
                    <div class="p-navEl ">
                        <a class='p-navEl-link ' data-nav-id='searchForums' data-xf-key='alt+4' href='error.html'>Your account</a>
                    </div>
                </li>
                <li>
                    <div class="p-navEl ">
                        <a class='p-navEl-link ' data-nav-id='markForumsRead' data-xf-click='overlay' data-xf-key='alt+5' href='error.html'>Log out</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="offCanvasMenu offCanvasMenu--nav js-headerOffCanvasMenu" data-menu="menu" aria-hidden="true" data-ocm-builder="navigation">
    <div class="offCanvasMenu-backdrop" data-menu-close="true"></div>
    <div class="offCanvasMenu-content">
        <div class="offCanvasMenu-header"> 
            Menu
            <a class="offCanvasMenu-closer" data-menu-close="true" role="button" tabindex="0" aria-label="Close"></a>
        </div>
        <div class="p-offCanvasAccountLink">
            <div class="offCanvasMenu-linkHolder">
                <a href="../community/account/index.html" class="offCanvasMenu-link">
                    <span class="avatar avatar--xxs avatar--default avatar--default--image" data-user-id="93264" title="name">
                        <span class="avatar-u93264-s"></span>
                    </span>
                    name
                </a>
            </div>
            <hr class="offCanvasMenu-separator" />
        </div>
        <div class="js-offCanvasNavTarget"></div>
        <div class="offCanvasMenu-installBanner js-installPromptContainer" style="display: none;" data-xf-init="install-prompt">
            <div class="offCanvasMenu-installBanner-header">Install the app</div>
            <button type="button" class="js-installPromptButton button"><span class="button-text">Install</span></button>
        </div>
    </div>
</div>
<div class="p-body">
    <div class="p-breadcrumbs--container">
        <div class="p-breadcrumbs--container--inner">
            <ul class="p-breadcrumbs " itemscope itemtype="https://schema.org/BreadcrumbList">
                <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                    <a href='../index.html' itemprop='item'>
                        <span itemprop="name"><i class="bi bi-house-door px-2"></i>Home</span>
                    </a>
                    <meta itemprop="position" content="1" />
                </li>
            </ul>
        </div>
    </div>
    <div class="p-body-inner">

        <noscript><div class="blockMessage blockMessage--important blockMessage--iconic u-noJsOnly">JavaScript is disabled. For a better experience, please enable JavaScript in your browser before proceeding.</div></noscript>
        <div class="blockMessage blockMessage--important blockMessage--iconic js-browserWarning" style="display: none">You are using an out of date browser. It may not display this or other websites correctly.<br />You should upgrade or use an <a href="https://www.google.com/chrome/" target="_blank" rel="noopener">alternative browser</a>.</div>

        <div class="p-body-main  ">
            <div class="p-body-contentCol"></div>
            <div class="p-body-content is-active">
                <div class="p-body-pageContent">
                    <div class="blockMessage blockMessage--important blockMessage--iconic js-browserWarning" style="display: none">You are using an out of date browser. It may not display this or other websites correctly.<br />You should upgrade or use an <a href="https://www.google.com/chrome/" target="_blank" rel="noopener">alternative browser</a>.</div>
                    <div class="p-body-header">
                        <div class="p-title ">
                            <h1 class="p-title-value">Oops! We ran into some problems.</h1>
                        </div>
                    </div>
                    <div class="p-body-main  ">
                        <div class="p-body-contentCol"></div>
                        <div class="p-body-content is-active">
                            <div class="p-body-pageContent">
                                <div class="blockMessage">
                                    The requested page could not be found.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>