
<!DOCTYPE html>
<html id="XF" lang="en-US" dir="LTR" data-app="public" data-template="login" data-container-key data-content-key data-logged-in="false" data-cookie-prefix="xf_" data-csrf="1706288227,456fb94b856657a26cb36a79600f38a9" class="has-no-js template-login">

<!-- Mirrored from rose-lily.netlify.app/community/community by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 07 Mar 2024 10:37:33 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
	<title>Log in</title>
	<link rel="manifest" href="webmanifest.php">
	<meta name="theme-color" content="#e8e0f5" />
	<meta name="apple-mobile-web-app-title" content="INTERWEBZ">
	<meta name="robots" content="noindex" />
	<meta property="og:site_name" content="INTERWEBZ" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="Log in" />
	<meta property="twitter:title" content="Log in" />
	<meta property="og:url" content="community-2.html" />
	<link rel="preload" href="/rose-lily.netlify.app/community/styles/fonts/fa/fa-regular-400.woff2" as="font" type="font/woff2" crossorigin="anonymous" />
	<link rel="preload" href="/rose-lily.netlify.app/community/styles/fonts/fa/fa-solid-900.woff2" as="font" type="font/woff2" crossorigin="anonymous" />
	<link rel="preload" href="/rose-lily.netlify.app/community/styles/fonts/fa/fa-brands-400.woff2" as="font" type="font/woff2" crossorigin="anonymous" />

	<link rel="stylesheet" href="/rose-lily.netlify.app/forums/styles/a.css" />
	<link rel="stylesheet" href="/rose-lily.netlify.app/community/styles/login.css" />
	@* 	<link rel="stylesheet" href="/rose-lily.netlify.app/community/styles/a.css" /> *@
	<link href="styles/b.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="/rose-lily.netlify.app/community/styles/c.css" />
	<link rel="stylesheet" href="/rose-lily.netlify.app/community/styles/com.css" />
	<link rel="stylesheet" href="/cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" />
	<script src="/js/xf/preamble.min1760.html?_v=d92e847c" type="7ec06a8ae0b7843381bb8eec-text/javascript"></script>
	<link rel="icon" type="image/png" href="/interwebz-cheats.com/community/styles/interwebz/xenforo/xenforo-favicon.html" sizes="32x32" />
	<script class="js-klEditorTemplates" type="application/json">
		[]
	</script>
	<script src="/kit.fontawesome.com/436c17474f.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="/cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

	<script src="/cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</head>
<body data-template="login">
	<div class="p-pageWrapper" id="top">


		<div class="p-sectionLinks d-none d-md-block">
			<div class="p-sectionLinks-inner hScroller" data-xf-init="h-scroller">
				<div class="hScroller-scroll">
					<ul class="p-sectionLinks-list">
						<li>
							<div class="p-navEl ">
								<a class='p-navEl-link ' data-nav-id='defaultLatestActivity' data-xf-key='alt+1' asp-controller="Community" asp-action="Index">Latest activity</a>
							</div>
						</li>
						<li>
							<div class="p-navEl ">
								<a class='p-navEl-link ' data-nav-id='defaultRegister' data-xf-key='alt+2' asp-area="" asp-controller="Community" asp-action="Register">Register</a>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="offCanvasMenu offCanvasMenu--nav js-headerOffCanvasMenu" data-menu="menu" aria-hidden="true" data-ocm-builder="navigation">
			<div class="offCanvasMenu-backdrop" data-menu-close="true"></div>
			<div class="offCanvasMenu-content">
				<div class="offCanvasMenu-header">
					Menu
					<a class="offCanvasMenu-closer" data-menu-close="true" role="button" tabindex="0" aria-label="Close"></a>
				</div>
				<div class="p-offCanvasRegisterLink">
					<div class="offCanvasMenu-linkHolder">
						<a href="login/index.html" class="offCanvasMenu-link" data-xf-click="overlay" data-menu-close="true">
							Log in
						</a>
					</div>
					<hr class="offCanvasMenu-separator" />
					<div class="offCanvasMenu-linkHolder">
						<a href="register/index.html" class="offCanvasMenu-link" data-xf-click="overlay" data-menu-close="true">
							Register
						</a>
					</div>
					<hr class="offCanvasMenu-separator" />
				</div>
				<div class="js-offCanvasNavTarget"></div>
				<div class="offCanvasMenu-installBanner js-installPromptContainer" style="display: none;" data-xf-init="install-prompt">
					<div class="offCanvasMenu-installBanner-header">Install the app</div>
					<button type="button" class="js-installPromptButton button"><span class="button-text">Install</span></button>
				</div>
			</div>
		</div>
		<div class="p-body">
			<div class="p-breadcrumbs--container">
				<div class="p-breadcrumbs--container--inner">
					<ul class="p-breadcrumbs " itemscope itemtype="https://schema.org/BreadcrumbList">
						<li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
							<a class='home' asp-area="" asp-controller="Home" asp-action="Index" itemprop='item'>
								<i class="bi bi-house-door icon-b"></i>
								<span itemprop="name">Home</span>
							</a>
							<meta itemprop="position" content="1" />
						</li>
					</ul>
				</div>
			</div>
			<div class="p-body-inner">

				<noscript><div class="blockMessage blockMessage--important blockMessage--iconic u-noJsOnly">JavaScript is disabled. For a better experience, please enable JavaScript in your browser before proceeding.</div></noscript>
				<div class="blockMessage blockMessage--important blockMessage--iconic js-browserWarning" style="display: none">You are using an out of date browser. It may not display this or other websites correctly.<br />You should upgrade or use an <a href="https://www.google.com/chrome/" target="_blank" rel="noopener">alternative browser</a>.</div>
				<div class="p-body-header">
					<div class="p-title ">
						<h1 class="p-title-value">Log in</h1>
					</div>
				</div>
				<div class="p-body-main  ">
					<div class="p-body-contentCol"></div>
					<div class="p-body-content is-active">
						<div class="p-body-pageContent">
							<div class="blockMessage blockMessage--error blockMessage--iconic">
								You must be logged-in to do that.
							</div>
							<div class="blocks block-container">
								<form action="https://rose-lily.netlify.app/community/login/login" method="post" class="block">
									<div class="block-container">
										<div class="block-body">
											<dl class="formRow formRow--input">
												<dt>
													<div class="formRow-labelWrapper">
														<label class="formRow-label" for="_xfUid-1-1706288227">Your name or email address</label>
													</div>
												</dt>
												<dd>
													<input type="text" class="input" name="login" autofocus="autofocus" autocomplete="username" id="_xfUid-1-1706288227" />
												</dd>
											</dl>
											<dl class="formRow formRow--input">
												<dt>
													<div class="formRow-labelWrapper">
														<label class="formRow-label" for="_xfUid-2-1706288227">Password</label>
													</div>
												</dt>
												<dd>
													<div data-xf-init=" password-hide-show" data-show-text="Show" data-hide-text="Hide">
														<div class="inputGroup inputGroup--joined">
															<input type="password" name="password" value class="input js-password input--passwordHideShow" autocomplete="current-password" id="_xfUid-2-1706288227" />
															<div class="inputGroup-text">
																<label class="iconic iconic--hideShow js-hideShowContainer">
																	<input type="checkbox" value="1" />
																	<!-- <i aria-hidden="true"></i> -->

																	<span class="iconic-label"><i class="bi bi-eye eye-color pe-1"></i>Show</span>
																</label>
															</div>
														</div>
													</div>
													<a href="lost-password/index.html" data-xf-click="overlay">Forgot your password?</a>
												</dd>
											</dl>
											<dl class="formRow">
												<dt>
													<div class="formRow-labelWrapper"></div>
												</dt>
												<dd>
													<ul class="inputChoices">
														<li class="inputChoices-choice">
															<label class="iconic">
																<input class="form-check-input" checked type="checkbox" name="remember" value="1" checked="checked" />
																<i aria-hidden="true"></i>
																<span class="iconic-label">Stay logged in</span>
															</label>
														</li>
													</ul>
												</dd>
											</dl>
											<dl class="formRow">
												<dt></dt>
												<dd style="padding: 0;">
													<div class="formSubmitRow-main">
														<div class="formSubmitRow-bar"></div>
														<div class="formSubmitRow-controls" style="padding-left: 0;">
															<button type="submit" class="button--primary button button--icon ">
																<i class="fa-solid fa-lock icon-b"></i>
																<span class="button-text">Log in</span>
															</button>
														</div>
													</div>
												</dd>
											</dl>
											<input type="hidden" name="_xfRedirect" value />
										</div>
									</div>
									<input type="hidden" name="_xfToken" value="1706288227,456fb94b856657a26cb36a79600f38a9" />
								</form>
							</div>
						</div>
					</div>
				</div>
				<!-- <ul class="p-breadcrumbs p-breadcrumbs--bottom" itemscope itemtype="https://schema.org/BreadcrumbList">
				<li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
				<a href="https://interwebz-cheats.com" itemprop="item">
				<span itemprop="name">Home</span>
				</a>
				<meta itemprop="position" content="1" />
				</li>
				</ul> -->
			</div>
		</div>

	</div>

	<div class="u-scrollButtons js-scrollButtons" data-trigger-type="up">
		<a href="#top" class="button--scroll button" data-xf-click="scroll-to"><span class="button-text"><i class="fa--xf far fa-chevron-up" aria-hidden="true"></i><span class="u-srOnly">Top</span></span></a>
	</div>
	<script src="../../ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" type="7ec06a8ae0b7843381bb8eec-text/javascript"></script>
	<script type="7ec06a8ae0b7843381bb8eec-text/javascript">window.jQuery || document.write('<script src="js/vendor/jquery/jquery-3.5.1.min1760.html?_v=d92e847c"><\/script>')</script>
	<!-- <script src="/community/js/vendor/vendor-compiled.js?_v=d92e847c" type="7ec06a8ae0b7843381bb8eec-text/javascript"></script>
	<script src="/community/js/xf/core-compiled.js?_v=d92e847c" type="7ec06a8ae0b7843381bb8eec-text/javascript"></script>
	<script src="/community/js/xf/login_signup.min.js?_v=d92e847c" type="7ec06a8ae0b7843381bb8eec-text/javascript"></script>
	<script src="/community/js/xf/notice.min.js?_v=d92e847c" type="7ec06a8ae0b7843381bb8eec-text/javascript"></script> -->

	<script type="7ec06a8ae0b7843381bb8eec-text/javascript">
				jQuery.extend(true, XF.config, {
					//
					userId: 0,
					enablePush: false,
					pushAppServerKey: '',
					url: {
						fullBase: '/community/community.html',
						basePath: '/community/',
						css: '/community/css.php?css=__SENTINEL__&s=3&l=1&d=1701887046',
						keepAlive: '/community/login/keep-alive'
					},
					cookie: {
						path: '/',
						domain: '',
						prefix: 'xf_',
						secure: true
					},
					cacheKey: 'f7dc151ba392d51d5104e5fbe7dde236',
					csrf: '1706288227,456fb94b856657a26cb36a79600f38a9',
					js: {"\/community\/js\/xf\/login_signup.min.js?_v=d92e847c":true,"\/community\/js\/xf\/notice.min.js?_v=d92e847c":true},
					css: {"public:notices.less":true,"public:extra.less":true},
					time: {
						now: 1706288227,
						today: 1706227200,
						todayDow: 5,
						tomorrow: 1706313600,
						yesterday: 1706140800,
						week: 1705708800
					},
					borderSizeFeature: '3px',
					fontAwesomeWeight: 'r',
					enableRtnProtect: true,
					enableFormSubmitSticky: true,
					uploadMaxFilesize: 134217728,
					allowedVideoExtensions: ["m4v","mov","mp4","mp4v","mpeg","mpg","ogv","webm"],
					allowedAudioExtensions: ["mp3","ogg","wav"],
					shortcodeToEmoji: true,
					visitorCounts: {
						conversations_unread: '0',
						alerts_unviewed: '0',
						total_unread: '0',
						title_count: true,
						icon_indicator: true
					},
					jsState: {},
					publicMetadataLogoUrl: '',
					publicPushBadgeUrl: 'https://interwebz-cheats.com/community/styles/default/xenforo/bell.png'
				});

				jQuery.extend(XF.phrases, {
					//
		bssp_now: "Now",
					date_x_at_time_y: "{date} at {time}",
					day_x_at_time_y:  "{day} at {time}",
					yesterday_at_x:   "Yesterday at {time}",
					x_minutes_ago:    "{minutes} minutes ago",
					one_minute_ago:   "1 minute ago",
					a_moment_ago:     "A moment ago",
					today_at_x:       "Today at {time}",
					in_a_moment:      "In a moment",
					in_a_minute:      "In a minute",
					in_x_minutes:     "In {minutes} minutes",
					later_today_at_x: "Later today at {time}",
					tomorrow_at_x:    "Tomorrow at {time}",

					day0: "Sunday",
					day1: "Monday",
					day2: "Tuesday",
					day3: "Wednesday",
					day4: "Thursday",
					day5: "Friday",
					day6: "Saturday",

					dayShort0: "Sun",
					dayShort1: "Mon",
					dayShort2: "Tue",
					dayShort3: "Wed",
					dayShort4: "Thu",
					dayShort5: "Fri",
					dayShort6: "Sat",

					month0: "January",
					month1: "February",
					month2: "March",
					month3: "April",
					month4: "May",
					month5: "June",
					month6: "July",
					month7: "August",
					month8: "September",
					month9: "October",
					month10: "November",
					month11: "December",

					active_user_changed_reload_page: "The active user has changed. Reload the page for the latest version.",
					server_did_not_respond_in_time_try_again: "The server did not respond in time. Please try again.",
					oops_we_ran_into_some_problems: "Oops! We ran into some problems.",
					oops_we_ran_into_some_problems_more_details_console: "Oops! We ran into some problems. Please try again later. More error details may be in the browser console.",
					file_too_large_to_upload: "The file is too large to be uploaded.",
					uploaded_file_is_too_large_for_server_to_process: "The uploaded file is too large for the server to process.",
					files_being_uploaded_are_you_sure: "Files are still being uploaded. Are you sure you want to submit this form?",
					attach: "Attach files",
					rich_text_box: "Rich text box",
					close: "Close",
					link_copied_to_clipboard: "Link copied to clipboard.",
					text_copied_to_clipboard: "Text copied to clipboard.",
					loading: "Loading…",

					processing: "Processing",
					'processing...': "Processing…",

					showing_x_of_y_items: "Showing {count} of {total} items",
					showing_all_items: "Showing all items",
					no_items_to_display: "No items to display",

					number_button_up: "Increase",
					number_button_down: "Decrease",

					push_enable_notification_title: "Push notifications enabled successfully at INTERWEBZ",
					push_enable_notification_body: "Thank you for enabling push notifications!"
				,
					"svStandardLib_time.day": "{count} day",
					"svStandardLib_time.days": "{count} days",
					"svStandardLib_time.hour": "{count} hour",
					"svStandardLib_time.hours": "{count} hours",
					"svStandardLib_time.minute": "{count} minutes",
					"svStandardLib_time.minutes": "{count} minutes",
					"svStandardLib_time.month": "{count} month",
					"svStandardLib_time.months": "{count} months",
					"svStandardLib_time.second": "{count} second",
					"svStandardLib_time.seconds": "{count} seconds",
					"svStandardLib_time.week": "time.week",
					"svStandardLib_time.weeks": "{count} weeks",
					"svStandardLib_time.year": "{count} year",
					"svStandardLib_time.years": "{count} years"

				});
	</script>
	<form style="display:none" hidden="hidden">
		<input type="text" name="_xfClientLoadTime" value id="_xfClientLoadTime" title="_xfClientLoadTime" tabindex="-1" />
	</form>

	<script src="newjs/rocket-loader.min.js" data-cf-settings="7ec06a8ae0b7843381bb8eec-|49" defer></script>
	<script defer src="https://static.cloudflareinsights.com/beacon.min.js/v84a3a4012de94ce1a686ba8c167c359c1696973893317" integrity="sha512-euoFGowhlaLqXsPWQ48qSkBSCFs3DPRyiwVu3FjR96cMPx+Fr+gpWRhIafcHwqwCqWS42RZhIudOvEI+Ckf6MA==" data-cf-beacon='{"rayId":"84ba4b0f2db77c40","version":"2024.1.0","token":"6804e66e506340e3a1643802f2023a2c"}' crossorigin="anonymous"></script>
</body>

<!-- Mirrored from rose-lily.netlify.app/community/community by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 07 Mar 2024 10:37:38 GMT -->
</html>
