<!DOCTYPE html>
<html id="XF" lang="en-US" dir="LTR" data-app="public" data-template="account_details" data-container-key data-content-key data-logged-in="true" data-cookie-prefix="xf_" data-csrf="1706610609,b8cf4adc8f25f42cd5c5bf366c5b3409" class="has-no-js template-account_details">


<!-- Mirrored from rose-lily.netlify.app/community/account/security by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 07 Mar 2024 10:41:03 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <title>Security | INTERWEBZ</title>
    <link rel="manifest" href="../webmanifest.php">
    <meta name="theme-color" content="#e8e0f5" />
    <meta name="apple-mobile-web-app-title" content="INTERWEBZ">
    <meta property="og:site_name" content="INTERWEBZ" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Account details" />
    <meta property="twitter:title" content="Account details" />
    <meta property="og:url" content="https://interwebz-cheats.com/community/account/account-details" />
    <link rel="preload" href="/rose-lily.netlify.app/community/styles/fonts/fa/fa-regular-40094ec.woff2?_v=5.15.1" as="font" type="font/woff2" crossorigin="anonymous" />
    <link rel="preload" href="/rose-lily.netlify.app/community/styles/fonts/fa/fa-solid-90094ec.woff2?_v=5.15.1" as="font" type="font/woff2" crossorigin="anonymous" />
    <link rel="preload" href="/rose-lily.netlify.app/community/styles/fonts/fa/fa-brands-40094ec.woff2?_v=5.15.1" as="font" type="font/woff2" crossorigin="anonymous" />
    <link rel="stylesheet" href="/rose-lily.netlify.app/forums/styles/a.css" />
    <link rel="stylesheet" href="/rose-lily.netlify.app/community/account/styles/security.css" />
   @*  <link href="http://fonts.googleapis.com/css?family=Inter:100,200,300,400,500,600,700,800,900" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://interwebz-cheats.com/community/css.php?css=public%3Aextra.less&s=3&l=1&d=1701887046&k=ecf063da16fd021a4925bf706c71b12a5c70cd0b" /> *@
   @*  <script src="/js/xf/preamble.min1760.js?_v=d92e847c" type="78b77f39506b02cd23924c81-text/javascript"></script> *@
    <link rel="icon" type="image/png" href="/interwebz-cheats.com/community/styles/interwebz/xenforo/xenforo-favicon.html" sizes="32x32" />
    <script class="js-klEditorTemplates" type="application/json">
        []
    </script>

    <link rel="stylesheet" href="/cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" />
    <script src="/kit.fontawesome.com/436c17474f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <script src="/cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

    <script src="/code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="/cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="/cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>

<body data-template="account_details">
    <div class="p-pageWrapper" id="top">
       
        <div class="p-sectionLinks">
            <div class="p-sectionLinks-inner hScroller" data-xf-init="h-scroller">
                <div class="hScroller-scroll">
                    <ul class="p-sectionLinks-list">
                        <!-- <li>
                            <div class="p-navEl ">
                                <a href="/community/whats-new/news-feed" class="p-navEl-link " data-xf-key="alt+1" data-nav-id="defaultNewsFeed">Your news feed</a>
                            </div>
                        </li> -->
                        <li>
                            <div class="p-navEl ">
                                <a class='p-navEl-link ' data-nav-id='defaultLatestActivity' data-xf-key='alt+2' asp-area="" asp-controller="Home" asp-action="Community">Latest activity</a>
                            </div>
                        </li>
                        <li>
                            <div class="p-navEl ">
                                <a class='p-navEl-link ' data-nav-id='defaultYourProfile' data-xf-key='alt+3' asp-area="" asp-controller="Community" asp-action="Profile">Your profile</a>
                            </div>
                        </li>
                        <li>
                            <div class="p-navEl ">
                                <a class='p-navEl-link ' data-nav-id='defaultYourAccount' data-xf-key='alt+4' asp-area="" asp-controller="Community" asp-action="Account">Your account</a>
                            </div>
                        </li>
                        <li>
                            <div class="p-navEl ">
                                <a class='p-navEl-link ' data-nav-id='defaultLogOut' data-xf-key='alt+5' asp-area="" asp-controller="Community" asp-action="Error">Log out</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="offCanvasMenu offCanvasMenu--nav js-headerOffCanvasMenu" data-menu="menu" aria-hidden="true" data-ocm-builder="navigation">
            <div class="offCanvasMenu-backdrop" data-menu-close="true"></div>
            <div class="offCanvasMenu-content">
                <div class="offCanvasMenu-header">
                    Menu
                    <a class="offCanvasMenu-closer" data-menu-close="true" role="button" tabindex="0" aria-label="Close"></a>
                </div>
                <div class="p-offCanvasAccountLink">
                    <div class="offCanvasMenu-linkHolder">
                        <a href="index.html" class="offCanvasMenu-link">
                            <span class="avatar avatar--xxs avatar--default avatar--default--image" data-user-id="93264" title="toufiq">
                                <span class="avatar-u93264-s"></span>
                            </span>
                            toufiq
                        </a>
                    </div>
                    <hr class="offCanvasMenu-separator" />
                </div>
                <div class="js-offCanvasNavTarget"></div>
                <div class="offCanvasMenu-installBanner js-installPromptContainer" style="display: none;" data-xf-init="install-prompt">
                    <div class="offCanvasMenu-installBanner-header">Install the app</div>
                    <button type="button" class="js-installPromptButton button"><span class="button-text">Install</span></button>
                </div>
            </div>
        </div>
        <div class="p-body">
            <div class="p-breadcrumbs--container">
                <div class="p-breadcrumbs--container--inner">
                    <ul class="p-breadcrumbs " itemscope itemtype="https://schema.org/BreadcrumbList">
                        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                            <a asp-area="" asp-controller="Home" asp-action="Index" itemprop='item'>
                                <span itemprop="name"><i class="bi bi-house-door px-2"></i>Home</span>
                            </a>
                            <meta itemprop="position" content="1" />
                        </li>
                        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                            <a asp-area="" asp-controller="Community" asp-action="Account" itemprop='item'>
                                <span itemprop="name"><i class="bi bi-chevron-right px-1"></i>Your account</span>
                            </a>
                            <meta itemprop="position" content="2" />
                        </li>
                    </ul>
                </div>
            </div>
            <div class="p-body-inner">

                <noscript><div class="blockMessage blockMessage--important blockMessage--iconic u-noJsOnly">JavaScript is disabled. For a better experience, please enable JavaScript in your browser before proceeding.</div></noscript>
                <div class="blockMessage blockMessage--important blockMessage--iconic js-browserWarning" style="display: none">You are using an out of date browser. It may not display this or other websites correctly.<br />You should upgrade or use an <a href="https://www.google.com/chrome/" target="_blank" rel="noopener">alternative browser</a>.</div>
                <div class="p-body-header">
                    <div class="p-title ">
                        <h1 class="p-title-value">PASSWORD AND SECURITY</h1>
                    </div>
                </div>
                <div class="p-body-main  p-body-main--withSideNav">
                    <div class="p-body-sideNavCol"></div>
                    <div class="p-body-contentCol"></div>
                    <div class="p-body-sideNav">
                        <div class="p-body-sideNavTrigger">
                            <button type="button" class="button--link button" data-xf-click="off-canvas" data-menu="#js-SideNavOcm">
                                <span class="button-text">
                                    Your account
                                </span>
                            </button>
                        </div>
                        <div class="p-body-sideNavInner" data-ocm-class="offCanvasMenu offCanvasMenu--blocks" id="js-SideNavOcm" data-ocm-builder="sideNav">
                            <div data-ocm-class="offCanvasMenu-backdrop" data-menu-close="true"></div>
                            <div data-ocm-class="offCanvasMenu-content">
                                <div class="p-body-sideNavContent">
                                    <div class="block">
                                        <div class="block-container">
                                            <h3 class="block-header" style="background: #362a51">Your account</h3>
                                            <div class="block-body" style="background: #483663;">
                                                <a class='blockLink' asp-area="" asp-controller="Community" asp-action="Profile">Your profile</a>
                                                <a class='blockLink ' href='../../error/error.html'>
                                                    Alerts
                                                </a>
                                                <!-- <a class="blockLink " href="/Error/error.html">
                                                Reactions received
                                                </a>
                                                                                                <a class="blockLink " href="/Error/error.html">
                                                Bookmarks
                                                </a> -->
                                            </div>
                                            <h3 class="block-minorHeader">Settings</h3>
                                            <div class="block-body" style="background: #483663;">
                                                <a class='blockLink ' asp-area="" asp-controller="Community" asp-action="Account">
                                                    Account details
                                                </a>
                                                <a class="blockLink is-selected" href="security.html">
                                                    Password and security
                                                </a>
                                                <!-- <a class="blockLink " href="/Error/error.html">
                                                Privacy
                                                </a>
                                                                                                <a class="blockLink " href="/Error/error.html">
                                                Preferences
                                                </a>
                                                                                                <a class="blockLink " href="/Error/error.html">
                                                Signature
                                                </a>
                                                                                                <a class="blockLink " href="/Error/error.html">
                                                Following
                                                </a>
                                                                                                <a class="blockLink " href="/Error/error.html">
                                                Ignoring
                                                </a> -->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="block">
                                        <div class="block-container">
                                            <div class="block-body">
                                                <a class='blockLink' href='../../error/error.html'>Log out</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="p-body-content is-active">
                        <div class="p-body-pageContent">
                            <!-- block container -->
                            <form action="https://rose-lily.netlify.app/community/account/security" method="post" class="block" data-xf-init="ajax-submit" data-force-flash-message="true">
                                <div class="block-container">
                                    <div class="block-body">
                                        <dl class="formRow formRow--button">
                                            <dt>
                                                <div class="formRow-labelWrapper">
                                                    <label class="formRow-label">Two-step verification</label>
                                                </div>
                                            </dt>
                                            <dd>
                                                Disabled
                                                <a href="#" class="button--link button"><span class="button-text">Change</span></a>
                                            </dd>
                                        </dl>
                                        <hr class="formRowSep" />
                                        <dl class="formRow formRow--input">
                                            <dt>
                                                <div class="formRow-labelWrapper">
                                                    <label class="formRow-label" for="_xfUid-1-1706763424">Your existing password</label>
                                                </div>
                                            </dt>
                                            <dd>
                                                <div data-xf-init="password-hide-show" data-show-text="Show" data-hide-text="Hide">
                                                    <div class="inputGroup inputGroup--joined">
                                                        <input type="password" name="old_password" value class="input js-password input--passwordHideShow" autocomplete="current-password" autofocus="autofocus" id="_xfUid-1-1706763424" />
                                                        <div class="inputGroup-text">
                                                            <label class="iconic iconic--hideShow js-hideShowContainer" onclick="togglePasswordVisibility()">
                                                                <i class="fa-regular fa-eye eye-btn"></i>
                                                                <span class="iconic-label">Show</span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="formRow-explain">For security reasons, you must verify your existing password before you may set a new password.</div>
                                            </dd>
                                        </dl>
                                        <dl class="formRow formRow--input">
                                            <dt>
                                                <div class="formRow-labelWrapper">
                                                    <label class="formRow-label" for="_xfUid-2-1706763424">New password</label>
                                                </div>
                                            </dt>
                                            <dd>
                                                <div data-xf-init="password-strength password-hide-show" data-show-text="Show" data-hide-text="Hide">
                                                    <div data-xf-init="password-hide-show" data-show-text="Show" data-hide-text="Hide">
                                                        <div class="inputGroup inputGroup--joined">
                                                            <input type="password" name="old_password" value class="input js2-password input--passwordHideShow" autocomplete="current-password" autofocus="autofocus" id="_xfUid-1-1706763424" />
                                                            <div class="inputGroup-text">
                                                                <label class="iconic iconic--hideShow js-hideShowContainer" onclick="togglePasswordVisibility2()">
                                                                    <i class="fa-regular fa-eye eye-btn"></i>
                                                                    <span class="iconic-label">Show</span>
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <meter min="0" max="100" class="meterBar js-strengthMeter" low="40" high="80" optimum="100"></meter>
                                                    <span class="js-strengthText meterBarLabel">Entering a password is required.</span>
                                                    <script class="js-zxcvbnLanguage" type="application/json">
                                                        {
                                                            "Straight rows of keys are easy to guess": "Straight rows of keys are easy to guess.",
                                                            "Short keyboard patterns are easy to guess": "Short keyboard patterns are easy to guess.",
                                                            "Repeats like \"aaa\" are easy to guess": "Repeated characters such as \"aaa\" are easy to guess.",
                                                            "Repeats like \"abcabcabc\" are only slightly harder to guess than \"abc\"": "Repeated characters such as \"abcabcabc\" are only slightly more difficult to guess than \"abc\".",
                                                            "Avoid repeated words and characters": "Avoid repeated words and characters.",
                                                            "Sequences like abc or 6543 are easy to guess": "Sequences like \"abc\" or \"6543\" are easy to guess.",
                                                            "Recent years are easy to guess": "Recent years are easy to guess.",
                                                            "Dates are often easy to guess": "Dates are often easy to guess.",
                                                            "This is a top-10 common password": "This password appears in the Top 10 most common passwords list.",
                                                            "This is a top-100 common password": "This password appears in the Top 100 most common passwords list.",
                                                            "This is a very common password": "This password is a very common password.",
                                                            "This is similar to a commonly used password": "This password is similar to a commonly used password.",
                                                            "A word by itself is easy to guess": "A word by itself is easy to guess.",
                                                            "Names and surnames by themselves are easy to guess": "Names and surnames by themselves are easy to guess.",
                                                            "Common names and surnames are easy to guess": "Common names and surnames are easy to guess.",

                                                            "The chosen password could be stronger": "The chosen password could be stronger.",
                                                            "Entering a password is required": "Entering a password is required.",
                                                            "This is a very strong password": "This is a very strong password.",
                                                            "This is a reasonably strong password": "This is a reasonably strong password."
                                                        }
                                                    </script>
                                                </div>
                                            </dd>
                                        </dl>
                                        <dl class="formRow formRow--input">
                                            <dt>
                                                <div class="formRow-labelWrapper">
                                                    <label class="formRow-label" for="_xfUid-3-1706763424">Confirm new password</label>
                                                </div>
                                            </dt>
                                            <dd>
                                                <div data-xf-init="password-hide-show" data-show-text="Show" data-hide-text="Hide">
                                                    <div class="inputGroup inputGroup--joined">
                                                        <input type="password" name="old_password" value class="input js3-password input--passwordHideShow" autocomplete="current-password" autofocus="autofocus" id="_xfUid-1-1706763424" />
                                                        <div class="inputGroup-text">
                                                            <label class="iconic iconic--hideShow js-hideShowContainer" onclick="togglePasswordVisibility3()">
                                                                <i class="fa-regular fa-eye eye-btn"></i>
                                                                <span class="iconic-label">Show</span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </dd>
                                        </dl>
                                    </div>
                                    <dl class="formRow formSubmitRow">
                                        <dt class="d-none"></dt>
                                        <dd>
                                            <div class="formSubmitRow-main">
                                                <div class="formSubmitRow-bar"></div>
                                                <div class="formSubmitRow-controls">
                                                    <button type="submit" class="button--primary button button--icon ">
                                                        <span class="button-text"><i class="fa-regular fa-floppy-disk px-1"></i> Save</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </dd>
                                    </dl>
                                </div>
                                <input type="hidden" name="_xfRedirect" value="https://interwebz-cheats.com/community/account/security" />
                                <input type="hidden" name="_xfToken" value="1706763424,a7dae61663bf5548627cd99811066c1d" />
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        
    </div>
    <div class="u-bottomFixer js-bottomFixTarget">
    </div>
    <div class="u-scrollButtons js-scrollButtons" data-trigger-type="up">
        <a href="#top" class="button--scroll button" data-xf-click="scroll-to"><span class="button-text"><i class="fa--xf far fa-chevron-up" aria-hidden="true"></i><span class="u-srOnly">Top</span></span></a>
    </div>
    <script src="../../../ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" type="78b77f39506b02cd23924c81-text/javascript"></script>
    <script type="78b77f39506b02cd23924c81-text/javascript">
        window.jQuery || document.write('<script src="../js/vendor/jquery/jquery-3.5.1.min1760.html?_v=d92e847c"><\/script>')
    </script>
    <!-- <script src="/community/js/vendor/vendor-compiled.js?_v=d92e847c" type="78b77f39506b02cd23924c81-text/javascript"></script>
    <script src="/community/js/xf/core-compiled.js?_v=d92e847c" type="78b77f39506b02cd23924c81-text/javascript"></script>
    <script src="/community/js/xf/editor-compiled.js?_v=d92e847c" type="78b77f39506b02cd23924c81-text/javascript"></script>
    <script src="/community/js/vendor/froala/plugins/fullscreen.min.js?_v=d92e847c" type="78b77f39506b02cd23924c81-text/javascript"></script>
    <script src="/community/js/editor-manager/plugins/specialCharacters.plugin.min.js?_v=d92e847c" type="78b77f39506b02cd23924c81-text/javascript"></script>
    <script src="/community/js/editor-manager/plugins/unlinkAll.plugin.min.js?_v=d92e847c" type="78b77f39506b02cd23924c81-text/javascript"></script>
    <script src="/community/js/editor-manager/base.min.js?_v=d92e847c" type="78b77f39506b02cd23924c81-text/javascript"></script>
     -->
    <script type="78b77f39506b02cd23924c81-text/javascript">
        jQuery.extend(true, XF.config, {
            //
            userId: 93264,
            enablePush: false,
            pushAppServerKey: '',
            url: {
                fullBase: 'https://interwebz-cheats.com/community/',
                basePath: '/community/',
                css: '/community/css.php?css=__SENTINEL__&s=3&l=1&d=1701887046',
                keepAlive: '/community/login/keep-alive'
            },
            cookie: {
                path: '/',
                domain: '',
                prefix: 'xf_',
                secure: true
            },
            cacheKey: '9d2ccb17cbe27892689452cd234287d4',
            csrf: '1706610609,b8cf4adc8f25f42cd5c5bf366c5b3409',
            js: {
                "\/community\/js\/xf\/editor-compiled.js?_v=d92e847c": true,
                "\/community\/js\/vendor\/froala\/plugins\/fullscreen.min.js?_v=d92e847c": true,
                "\/community\/js\/editor-manager\/plugins\/specialCharacters.plugin.min.js?_v=d92e847c": true,
                "\/community\/js\/editor-manager\/plugins\/unlinkAll.plugin.min.js?_v=d92e847c": true,
                "\/community\/js\/editor-manager\/base.min.js?_v=d92e847c": true
            },
            css: {
                "public:editor.less": true,
                "public:kl_em_froala_fullscreen.less": true,
                "public:kl_em_froala_image.less": true,
                "public:kl_em_froala_special_characters.less": true,
                "public:extra.less": true
            },
            time: {
                now: 1706610609,
                today: 1706551200,
                todayDow: 2,
                tomorrow: 1706637600,
                yesterday: 1706464800,
                week: 1706032800
            },
            borderSizeFeature: '3px',
            fontAwesomeWeight: 'r',
            enableRtnProtect: true,
            enableFormSubmitSticky: true,
            uploadMaxFilesize: 134217728,
            allowedVideoExtensions: ["m4v", "mov", "mp4", "mp4v", "mpeg", "mpg", "ogv", "webm"],
            allowedAudioExtensions: ["mp3", "ogg", "wav"],
            shortcodeToEmoji: true,
            visitorCounts: {
                conversations_unread: '0',
                alerts_unviewed: '0',
                total_unread: '0',
                title_count: true,
                icon_indicator: true
            },
            jsState: {},
            publicMetadataLogoUrl: '',
            publicPushBadgeUrl: 'https://interwebz-cheats.com/community/styles/default/xenforo/bell.png'
        });

        jQuery.extend(XF.phrases, {
            //
            bssp_now: "Now",
            date_x_at_time_y: "{date} at {time}",
            day_x_at_time_y: "{day} at {time}",
            yesterday_at_x: "Yesterday at {time}",
            x_minutes_ago: "{minutes} minutes ago",
            one_minute_ago: "1 minute ago",
            a_moment_ago: "A moment ago",
            today_at_x: "Today at {time}",
            in_a_moment: "In a moment",
            in_a_minute: "In a minute",
            in_x_minutes: "In {minutes} minutes",
            later_today_at_x: "Later today at {time}",
            tomorrow_at_x: "Tomorrow at {time}",

            day0: "Sunday",
            day1: "Monday",
            day2: "Tuesday",
            day3: "Wednesday",
            day4: "Thursday",
            day5: "Friday",
            day6: "Saturday",

            dayShort0: "Sun",
            dayShort1: "Mon",
            dayShort2: "Tue",
            dayShort3: "Wed",
            dayShort4: "Thu",
            dayShort5: "Fri",
            dayShort6: "Sat",

            month0: "January",
            month1: "February",
            month2: "March",
            month3: "April",
            month4: "May",
            month5: "June",
            month6: "July",
            month7: "August",
            month8: "September",
            month9: "October",
            month10: "November",
            month11: "December",

            active_user_changed_reload_page: "The active user has changed. Reload the page for the latest version.",
            server_did_not_respond_in_time_try_again: "The server did not respond in time. Please try again.",
            oops_we_ran_into_some_problems: "Oops! We ran into some problems.",
            oops_we_ran_into_some_problems_more_details_console: "Oops! We ran into some problems. Please try again later. More error details may be in the browser console.",
            file_too_large_to_upload: "The file is too large to be uploaded.",
            uploaded_file_is_too_large_for_server_to_process: "The uploaded file is too large for the server to process.",
            files_being_uploaded_are_you_sure: "Files are still being uploaded. Are you sure you want to submit this form?",
            attach: "Attach files",
            rich_text_box: "Rich text box",
            close: "Close",
            link_copied_to_clipboard: "Link copied to clipboard.",
            text_copied_to_clipboard: "Text copied to clipboard.",
            loading: "Loading…",

            processing: "Processing",
            'processing...': "Processing…",

            showing_x_of_y_items: "Showing {count} of {total} items",
            showing_all_items: "Showing all items",
            no_items_to_display: "No items to display",

            number_button_up: "Increase",
            number_button_down: "Decrease",

            push_enable_notification_title: "Push notifications enabled successfully at INTERWEBZ",
            push_enable_notification_body: "Thank you for enabling push notifications!",
            "svStandardLib_time.day": "{count} day",
            "svStandardLib_time.days": "{count} days",
            "svStandardLib_time.hour": "{count} hour",
            "svStandardLib_time.hours": "{count} hours",
            "svStandardLib_time.minute": "{count} minutes",
            "svStandardLib_time.minutes": "{count} minutes",
            "svStandardLib_time.month": "{count} month",
            "svStandardLib_time.months": "{count} months",
            "svStandardLib_time.second": "{count} second",
            "svStandardLib_time.seconds": "{count} seconds",
            "svStandardLib_time.week": "time.week",
            "svStandardLib_time.weeks": "{count} weeks",
            "svStandardLib_time.year": "{count} year",
            "svStandardLib_time.years": "{count} years"

        });
    </script>
    <form style="display:none" hidden="hidden">
        <input type="text" name="_xfClientLoadTime" value id="_xfClientLoadTime" title="_xfClientLoadTime" tabindex="-1" />
    </form>
    <script type="text/template" id="xfReactTooltipTemplate">
        <div class="tooltip-content-inner">
            <div class="reactTooltip">

                <a href="#" class="reaction reaction--1" data-reaction-id="1"><i aria-hidden="true"></i><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" class="reaction-sprite js-reaction" alt="Like" title="Like" data-xf-init="tooltip" data-extra-class="tooltip--basic tooltip--noninteractive" /></a>

                <a href="#" class="reaction reaction--2" data-reaction-id="2"><i aria-hidden="true"></i><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" class="reaction-sprite js-reaction" alt="Love" title="Love" data-xf-init="tooltip" data-extra-class="tooltip--basic tooltip--noninteractive" /></a>

                <a href="#" class="reaction reaction--3" data-reaction-id="3"><i aria-hidden="true"></i><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" class="reaction-sprite js-reaction" alt="Haha" title="Haha" data-xf-init="tooltip" data-extra-class="tooltip--basic tooltip--noninteractive" /></a>

                <a href="#" class="reaction reaction--4" data-reaction-id="4"><i aria-hidden="true"></i><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" class="reaction-sprite js-reaction" alt="Wow" title="Wow" data-xf-init="tooltip" data-extra-class="tooltip--basic tooltip--noninteractive" /></a>

                <a href="#" class="reaction reaction--5" data-reaction-id="5"><i aria-hidden="true"></i><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" class="reaction-sprite js-reaction" alt="Sad" title="Sad" data-xf-init="tooltip" data-extra-class="tooltip--basic tooltip--noninteractive" /></a>

                <a href="#" class="reaction reaction--6" data-reaction-id="6"><i aria-hidden="true"></i><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" class="reaction-sprite js-reaction" alt="Angry" title="Angry" data-xf-init="tooltip" data-extra-class="tooltip--basic tooltip--noninteractive" /></a>

            </div>
        </div>
    </script>
    <script>
        function togglePasswordVisibility() {
            var passwordField = document.querySelector('.js-password');

            // Toggle the type attribute between 'text' and 'password'
            passwordField.type = passwordField.type === 'password' ? 'text' : 'password';
        }
        function togglePasswordVisibility2() {
            var passwordField = document.querySelector('.js2-password');

            // Toggle the type attribute between 'text' and 'password'
            passwordField.type = passwordField.type === 'password' ? 'text' : 'password';
        }
        function togglePasswordVisibility3() {
            var passwordField = document.querySelector('.js3-password');

            // Toggle the type attribute between 'text' and 'password'
            passwordField.type = passwordField.type === 'password' ? 'text' : 'password';
        }
    </script>
    <script src="/cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.html" data-cf-settings="78b77f39506b02cd23924c81-|49" defer></script>
    <script defer src="https://static.cloudflareinsights.com/beacon.min.js/v84a3a4012de94ce1a686ba8c167c359c1696973893317" integrity="sha512-euoFGowhlaLqXsPWQ48qSkBSCFs3DPRyiwVu3FjR96cMPx+Fr+gpWRhIafcHwqwCqWS42RZhIudOvEI+Ckf6MA==" data-cf-beacon='{"rayId":"84d909b75e33bc25","version":"2024.1.0","token":"6804e66e506340e3a1643802f2023a2c"}'
            crossorigin="anonymous"></script>
</body>


<!-- Mirrored from rose-lily.netlify.app/community/account/security by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 07 Mar 2024 10:41:03 GMT -->
</html>