
    <div wire:id="h3RJP3Ej4MnhhYJ86G81" class="flex-1">
    <div x-data="{ navOpen: false }" class="relative overflow-hidden bg-neutral-600 text-neutral-100">
    <div class="max-w-8xl mx-auto px-4 sm:px-6 lg:px-8 lg:items-center lg:flex py-4 lg:py-6">
    <div class="w-full lg:grid lg:grid-cols-12 lg:gap-8">
    <div class=" z-10 pb-8 sm:pb-16 md:pb-20 lg:max-w-3xl lg:w-full lg:pb-28 xl:pb-32 lg:col-span-6">

                        @{
                            await Html.RenderPartialAsync("_TopNav");
                        }
   
    <main>
    <div class="max-w-screen-xl mx-auto mt-10 sm:mt-12 md:mt-16 lg:mt-20 xl:mt-28">
    <div class="text-center lg:text-left">
    <h2 class="text-3xl font-extrabold leading-10 tracking-tight sm:leading-cta sm:text-cta text-neutral-100">
    Looking for Premium Cheats?
    </h2>
    <h2 class="text-3xl font-extrabold leading-10 tracking-tight text-transparent bg-gradient-to-r from-brand-orange to-brand-red bg-clip-text sm:leading-cta sm:text-cta">
    Welcome to INTERWEBZ
    </h2>
    <p class="mt-3 text-base text-neutral-200 sm:mt-5 sm:text-lg sm:max-w-xl sm:mx-auto md:mt-5 md:text-xl lg:mx-0">
    We offer premium cheats that are affordable, high-quality, easy-to-use, frequently updated, and part of a growing
    catalog.
    </p>
    <div class="mt-5 space-y-4 sm:space-y-0 sm:space-x-4 sm:mt-8 sm:flex sm:justify-center lg:justify-start">
    <span class="flex rounded-md shadow-sm ">
    <a asp-area="" asp-controller="Home" asp-action="Products" class="inline-flex items-center justify-center border font-medium focus:outline-none transition duration-150 ease-in-out disabled:opacity-75 disabled:cursor-not-allowed px-8 py-3 text-base leading-6 rounded-md md:text-lg text-neutral-100 bg-gradient-to-r from-brand-orange to-brand-red border-transparent opacity-75 hover:opacity-100 focus:outline-none focus:ring ring-brand-orange ring-opacity-50 disabled:opacity-75 disabled:cursor-not-allowed w-full" size="xxl" wire:loading.attr="disabled">
    View Our Cheats
    </a>
    </span>
    <span class="flex rounded-md shadow-sm ">
    <a asp-area="" asp-controller="Community" asp-action="Index" class="inline-flex items-center justify-center border font-medium focus:outline-none transition duration-150 ease-in-out disabled:opacity-75 disabled:cursor-not-allowed px-8 py-3 text-base leading-6 rounded-md md:text-lg border border-neutral-350 text-neutral-200 bg-neutral-400 hover:bg-neutral-350 hover:text-neutral-100 focus:bg-neutral-350 focus:text-neutral-100 focus:ring ring-neutral-300 ring-opacity-75 active:text-neutral-100 active:bg-neutral-300 transition disabled:pointer-events-none disabled:opacity-75 disabled:cursor-not-allowed w-full" size="xxl" wire:loading.attr="disabled">
    Community Forums
    </a>
    </span>
    </div>
    </div>
    </div>
    </main>
    </div>
    <div class="lg:col-span-6 z-6">
    <div x-data="{ open: false }" class="flex items-center justify-center px-8 lg:mt-40 xl:mt-32 lg:pr-0 lg:pl-12">
    <div class="relative">
    <a href="#">
    <div class="relative transition rounded-lg shadow-xl focus:outline-none focus:ring ring-neutral-300 ring-opacity-75 group">
    <img class="w-full rounded-md shadow" src="/rose-lily.netlify.app/styles/img/marketing/thumbnail.jpg" alt="INTERWEBZ Promotional Image">
    <div class="absolute inset-0 transition rounded-md opacity-0 bg-neutral-700 group-hover:opacity-50"></div>
    <div class="absolute inset-0 flex items-center justify-center w-full h-full transition duration-200 opacity-0 group-hover:opacity-100">
    <span class="flex rounded-md shadow-sm ">
    <button type="button" class="inline-flex items-center justify-center border font-medium focus:outline-none transition duration-150 ease-in-out px-4 py-2 text-sm leading-5 rounded-md border border-neutral-350 text-neutral-200 bg-neutral-400 hover:bg-neutral-350 hover:text-neutral-100 focus:bg-neutral-350 focus:text-neutral-100 focus:ring ring-neutral-300 ring-opacity-75 active:text-neutral-100 active:bg-neutral-300 transition disabled:pointer-events-none disabled:opacity-75 disabled:cursor-not-allowed space-x-2 pointer-events-none" wire:loading.attr="disabled">
    <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
    <path d="M3 1a1 1 0 000 2h1.22l.305 1.222a.997.997 0 00.01.042l1.358 5.43-.893.892C3.74 11.846 4.632 14 6.414 14H15a1 1 0 000-2H6.414l1-1H14a1 1 0 00.894-.553l3-6A1 1 0 0017 3H6.28l-.31-1.243A1 1 0 005 1H3zM16 16.5a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0zM6.5 18a1.5 1.5 0 100-3 1.5 1.5 0 000 3z"></path>
    </svg> <span>Purchase Now</span>
    </button>
    </span>
    </div>
    </div>
    </a>
    </div>
    </div>
    </div>
    </div>
                <div class="hidden lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2 lg:block">
                    <div x-init="setInterval(() => { setImage() }, 7500)" class="w-full h-full" x-data="{
                         base: './rose-lily.netlify.app/styles/img/marketing/maps' ,
                         currentImage: 0,
                         images: ['dust2', 'inferno' , 'mirage' , 'nuke' , 'overpass' , 'cache' ],
                         setImage() {
                         const max=this.images.length;
                         if (this.currentImage>
                        = this.images.length - 1) {
                        return this.currentImage = 0;
                        }

                        return this.currentImage += 1;
                        },
                        }">
                        <template x-for="map in images">
                            <img class="object-cover w-full h-56 transition sm:h-72 md:h-96 lg:w-full lg:h-full" :src="`${base}/${map}.jpg`" x-show="currentImage == images.indexOf(map)" x-transition:enter-start="opacity-0" x-transition:enter="ease-linear duration-300" x-transition:enter-end="opacity-100" x-transition:leave-start="opacity-100" x-transition:leave="ease-linear duration-200" x-transition:leave-end="opacity-0" :id="map">
                        </template>

                        <img class="object-cover w-full h-56 transition sm:h-72 md:h-96 lg:w-full lg:h-full" :src="`${base}/${map}.jpg`" x-show="currentImage == images.indexOf(map)" x-transition:enter-start="opacity-0" x-transition:enter="ease-linear duration-300" x-transition:enter-end="opacity-100" x-transition:leave-start="opacity-100" x-transition:leave="ease-linear duration-200" x-transition:leave-end="opacity-0" :id="map" src="/rose-lily.netlify.app/styles/img/marketing/maps/dust2.jpg" id="dust2" style="display: none;">

                        <img class="object-cover w-full h-56 transition sm:h-72 md:h-96 lg:w-full lg:h-full" :src="`${base}/${map}.jpg`" x-show="currentImage == images.indexOf(map)" x-transition:enter-start="opacity-0" x-transition:enter="ease-linear duration-300" x-transition:enter-end="opacity-100" x-transition:leave-start="opacity-100" x-transition:leave="ease-linear duration-200" x-transition:leave-end="opacity-0" :id="map" src="/rose-lily.netlify.app/styles/img/marketing/maps/inferno.jpg" id="inferno" style="display: none;">

                        <img class="object-cover w-full h-56 transition sm:h-72 md:h-96 lg:w-full lg:h-full" :src="`${base}/${map}.jpg`" x-show="currentImage == images.indexOf(map)" x-transition:enter-start="opacity-0" x-transition:enter="ease-linear duration-300" x-transition:enter-end="opacity-100" x-transition:leave-start="opacity-100" x-transition:leave="ease-linear duration-200" x-transition:leave-end="opacity-0" :id="map" src="/rose-lily.netlify.app/styles/img/marketing/maps/mirage.jpg" id="mirage" style="display: none;">

                        <img class="object-cover w-full h-56 transition sm:h-72 md:h-96 lg:w-full lg:h-full" :src="`${base}/${map}.jpg`" x-show="currentImage == images.indexOf(map)" x-transition:enter-start="opacity-0" x-transition:enter="ease-linear duration-300" x-transition:enter-end="opacity-100" x-transition:leave-start="opacity-100" x-transition:leave="ease-linear duration-200" x-transition:leave-end="opacity-0" :id="map" src="/rose-lily.netlify.app/styles/img/marketing/maps/nuke.jpg" id="nuke" style="display: none;">

                        <img class="object-cover w-full h-56 transition sm:h-72 md:h-96 lg:w-full lg:h-full" :src="`${base}/${map}.jpg`" x-show="currentImage == images.indexOf(map)" x-transition:enter-start="opacity-0" x-transition:enter="ease-linear duration-300" x-transition:enter-end="opacity-100" x-transition:leave-start="opacity-100" x-transition:leave="ease-linear duration-200" x-transition:leave-end="opacity-0" :id="map" src="/rose-lily.netlify.app/styles/img/marketing/maps/overpass.jpg" id="overpass" style="display: none;">

                        <img class="object-cover w-full h-56 transition sm:h-72 md:h-96 lg:w-full lg:h-full" :src="`${base}/${map}.jpg`" x-show="currentImage == images.indexOf(map)" x-transition:enter-start="opacity-0" x-transition:enter="ease-linear duration-300" x-transition:enter-end="opacity-100" x-transition:leave-start="opacity-100" x-transition:leave="ease-linear duration-200" x-transition:leave-end="opacity-0" :id="map" src="/rose-lily.netlify.app/styles/img/marketing/maps/cache.jpg" id="cache">
                        <svg class="absolute inset-y-0 left-0 hidden w-48 h-full transform -translate-x-1/2 text-neutral-600 lg:block" fill="currentColor" viewBox="0 0 100 100" preserveAspectRatio="none">
                            <polygon points="50,0 100,0 50,100 0,100"></polygon>
                        </svg>
                    </div>
                </div>
    </div>
    </div>
    <div class="max-w-8xl mx-auto px-4 sm:px-6 lg:px-8 lg:items-center lg:flex flex-col py-12 lg:py-16" id="features">
    <div class="relative xl:grid lg:grid-cols-2 lg:gap-8 lg:items-center">
    <div class="relative">
    <h4 class="text-2xl font-extrabold leading-8 tracking-tight text-neutral-100 sm:text-3xl sm:leading-9">
    Why Pick INTERWEBZ?
    </h4>
    <p class="mt-3 text-lg leading-7 text-neutral-200">
    We want to provide you with a user-friendly, and high-quality product, that gives you the best possible cheating experience.
    </p>
    <ul class="mt-10 space-y-10">
    <li>
    <div class="flex">
    <div class="flex-shrink-0">
    <div class="flex items-center justify-center w-12 h-12 text-white rounded-md bg-gradient-to-r from-brand-orange to-brand-red">
    <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
    <path fill-rule="evenodd" d="M2.166 4.999A11.954 11.954 0 0010 1.944 11.954 11.954 0 0017.834 5c.11.65.166 1.32.166 2.001 0 5.225-3.34 9.67-8 11.317C5.34 16.67 2 12.225 2 7c0-.682.057-1.35.166-2.001zm11.541 3.708a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
    </svg> </div>
    </div>
    <div class="ml-4">
    <h5 class="text-lg font-medium leading-6 text-neutral-100">
    Security First
    </h5>
    <p class="mt-2 text-base leading-6 text-neutral-200">
    Our first priority is the safety of our users accounts. We do everything we can to keep your accounts safe from anti-cheat detections.
    </p>
    </div>
    </div>
    </li>
    <li>
    <div class="flex">
    <div class="flex-shrink-0">
    <div class="flex items-center justify-center w-12 h-12 text-white rounded-md bg-gradient-to-r from-brand-orange to-brand-red">
    <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
    <path d="M13 6a3 3 0 11-6 0 3 3 0 016 0zM18 8a2 2 0 11-4 0 2 2 0 014 0zM14 15a4 4 0 00-8 0v3h8v-3zM6 8a2 2 0 11-4 0 2 2 0 014 0zM16 18v-3a5.972 5.972 0 00-.75-2.906A3.005 3.005 0 0119 15v3h-3zM4.75 12.094A5.973 5.973 0 004 15v3H1v-3a3 3 0 013.75-2.906z"></path>
    </svg> </div>
    </div>
    <div class="ml-4">
    <h5 class="text-lg font-medium leading-6 text-neutral-100">
    Community Driven
    </h5>
    <p class="mt-2 text-base leading-6 text-neutral-200">
    We actively monitor our community forums to look at suggestions provided by the community, you decide what we implement next.
    </p>
    </div>
    </div>
    </li>
    <li>
    <div class="flex">
    <div class="flex-shrink-0">
    <div class="flex items-center justify-center w-12 h-12 text-white rounded-md bg-gradient-to-r from-brand-orange to-brand-red">
    <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
    <path d="M8.433 7.418c.155-.103.346-.196.567-.267v1.698a2.305 2.305 0 01-.567-.267C8.07 8.34 8 8.114 8 8c0-.114.07-.34.433-.582zM11 12.849v-1.698c.22.071.412.164.567.267.364.243.433.468.433.582 0 .114-.07.34-.433.582a2.305 2.305 0 01-.567.267z"></path>
    <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-13a1 1 0 10-2 0v.092a4.535 4.535 0 00-1.676.662C6.602 6.234 6 7.009 6 8c0 .99.602 1.765 1.324 2.246.48.32 1.054.545 1.676.662v1.941c-.391-.127-.68-.317-.843-.504a1 1 0 10-1.51 1.31c.562.649 1.413 1.076 2.353 1.253V15a1 1 0 102 0v-.092a4.535 4.535 0 001.676-.662C13.398 13.766 14 12.991 14 12c0-.99-.602-1.765-1.324-2.246A4.535 4.535 0 0011 9.092V7.151c.391.127.68.317.843.504a1 1 0 101.511-1.31c-.563-.649-1.413-1.076-2.354-1.253V5z" clip-rule="evenodd"></path>
    </svg> </div>
    </div>
    <div class="ml-4">
    <h5 class="text-lg font-medium leading-6 text-neutral-100">
    Competitive Prices
    </h5>
    <p class="mt-2 text-base leading-6 text-neutral-200">
    We try to price our cheats accordingly and we frequently have discounts active, as well as "bundles" that will give you access to a selection of cheats for a discounted rate.
    </p>
    </div>
    </div>
    </li>
    <li>
    <div class="flex">
    <div class="flex-shrink-0">
    <div class="flex items-center justify-center w-12 h-12 text-white rounded-md bg-gradient-to-r from-brand-orange to-brand-red">
    <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
    <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-2 0c0 .993-.241 1.929-.668 2.754l-1.524-1.525a3.997 3.997 0 00.078-2.183l1.562-1.562C15.802 8.249 16 9.1 16 10zm-5.165 3.913l1.58 1.58A5.98 5.98 0 0110 16a5.976 5.976 0 01-2.516-.552l1.562-1.562a4.006 4.006 0 001.789.027zm-4.677-2.796a4.002 4.002 0 01-.041-2.08l-.08.08-1.53-1.533A5.98 5.98 0 004 10c0 .954.223 1.856.619 2.657l1.54-1.54zm1.088-6.45A5.974 5.974 0 0110 4c.954 0 1.856.223 2.657.619l-1.54 1.54a4.002 4.002 0 00-2.346.033L7.246 4.668zM12 10a2 2 0 11-4 0 2 2 0 014 0z" clip-rule="evenodd"></path>
    </svg> </div>
    </div>
    <div class="ml-4">
    <h5 class="text-lg font-medium leading-6 text-neutral-100">
    Customer Support
    </h5>
    <p class="mt-2 text-base leading-6 text-neutral-200">
    We have support staff located all over the world. No matter what time zone you are in, you will get a prompt and professional response to your inquiry.
    </p>
    </div>
    </div>
    </li>
    </ul>
    </div>
    <div class="relative hidden mt-10 lg:mt-0 xl:block" x-data="{ timeline: null }" x-init="() => {
                    timeline = Gsap.timeline({
                        scrollTrigger: {
                            trigger: '#features',
                            start: 'top 50%'
                        }
                    });
    
                    timeline.from('.marketing-menu', { duration: 1, opacity: 0 }, 0);
                    timeline.from('.marketing-cursor', { duration: 1, opacity: 0 }, 0);
    
                    // Checkbox
                    timeline.to('.marketing-cursor', { duration: 0.5, x: 124, y: 153 }, 1);
                    timeline.to('.marketing-checkbox--init', { delay: 0.75, fill: `url('#fillGradient')` }, 1);
    
                    // Slider
                    timeline.to('.marketing-cursor', { duration: 0.5, x: 244, y: 262 }, 3);
                    timeline.to('.marketing-cursor', { duration: 0.5, x: 204, y: 262 }, 4);
                    newSliderPath = 'M62 243C62 241.895 62.8954 241 64 241H126V249H64C62.8954 249 62 248.105 62 247V243Z';
                    timeline.to('.marketing-slider', {
                        attr: { d: newSliderPath },
                        fill: `url('#fillGradient')`
                    }, 4);
    
                    // Dropdown
                    timeline.to('.marketing-cursor', { duration: 0.5, x: 310, y: 372 }, 5);
                    timeline.to('.marketing-dropdown', { duration: 0, opacity: 1 }, 6);
                    timeline.to('.marketing-checkbox--dropdown', { fill: `url('#fillGradient')` }, 6);
                    timeline.to('.marketing-cursor', { duration: 0.5, x: 280, y: 420 }, 7);
                    timeline.to('.marketing-dropdown--active', { delay: 0.5, duration: 0, fill: '#6e5c8a' }, 7);
                    timeline.to('.marketing-dropdown--active-title', { delay: 0.5, duration: 0, fill: '#a08fbd' }, 7);
                    timeline.to('.marketing-dropdown', { delay: 0.5, duration: 0, opacity: 0 }, 8);
    
                    // Checkbox
                    timeline.to('.marketing-cursor', { duration: 0.5, x: 396, y: 153 }, 9);
                    timeline.to('.marketing-checkbox--second', { delay: 0.75, fill: `url('#fillGradient')` }, 9);
                }">
    <svg class="relative z-40 marketing-cursor" width="12" height="17" viewBox="0 0 12 17" fill="none" xmlns="http://www.w3.org/2000/svg" style="opacity: 1; transform: translate(396px, 153px);">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M0 16.5V0.5L12 12.1081H4.71055L4.55422 12.232L0 16.5Z" fill="white"></path>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M1.03516 2.90479V14.0823L4.10892 11.219L4.27457 11.0801H9.48827L1.03516 2.90479Z" fill="black"></path>
    </svg>
    <svg style="top: 62.8%; left: 21.4%; opacity: 0;" class="absolute z-20 opacity-0 marketing-dropdown" width="184" height="69" viewBox="0 0 184 69" fill="none" xmlns="http://www.w3.org/2000/svg">
    <rect width="184" height="55" rx="4" fill="#574573"></rect>
    <rect width="184" height="23" rx="4" fill="#574573"></rect>
    <rect x="9" y="9" width="80" height="5" rx="2" fill="#7A6699"></rect>
    <rect y="23" width="184" height="23" rx="4" fill="#574573"></rect>
    <rect x="9" y="32" width="64" height="5" rx="2" fill="#7A6699"></rect>
    <rect y="46" width="184" height="23" rx="4" fill="#574573" class="marketing-dropdown--active" style="fill: rgb(110, 92, 138);"></rect>
    <rect x="9" y="55" width="80" height="5" rx="2" fill="#7A6699" class="marketing-dropdown--active-title" style="fill: rgb(160, 143, 189);"></rect>
    </svg>
    <svg width="578" class="relative z-10 mx-auto shadow-xl marketing-menu md:mr-0" height="559" viewBox="0 0 578 559" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="opacity: 1;">
    <rect width="578" height="559" rx="4" fill="#2A1F3D"></rect>
    <rect x="1" y="1" width="576" height="557" rx="4" fill="#483663"></rect>
    <rect x="2" y="2" width="574" height="555" rx="4" fill="#362A51"></rect>
    <rect x="10.5" y="34.5" width="557" height="514" rx="5.5" fill="#2D2145" stroke="#483663"></rect>
    <rect x="27.5" y="487.5" width="523" height="44" rx="3.5" fill="#362A51" stroke="#483663"></rect>
    <rect x="38" y="498" width="245" height="23" rx="4" fill="#574573"></rect>
    <rect x="47" y="507" width="75" height="5" rx="2" fill="#7A6699"></rect>
    <rect x="295" y="498" width="245" height="23" rx="4" fill="#574573"></rect>
    <rect x="304" y="507" width="75" height="5" rx="2" fill="#7A6699"></rect>
    <rect x="297" y="370" width="254" height="101" rx="4" fill="#362A51"></rect>
    <rect x="297" y="370" width="254" height="101" rx="4" fill="url(#pattern0)" fill-opacity="0.05"></rect>
    <rect x="297" y="370" width="254" height="101" rx="4" stroke="#483663"></rect>
    <path d="M299.5 468.5C299.5 468.5 331.741 429.197 361.5 420.25C384.874 413.222 424 420.25 424 420.25C424 420.25 463.126 427.278 486.5 420.25C516.259 411.303 548 372 548 372" stroke="url('#fillGradient')" stroke-width="3" stroke-linecap="round"></path>
    <rect x="297.5" y="118.5" width="253" height="235" rx="3.5" fill="#362A51" stroke="#483663"></rect>
    <rect x="310" y="131" width="14" height="14" rx="3" fill="#6C5A87" class="marketing-checkbox--second" style="fill: url(_.html#fillGradient&quot;);"></rect>
    <rect x="332" y="135" width="112" height="6" rx="2" fill="#7A6699"></rect>
    <rect x="332" y="164" width="184" height="8" rx="2" fill="#574573"></rect>
    <path d="M332 166C332 164.895 332.895 164 334 164H420V172H334C332.895 172 332 171.105 332 170V166Z" fill="#7A6798"></path>
    <rect x="332" y="151" width="80" height="5" rx="2" fill="#574573"></rect>
    <rect x="332" y="195" width="184" height="8" rx="2" fill="#574573"></rect>
    <path d="M332 197C332 195.895 332.895 195 334 195H404V203H334C332.895 203 332 202.105 332 201V197Z" fill="#7A6798"></path>
    <rect x="332" y="182" width="96" height="5" rx="2" fill="#574573"></rect>
    <rect x="310" y="216" width="14" height="14" rx="3" fill="#6C5A87"></rect>
    <rect x="332" y="220" width="48" height="6" rx="2" fill="#7A6699"></rect>
    <rect x="332" y="233" width="184" height="8" rx="2" fill="#574573"></rect>
    <path d="M332 235C332 233.895 332.895 233 334 233H364V241H334C332.895 241 332 240.105 332 239V235Z" fill="#7A6798"></path>
    <rect x="310" y="253" width="14" height="14" rx="3" fill="#6C5A87"></rect>
    <rect x="332" y="257" width="88" height="6" rx="2" fill="#7A6699"></rect>
    <rect x="332" y="286" width="184" height="8" rx="2" fill="#574573"></rect>
    <path d="M332 288C332 286.895 332.895 286 334 286H452V294H334C332.895 294 332 293.105 332 292V288Z" fill="#7A6798"></path>
    <rect x="332" y="273" width="72" height="5" rx="2" fill="#574573"></rect>
    <rect x="332" y="317" width="184" height="8" rx="2" fill="#574573"></rect>
    <path d="M332 319C332 317.895 332.895 317 334 317H428V325H334C332.895 325 332 324.105 332 323V319Z" fill="#7A6798"></path>
    <rect x="332" y="304" width="48" height="5" rx="2" fill="#574573"></rect>
    <rect x="27.5" y="118.5" width="253" height="352" rx="3.5" fill="#362A51" stroke="#483663"></rect>
    <rect x="40" y="131" width="14" height="14" rx="3" fill="#6C5A87" class="marketing-checkbox--init" style="fill: url(_.html#fillGradient&quot;);"></rect>
    <rect x="62" y="135" width="56" height="6" rx="2" fill="#7A6699"></rect>
    <rect x="62" y="164" width="184" height="8" rx="2" fill="#574573"></rect>
    <path d="M62 166C62 164.895 62.8954 164 64 164H190V172H64C62.8954 172 62 171.105 62 170V166Z" fill="#7A6798"></path>
    <rect x="62" y="151" width="64" height="5" rx="2" fill="#574573"></rect>
    <rect x="62" y="182" width="64" height="5" rx="2" fill="#574573"></rect>
    <rect x="62" y="195" width="184" height="23" rx="4" fill="#574573"></rect>
    <rect x="71" y="204" width="80" height="5" rx="2" fill="#7A6699"></rect>
    <rect x="62" y="241" width="184" height="8" rx="2" fill="#574573"></rect>
    <path d="M62 243C62 241.895 62.8954 241 64 241H126V249H64C62.8954 249 62 248.105 62 247V243Z" class="marketing-slider" fill="#7A6798" style="fill: url(_.html#fillGradient&quot;);"></path>
    <rect x="62" y="228" width="64" height="5" rx="2" fill="#574573"></rect>
    <rect x="62" y="259" width="88" height="5" rx="2" fill="#574573"></rect>
    <rect x="62" y="272" width="184" height="23" rx="4" fill="#574573"></rect>
    <rect x="71" y="281" width="80" height="5" rx="2" fill="#7A6699"></rect>
    <rect x="40" y="304" width="14" height="14" rx="3" fill="#6C5A87"></rect>
    <rect x="62" y="308" width="88" height="6" rx="2" fill="#7A6699"></rect>
    <rect x="40" y="327" width="14" height="14" rx="3" fill="#6C5A87" class="marketing-checkbox--dropdown" style="fill: url(_.html#fillGradient&quot;);"></rect>
    <rect x="62" y="331" width="56" height="6" rx="2" fill="#7A6699"></rect>
    <rect x="62" y="345" width="184" height="23" rx="4" fill="#574573"></rect>
    <rect x="71" y="354" width="80" height="5" rx="2" fill="#7A6699"></rect>
    <rect x="62" y="391" width="184" height="8" rx="2" fill="#574573"></rect>
    <path d="M62 393C62 391.895 62.8954 391 64 391H110V399H64C62.8954 399 62 398.105 62 397V393Z" fill="#7A6798"></path>
    <rect x="62" y="378" width="72" height="5" rx="2" fill="#574573"></rect>
    <rect x="41" y="408" width="14" height="14" rx="3" fill="#6C5A87"></rect>
    <rect x="63" y="412" width="52" height="6" rx="2" fill="#7A6699"></rect>
    <rect x="64" y="441" width="184" height="8" rx="2" fill="#574573"></rect>
    <path d="M64 443C64 441.895 64.8954 441 66 441H136V449H66C64.8954 449 64 448.105 64 447V443Z" fill="#7A6798"></path>
    <rect x="64" y="428" width="72" height="5" rx="2" fill="#574573"></rect>
    <path d="M11 72C11 69.7909 12.7909 68 15 68H289V100H11V72Z" fill="#362A51"></path>
    <rect x="102" y="82" width="96" height="5" rx="2" fill="#6E5C8A"></rect>
    <rect x="288" y="68" width="1" height="32" fill="#483663"></rect>
    <rect x="289" y="68" width="278" height="32" fill="#2A1F3D"></rect>
    <rect x="380" y="82" width="96" height="5" rx="2" fill="#483663"></rect>
    <rect x="11" y="100" width="556" height="1" fill="#483663"></rect>
    <path d="M11 39C11 36.7909 12.7909 35 15 35H122V67H11V39Z" fill="#362A51"></path>
    <rect x="36" y="49" width="63" height="5" rx="2" fill="#6E5C8A"></rect>
    <rect x="121" y="35" width="1" height="32" fill="#483663"></rect>
    <rect x="122" y="35" width="111" height="32" fill="#2A1F3D"></rect>
    <rect x="147" y="49" width="63" height="5" rx="2" fill="#483663"></rect>
    <rect x="232" y="35" width="1" height="32" fill="#483663"></rect>
    <rect x="233" y="35" width="111" height="32" fill="#2A1F3D"></rect>
    <rect x="258" y="49" width="63" height="5" rx="2" fill="#483663"></rect>
    <rect x="343" y="35" width="1" height="32" fill="#483663"></rect>
    <rect x="344" y="35" width="111" height="32" fill="#2A1F3D"></rect>
    <rect x="369" y="49" width="63" height="5" rx="2" fill="#483663"></rect>
    <rect x="454" y="35" width="1" height="32" fill="#483663"></rect>
    <path d="M455 35H562C564.209 35 566 36.7909 566 39V67H455V35Z" fill="#2A1F3D"></path>
    <rect x="480" y="49" width="63" height="5" rx="2" fill="#483663"></rect>
    <rect x="11" y="67" width="556" height="1" fill="#483663"></rect>
    <rect x="10" y="14" width="269" height="8" rx="2" fill="#6E5C8A"></rect>
    <defs>
    <pattern id="pattern0" patternContentUnits="objectBoundingBox" width="0.0314961" height="0.0792079">
    <use xlink:href="#image0" transform="scale(0.00393701 0.00990099)"></use>
    </pattern>
    <image id="image0" width="8" height="8" xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAjSURBVHgB1c8pAQAADMPAbP497zHQ4h4OCQhzGiMiqF9RwQIkOwgG3IU5RAAAAABJRU5ErkJggg=="></image>
    <linearGradient id="fillGradient">
    <stop offset="0%" stop-color="#C36F50"></stop>
    <stop offset="100%" stop-color="#C15260"></stop>
    </linearGradient>
    </defs>
    </svg> </div>
    </div>
    </div>
    <div class="border-t border-neutral-400">
    <div class="max-w-8xl mx-auto px-4 sm:px-6 lg:px-8 lg:items-center lg:flex py-12 lg:py-16">
    <section class="flex-1 h-full min-h-full overflow-hidden bg-neutral-600" x-init="startTimer()" x-data="{
                    base: './styles/img/marketing/reviews',
                    active: 0,
                    timer: null,
                    reviews: [
                        {
                            description: 'Everything is fine and fully customizable. ... A big plus for legit players is the FaceIT compatibility. Accurate and smart, nothing to complain about.',
                            author: 'pr1sm',
                        },
                        {
                            description: 'Interwebz got loads of settings for playing legit, not a single overwatch ban, Loads of colors and different esp settings and it\'s easy to hide the wallhack ingame, The skinchanger is advanced and makes the game look beautiful without paying for pixels.',
                            author: 'Cheeseburger',
                        },
                        {
                            description: 'Other providers didn\'t have the features I liked and some, so I took a look at all known providers, menus, features and  Interwebz got the most I liked in this case so I bought a Month now, after like 10-15 minutes I understood the full menu and were able to create my legit config.',
                            author: 'TASPi',
                        },
                        {
                            description: '... this cheat is amazing for bhop fragging and getting easy kills. The menu is nice and easy to read and the aimbot does not look blatant and has tons of features. And far as the esp goes Im a fan of it, there is some unique features in there I have not seen in most cheats.',
                            author: 'hopcheats',
                        },
                        {
                            description: 'The greatest part about Interwebz is it\'s perfectly working Legit Aimbot. It\'s really easy to use as well as great working if you use well thought out settings/configs to make it look legit but also very functional against any opponents. When it comes to Visuals, Iwebz has a bunch to offer, starting out from different ways to activate ESP, going as far as changing your FOV and Viewmodel FOV as much as you\'d like.',
                            author: 'Terrence',
                        },
                        {
                            description: 'You can configure it to do everything you will ever want it to do and more. The aim looks super legit, the ESP looks amazing, and if your looking to legit hack / closet cheat, then this was made for you. Movement features are something almost everyone uses whether your a closet cheater or an edgy bhop YouTuber. Bhop works great and it comes with a legit mode if your too lazy to scroll. Edge jump, the big one for me, works like a charm. The Strafe Bot is really nice as well.',
                            author: 'Atlas9',
                        },
                        {
                            description: 'The legit bot is the absolute highlight of this cheat. You can easily configure it and make it to the top of the csgo world. Visuals are clean and smooth. Looks really good and professional. I also like the redesigned front page!',
                            author: 'Estarki',
                        },
                        {
                            description: 'The cheat looks as legit as a cheat can possibly look. With the right settings you literally feel like it\'s yourself playing legit with godlike aim. Visuals are a big thing, I usually never use wallhacks when playing legit, sometimes I turn them on if I\'m tired and don\'t want to think too much; but something like bomb esp and bomb timer is always nice to have. The visuals are probably one of the best things about this cheat, there is literally NO FPS drops AT ALL when using them.',
                            author: 'Relyhh',
                        },
                        {
                            description: 'The legitbot is very powerful, legit-looking and simple to configure. I won more than 250 competitive matches without any Overwatch ban. I also played on FaceIT (with the server sided anti cheat). Backtracking is great to play with. The RCS does its job really well and the smoothness you can configure will make you look really legit and pro.',
                            author: 'DeadEye',
                        },
                        {
                            description: 'The legitbot is probably my fav. out of all the cheats i\'ve used! The aimbot is fully customizable and easy to use, you can almost make everything u want at this point. When i use only aimbot and no esp i sometimes even forget im cheating. That just goes to show how legit u can make it look. Perfect for closet cheating.',
                            author: 'Pix',
                        },
                    ],
                    startTimer() {
                        this.timer = setInterval(() => {
                            const nextIndex = (this.active + 1) % this.reviews.length;
    
                            this.active = nextIndex;
                        }, 20000);
                    },
                    resetTimer() {
                        clearInterval(this.timer);
                        this.startTimer();
                    }
                }">
    <div class="relative max-w-screen-xl px-8 mx-auto xl:px-0">
    <div>
    <h3 class="text-3xl font-extrabold leading-8 tracking-tight text-center text-neutral-100 sm:text-4xl sm:leading-10">
    What our customers are saying.
    </h3>
    </div>
    <div>
    <template x-for="review in reviews">
    <blockquote class="my-8" x-show="active == reviews.indexOf(review)" x-transition:enter-start="opacity-0" x-transition:enter="ease-linear duration-300" x-transition:enter-end="opacity-100" style="display:none">
    <div class="max-w-3xl mx-auto text-base font-medium leading-7 text-center md:leading-8 md:text-lg lg:leading-9 lg:text-xl text-neutral-200">
    <p>“<span x-text="review.description"></span>”</p>
    </div>
    <footer class="mt-8">
    <div class="md:flex md:items-center md:justify-center">
    <div class="md:flex-shrink-0">
    <img class="w-10 h-10 mx-auto border-2 rounded-full border-neutral-400" :src="`${base}/${review.author}.jpg`" alt="">
    </div>
    <div class="mt-3 text-center md:mt-0 md:ml-3 md:flex md:items-center">
    <div class="text-base font-medium leading-6 text-neutral-200">
    <span x-text="review.author"></span>
    </div>
    </div>
    </div>
    </footer>
    </blockquote>
    </template>
    
    <blockquote class="my-8" x-show="active == reviews.indexOf(review)" x-transition:enter-start="opacity-0" x-transition:enter="ease-linear duration-300" x-transition:enter-end="opacity-100" style="display: none;">
    <div class="max-w-3xl mx-auto text-base font-medium leading-7 text-center md:leading-8 md:text-lg lg:leading-9 lg:text-xl text-neutral-200">
    <p>“<span x-text="review.description">Everything is fine and fully customizable. ... A big plus for legit players is the FaceIT compatibility. Accurate and smart, nothing to complain about.</span>”</p>
    </div>
    <footer class="mt-8">
    <div class="md:flex md:items-center md:justify-center">
    <div class="md:flex-shrink-0">
    <img class="w-10 h-10 mx-auto border-2 rounded-full border-neutral-400" :src="`${base}/${review.author}.jpg`" alt="" src="/rose-lily.netlify.app/styles/img/marketing/reviews/pr1sm.jpg">
    </div>
    <div class="mt-3 text-center md:mt-0 md:ml-3 md:flex md:items-center">
    <div class="text-base font-medium leading-6 text-neutral-200">
    <span x-text="review.author">pr1sm</span>
    </div>
    </div>
    </div>
    </footer>
    </blockquote>
    
    <blockquote class="my-8" x-show="active == reviews.indexOf(review)" x-transition:enter-start="opacity-0" x-transition:enter="ease-linear duration-300" x-transition:enter-end="opacity-100" style="display: none;">
    <div class="max-w-3xl mx-auto text-base font-medium leading-7 text-center md:leading-8 md:text-lg lg:leading-9 lg:text-xl text-neutral-200">
    <p>“<span x-text="review.description">Interwebz got loads of settings for playing legit, not a single overwatch ban, Loads of colors and different esp settings and it's easy to hide the wallhack ingame, The skinchanger is advanced and makes the game look beautiful without paying for pixels.</span>”</p>
    </div>
    <footer class="mt-8">
    <div class="md:flex md:items-center md:justify-center">
    <div class="md:flex-shrink-0">
    <img class="w-10 h-10 mx-auto border-2 rounded-full border-neutral-400" :src="`${base}/${review.author}.jpg`" alt="" src="/rose-lily.netlify.app/styles/img/marketing/reviews/Cheeseburger.jpg">
    </div>
    <div class="mt-3 text-center md:mt-0 md:ml-3 md:flex md:items-center">
    <div class="text-base font-medium leading-6 text-neutral-200">
    <span x-text="review.author">Cheeseburger</span>
    </div>
    </div>
    </div>
    </footer>
    </blockquote>
    
    <blockquote class="my-8" x-show="active == reviews.indexOf(review)" x-transition:enter-start="opacity-0" x-transition:enter="ease-linear duration-300" x-transition:enter-end="opacity-100">
    <div class="max-w-3xl mx-auto text-base font-medium leading-7 text-center md:leading-8 md:text-lg lg:leading-9 lg:text-xl text-neutral-200">
    <p>“<span x-text="review.description">Other providers didn't have the features I liked and some, so I took a look at all known providers, menus, features and  Interwebz got the most I liked in this case so I bought a Month now, after like 10-15 minutes I understood the full menu and were able to create my legit config.</span>”</p>
    </div>
    <footer class="mt-8">
    <div class="md:flex md:items-center md:justify-center">
    <div class="md:flex-shrink-0">
    <img class="w-10 h-10 mx-auto border-2 rounded-full border-neutral-400" :src="`${base}/${review.author}.jpg`" alt="" src="/rose-lily.netlify.app/styles/img/marketing/reviews/TASPi.jpg">
    </div>
    <div class="mt-3 text-center md:mt-0 md:ml-3 md:flex md:items-center">
    <div class="text-base font-medium leading-6 text-neutral-200">
    <span x-text="review.author">TASPi</span>
    </div>
    </div>
    </div>
    </footer>
    </blockquote>
    
    <blockquote class="my-8" x-show="active == reviews.indexOf(review)" x-transition:enter-start="opacity-0" x-transition:enter="ease-linear duration-300" x-transition:enter-end="opacity-100" style="display: none;">
    <div class="max-w-3xl mx-auto text-base font-medium leading-7 text-center md:leading-8 md:text-lg lg:leading-9 lg:text-xl text-neutral-200">
    <p>“<span x-text="review.description">... this cheat is amazing for bhop fragging and getting easy kills. The menu is nice and easy to read and the aimbot does not look blatant and has tons of features. And far as the esp goes Im a fan of it, there is some unique features in there I have not seen in most cheats.</span>”</p>
    </div>
    <footer class="mt-8">
    <div class="md:flex md:items-center md:justify-center">
    <div class="md:flex-shrink-0">
    <img class="w-10 h-10 mx-auto border-2 rounded-full border-neutral-400" :src="`${base}/${review.author}.jpg`" alt="" src="/rose-lily.netlify.app/styles/img/marketing/reviews/hopcheats.jpg">
    </div>
    <div class="mt-3 text-center md:mt-0 md:ml-3 md:flex md:items-center">
    <div class="text-base font-medium leading-6 text-neutral-200">
    <span x-text="review.author">hopcheats</span>
    </div>
    </div>
    </div>
    </footer>
    </blockquote>
    
    <blockquote class="my-8" x-show="active == reviews.indexOf(review)" x-transition:enter-start="opacity-0" x-transition:enter="ease-linear duration-300" x-transition:enter-end="opacity-100" style="display: none;">
    <div class="max-w-3xl mx-auto text-base font-medium leading-7 text-center md:leading-8 md:text-lg lg:leading-9 lg:text-xl text-neutral-200">
    <p>“<span x-text="review.description">The greatest part about Interwebz is it's perfectly working Legit Aimbot. It's really easy to use as well as great working if you use well thought out settings/configs to make it look legit but also very functional against any opponents. When it comes to Visuals, Iwebz has a bunch to offer, starting out from different ways to activate ESP, going as far as changing your FOV and Viewmodel FOV as much as you'd like.</span>”</p>
    </div>
    <footer class="mt-8">
    <div class="md:flex md:items-center md:justify-center">
    <div class="md:flex-shrink-0">
    <img class="w-10 h-10 mx-auto border-2 rounded-full border-neutral-400" :src="`${base}/${review.author}.jpg`" alt="" src="/rose-lily.netlify.app/styles/img/marketing/reviews/Terrence.jpg">
    </div>
    <div class="mt-3 text-center md:mt-0 md:ml-3 md:flex md:items-center">
    <div class="text-base font-medium leading-6 text-neutral-200">
    <span x-text="review.author">Terrence</span>
    </div>
    </div>
    </div>
    </footer>
    </blockquote>
    
    <blockquote class="my-8" x-show="active == reviews.indexOf(review)" x-transition:enter-start="opacity-0" x-transition:enter="ease-linear duration-300" x-transition:enter-end="opacity-100" style="display: none;">
    <div class="max-w-3xl mx-auto text-base font-medium leading-7 text-center md:leading-8 md:text-lg lg:leading-9 lg:text-xl text-neutral-200">
    <p>“<span x-text="review.description">You can configure it to do everything you will ever want it to do and more. The aim looks super legit, the ESP looks amazing, and if your looking to legit hack / closet cheat, then this was made for you. Movement features are something almost everyone uses whether your a closet cheater or an edgy bhop YouTuber. Bhop works great and it comes with a legit mode if your too lazy to scroll. Edge jump, the big one for me, works like a charm. The Strafe Bot is really nice as well.</span>”</p>
    </div>
    <footer class="mt-8">
    <div class="md:flex md:items-center md:justify-center">
    <div class="md:flex-shrink-0">
    <img class="w-10 h-10 mx-auto border-2 rounded-full border-neutral-400" :src="`${base}/${review.author}.jpg`" alt="" src="/rose-lily.netlify.app/styles/img/marketing/reviews/Atlas9.jpg">
    </div>
    <div class="mt-3 text-center md:mt-0 md:ml-3 md:flex md:items-center">
    <div class="text-base font-medium leading-6 text-neutral-200">
    <span x-text="review.author">Atlas9</span>
    </div>
    </div>
    </div>
    </footer>
    </blockquote>
    
    <blockquote class="my-8" x-show="active == reviews.indexOf(review)" x-transition:enter-start="opacity-0" x-transition:enter="ease-linear duration-300" x-transition:enter-end="opacity-100" style="display: none;">
    <div class="max-w-3xl mx-auto text-base font-medium leading-7 text-center md:leading-8 md:text-lg lg:leading-9 lg:text-xl text-neutral-200">
    <p>“<span x-text="review.description">The legit bot is the absolute highlight of this cheat. You can easily configure it and make it to the top of the csgo world. Visuals are clean and smooth. Looks really good and professional. I also like the redesigned front page!</span>”</p>
    </div>
    <footer class="mt-8">
    <div class="md:flex md:items-center md:justify-center">
    <div class="md:flex-shrink-0">
    <img class="w-10 h-10 mx-auto border-2 rounded-full border-neutral-400" :src="`${base}/${review.author}.jpg`" alt="" src="/rose-lily.netlify.app/styles/img/marketing/reviews/Estarki.jpg">
    </div>
    <div class="mt-3 text-center md:mt-0 md:ml-3 md:flex md:items-center">
    <div class="text-base font-medium leading-6 text-neutral-200">
    <span x-text="review.author">Estarki</span>
    </div>
    </div>
    </div>
    </footer>
    </blockquote>
    
    <blockquote class="my-8" x-show="active == reviews.indexOf(review)" x-transition:enter-start="opacity-0" x-transition:enter="ease-linear duration-300" x-transition:enter-end="opacity-100" style="display: none;">
    <div class="max-w-3xl mx-auto text-base font-medium leading-7 text-center md:leading-8 md:text-lg lg:leading-9 lg:text-xl text-neutral-200">
    <p>“<span x-text="review.description">The cheat looks as legit as a cheat can possibly look. With the right settings you literally feel like it's yourself playing legit with godlike aim. Visuals are a big thing, I usually never use wallhacks when playing legit, sometimes I turn them on if I'm tired and don't want to think too much; but something like bomb esp and bomb timer is always nice to have. The visuals are probably one of the best things about this cheat, there is literally NO FPS drops AT ALL when using them.</span>”</p>
    </div>
    <footer class="mt-8">
    <div class="md:flex md:items-center md:justify-center">
    <div class="md:flex-shrink-0">
    <img class="w-10 h-10 mx-auto border-2 rounded-full border-neutral-400" :src="`${base}/${review.author}.jpg`" alt="" src="/rose-lily.netlify.app/styles/img/marketing/reviews/Relyhh.jpg">
    </div>
    <div class="mt-3 text-center md:mt-0 md:ml-3 md:flex md:items-center">
    <div class="text-base font-medium leading-6 text-neutral-200">
    <span x-text="review.author">Relyhh</span>
    </div>
    </div>
    </div>
    </footer>
    </blockquote>
    
    <blockquote class="my-8" x-show="active == reviews.indexOf(review)" x-transition:enter-start="opacity-0" x-transition:enter="ease-linear duration-300" x-transition:enter-end="opacity-100" style="display: none;">
    <div class="max-w-3xl mx-auto text-base font-medium leading-7 text-center md:leading-8 md:text-lg lg:leading-9 lg:text-xl text-neutral-200">
    <p>“<span x-text="review.description">The legitbot is very powerful, legit-looking and simple to configure. I won more than 250 competitive matches without any Overwatch ban. I also played on FaceIT (with the server sided anti cheat). Backtracking is great to play with. The RCS does its job really well and the smoothness you can configure will make you look really legit and pro.</span>”</p>
    </div>
    <footer class="mt-8">
    <div class="md:flex md:items-center md:justify-center">
    <div class="md:flex-shrink-0">
    <img class="w-10 h-10 mx-auto border-2 rounded-full border-neutral-400" :src="`${base}/${review.author}.jpg`" alt="" src="/rose-lily.netlify.app/styles/img/marketing/reviews/DeadEye.jpg">
    </div>
    <div class="mt-3 text-center md:mt-0 md:ml-3 md:flex md:items-center">
    <div class="text-base font-medium leading-6 text-neutral-200">
    <span x-text="review.author">DeadEye</span>
    </div>
    </div>
    </div>
    </footer>
    </blockquote>
    
    <blockquote class="my-8" x-show="active == reviews.indexOf(review)" x-transition:enter-start="opacity-0" x-transition:enter="ease-linear duration-300" x-transition:enter-end="opacity-100" style="display: none;">
    <div class="max-w-3xl mx-auto text-base font-medium leading-7 text-center md:leading-8 md:text-lg lg:leading-9 lg:text-xl text-neutral-200">
    <p>“<span x-text="review.description">The legitbot is probably my fav. out of all the cheats i've used! The aimbot is fully customizable and easy to use, you can almost make everything u want at this point. When i use only aimbot and no esp i sometimes even forget im cheating. That just goes to show how legit u can make it look. Perfect for closet cheating.</span>”</p>
    </div>
    <footer class="mt-8">
    <div class="md:flex md:items-center md:justify-center">
    <div class="md:flex-shrink-0">
    <img class="w-10 h-10 mx-auto border-2 rounded-full border-neutral-400" :src="`${base}/${review.author}.jpg`" alt="" src="/rose-lily.netlify.app/styles/img/marketing/reviews/Pix.jpg">
    </div>
    <div class="mt-3 text-center md:mt-0 md:ml-3 md:flex md:items-center">
    <div class="text-base font-medium leading-6 text-neutral-200">
    <span x-text="review.author">Pix</span>
    </div>
    </div>
    </div>
    </footer>
    </blockquote>
    <div class="flex items-center justify-center">
    <span class="relative z-0 inline-flex shadow-sm">
    <button :class="{ 'opacity-50 pointer-events-none': active <= 0 }" :disabled="active <= 0" type="button" class="relative inline-flex items-center px-2 py-2 text-sm font-medium leading-5 transition duration-150 ease-in-out border text-neutral-300 bg-neutral-700 border-neutral-400 rounded-l-md hover:text-neutral-100 hover:bg-neutral-400 focus:z-10 focus:outline-none focus:shadow-outline-purple active:bg-neutral-400 active:text-neutral-100" @@click="active-- &amp;&amp; resetTimer()">
    <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
    <path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd"></path>
    </svg> </button>
    <button type="button" :class="{
                                        'opacity-50 pointer-events-none':
                                        active >= reviews.length - 1,
                                    }" :disabled="active >= reviews.length - 1" class="relative inline-flex items-center px-2 py-2 -ml-px text-sm font-medium leading-5 transition duration-150 ease-in-out border text-neutral-300 bg-neutral-700 border-neutral-400 rounded-r-md hover:text-neutral-100 hover:bg-neutral-400 focus:z-10 focus:outline-none focus:shadow-outline-purple active:bg-neutral-400 active:text-neutral-100" @@click="active++ &amp;&amp; resetTimer()">
    <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
    <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path>
    </svg> </button>
    </span>
    </div>
    </div>
    </div>
    </section>
    </div>
    </div>
    <div class="border-t border-neutral-400 bg-neutral-500">
    <div class="max-w-8xl mx-auto px-4 sm:px-6 lg:px-8 lg:items-center lg:flex justify-between py-12 lg:py-16">
    <div>
    <h2 class="text-3xl font-extrabold leading-9 tracking-tight text-center lg:text-4xl lg:text-left text-neutral-100 sm:leading-10">
    Take a look at our full list of products.
    <br>
    <span class="block mt-2 text-2xl text-transparent lg:text-3xl bg-gradient-to-r from-brand-orange to-brand-red bg-clip-text">
    We are constantly adding new cheats!
    </span>
    </h2>
    </div>
    <div class="mt-8 space-y-4 sm:space-y-0 sm:space-x-4 lg:mt-0 sm:flex sm:justify-center lg:justify-start">
    <span class="flex rounded-md shadow-sm ">
    <a asp-area="" asp-controller="Home" asp-action="Products" class="inline-flex items-center justify-center border font-medium focus:outline-none transition duration-150 ease-in-out disabled:opacity-75 disabled:cursor-not-allowed px-8 py-3 text-base leading-6 rounded-md md:text-lg text-neutral-100 bg-gradient-to-r from-brand-orange to-brand-red border-transparent opacity-75 hover:opacity-100 focus:outline-none focus:ring ring-brand-orange ring-opacity-50 disabled:opacity-75 disabled:cursor-not-allowed w-full" size="xxl" wire:loading.attr="disabled">
    View All Cheats
    </a>
    </span>
    <div>
    </div>
    </div>
    </div>
    <div class="border-t border-neutral-400">
    <div class="max-w-8xl mx-auto px-4 sm:px-6 lg:px-8 lg:items-center  flex flex-col py-12 mx-auto">
    <div class="grid w-full grid-cols-2 gap-x-12 gap-y-16 md:grid-cols-3 lg:grid-cols-4">
    <div class="flex items-center justify-center col-span-1">
    <img class="h-6" src="/rose-lily.netlify.app/styles/img/payments/visa.svg" alt="Visa">
    </div>
    <div class="flex items-center justify-center col-span-1">
    <img class="h-10" src="/rose-lily.netlify.app/styles/img/payments/mastercard.svg" alt="Mastercard">
    </div>
    <div class="flex items-center justify-center col-span-1">
    <img class="h-10" src="/rose-lily.netlify.app/styles/img/payments/amex.svg" alt="Amex">
    </div>
    <div class="flex items-center justify-center col-span-1">
    <img class="h-6" src="/rose-lily.netlify.app/styles/img/payments/psc.svg" alt="paysafecard">
    </div>
    <div class="flex items-center justify-center col-span-1">
    <img class="h-9" src="/rose-lily.netlify.app/styles/img/payments/giropay.svg" alt="Giropay">
    </div>
    <div class="flex items-center justify-center col-span-1">
    <img class="h-10" src="/rose-lily.netlify.app/styles/img/payments/przelewy24.svg" alt="Przelewy24">
    </div>
    <div class="flex items-center justify-center col-span-1">
    <img class="h-10" src="/rose-lily.netlify.app/styles/img/payments/ideal.svg" alt="iDeal">
    </div>
    <div class="flex items-center justify-center col-span-1">
    <img class="h-11" src="/rose-lily.netlify.app/styles/img/payments/eps.svg" alt="EPS">
    </div>
    </div>
    </div>
    </div>
    </div>
        <div class="bg-neutral-700">
            <div class="max-w-8xl mx-auto px-4 sm:px-6 lg:px-8 lg:items-center  py-12 lg:py-16">
                <div class="xl:grid xl:grid-cols-3 xl:gap-8">
                    <div class="space-y-4 xl:col-span-1">
                        <img class="h-10" src="/rose-lily.netlify.app/styles/interwebz/xenforo/logo.svg" alt="INTERWEBZ Logo">
                        <p class="text-base leading-6 text-neutral-200">
                            We are a well-known and reliable cheat provider that has been around since 2009. We offer premium cheats for a variety of different games.
                        </p>
                        <div class="flex space-x-4">
                            <a href="" class="transition duration-150 ease-in-out text-neutral-200 hover:text-neutral-100">
                                <span class="sr-only">YouTube</span>
                                <svg class="w-8 h-8" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M21.58 6.186c-.23-.86-.91-1.54-1.77-1.77 -1.56-.42-7.82-.42-7.82-.42s-6.254 0-7.814.41c-.86.23-1.54.9-1.77 1.76 -.42 1.56-.42 5.814-.42 5.814s0 4.25.41 5.814c.23.86.9 1.53 1.76 1.76 1.56.41 7.814.41 7.814.41s6.25 0 7.814-.42c.86-.23 1.53-.91 1.76-1.77 .41-1.56.41-5.814.41-5.814s0-4.254-.42-5.814Zm-11.59 8.41v-5.2c0-.39.41-.625.75-.44l4.5 2.59c.33.19.33.67 0 .86l-4.5 2.59c-.34.19-.75-.05-.75-.44Z"></path></svg>
                            </a>
                            <a href="" class="transition duration-150 ease-in-out text-neutral-200 hover:text-neutral-100">
                                <span class="sr-only">Twitter</span>
                                <svg class="w-8 h-8" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M17 3H7C4.79 3 3 4.79 3 7v10c0 2.2 1.79 4 4 4h10c2.2 0 4-1.8 4-4V7c0-2.21-1.8-4-4-4Zm.05 6.51c0 .08 0 .17 0 .34 0 3.25-2.49 7.029-7.029 7.029 -1.38 0-2.657-.43-3.771-1.12 .17 0 .42 0 .6 0 1.11 0 2.229-.43 3.08-1.029 -1.12 0-1.971-.78-2.314-1.72 .17 0 .34.08.42.08 .25 0 .42 0 .68-.09 -1.12-.26-1.971-1.2-1.971-2.4 .34.17.68.25 1.11.34 -.69-.6-1.12-1.29-1.12-2.15 0-.43.08-.86.34-1.2 1.2 1.45 3 2.48 5.057 2.57 0-.18-.09-.35-.09-.6 0-1.38 1.11-2.49 2.48-2.49 .68 0 1.37.25 1.8.77 .6-.09 1.11-.35 1.54-.6 -.18.6-.6 1.029-1.12 1.37 .51-.09.94-.18 1.45-.43 -.35.51-.78.94-1.21 1.28Z"></path></svg>
                            </a>
                            <a href="" class="transition duration-150 ease-in-out text-neutral-200 hover:text-neutral-100">
                                <span class="sr-only">Facebook</span>
                                <svg class="w-8 h-8" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M17 3H7C4.79 3 3 4.79 3 7v10c0 2.2 1.79 4 4 4h5.62v-6.961H10.27v-2.73h2.343v-2.01c0-2.324 1.42-3.6 3.49-3.6 .69-.01 1.39.03 2.09.1v2.43h-1.43c-1.13 0-1.35.53-1.35 1.32v1.73h2.7l-.36 2.72H15.39v6.96h1.58c2.2 0 4-1.8 4-4v-10c0-2.21-1.8-4-4-4Z"></path></svg>
                            </a>
                        </div>
                    </div>
                    <div class="grid grid-cols-1 gap-8 mt-12 space-y-6 md:grid-cols-3 xl:mt-0 xl:col-span-2 md:space-y-0">
                        <div class="col-span-1">
                            <h4 class="text-sm font-semibold leading-5 tracking-wider uppercase text-neutral-200">
                                Available Cheats
                            </h4>
                            <ul class="mt-4 space-y-4">
                                <li>
                                    <a href="" class="text-base leading-6 transition duration-150 ease-in-out text-neutral-200 hover:text-neutral-100">
                                        Call of Duty: Modern Warfare II / DMZ
                                    </a>
                                </li>
                                <li>
                                    <a href="" class="text-base leading-6 transition duration-150 ease-in-out text-neutral-200 hover:text-neutral-100">
                                        Call of Duty: Modern Warfare (2019)
                                    </a>
                                </li>
                                <li>
                                    <a href="" class="text-base leading-6 transition duration-150 ease-in-out text-neutral-200 hover:text-neutral-100">
                                        Call of Duty: Modern Warfare III / Warzone
                                    </a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Home" asp-action="Products" class="text-base leading-6 transition duration-150 ease-in-out text-neutral-200 hover:text-neutral-100">
                                        View All Products...
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-span-1">
                            <h4 class="text-sm font-semibold leading-5 tracking-wider uppercase text-neutral-200">
                                Community
                            </h4>
                            <ul class="mt-4 space-y-4">
                                <li>
                                    <a asp-area="" asp-controller="Community" asp-action="Index" class="text-base leading-6 transition duration-150 ease-in-out text-neutral-200 hover:text-neutral-100">
                                        Community Forums
                                    </a>
                                </li>
                                <li>
                                    <a href="" class="text-base leading-6 transition duration-150 ease-in-out text-neutral-200 hover:text-neutral-100">
                                        Cheat Media
                                    </a>
                                </li>
                                <li>
                                    <a href="" class="text-base leading-6 transition duration-150 ease-in-out text-neutral-200 hover:text-neutral-100">
                                        User Reviews
                                    </a>
                                </li>
                                <li>
                                    <a href="" class="text-base leading-6 transition duration-150 ease-in-out text-neutral-200 hover:text-neutral-100">
                                        Pre-sales Support
                                    </a>
                                </li>
                                <li>
                                    <a target="__blank" href="" class="text-base leading-6 transition duration-150 ease-in-out text-neutral-200 hover:text-neutral-100">
                                        Elitepvpers
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-span-1">
                            <h4 class="text-sm font-semibold leading-5 tracking-wider uppercase text-neutral-200">
                                Legal Information
                            </h4>
                            <ul class="mt-4 space-y-4">
                                <li>
                                    <a href="" class="text-base leading-6 transition duration-150 ease-in-out text-neutral-200 hover:text-neutral-100">
                                        Terms of Service
                                    </a>
                                </li>
                                <li>
                                    <a href="" class="text-base leading-6 transition duration-150 ease-in-out text-neutral-200 hover:text-neutral-100">
                                        Privacy Policy
                                    </a>
                                </li>
                                <li>
                                    <a href="" class="text-base leading-6 transition duration-150 ease-in-out text-neutral-200 hover:text-neutral-100">
                                        Media Resources
                                    </a>
                                </li>
                                <li>
                                    <a href="" class="text-base leading-6 transition duration-150 ease-in-out text-neutral-200 hover:text-neutral-100">
                                        Contact Us
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="pt-8 mt-12 border-t border-neutral-400" x-data="{ year: new Date().getFullYear() }">
                    <p class="text-sm font-medium leading-6 text-center text-neutral-200">
                        © <span x-text="year">2024</span> INTERWEBZ. All rights reserved.
                    </p>
                </div>
            </div>
        </div>
    </div>
    
   