@{
    ViewBag.Title = "All Cheats - Undetected Cheats/Hacks";
}

<div wire:id="NvYNaCWII802znDI4YsW" wire:initial-data="{&quot;fingerprint&quot;:{&quot;id&quot;:&quot;NvYNaCWII802znDI4YsW&quot;,&quot;name&quot;:&quot;landing.products.index&quot;,&quot;locale&quot;:&quot;en&quot;,&quot;path&quot;:&quot;products&quot;,&quot;method&quot;:&quot;GET&quot;,&quot;v&quot;:&quot;acj&quot;},&quot;effects&quot;:{&quot;listeners&quot;:[],&quot;path&quot;:&quot;https:\/\/interwebz-cheats.com\/products&quot;},&quot;serverMemo&quot;:{&quot;children&quot;:[],&quot;errors&quot;:[],&quot;htmlHash&quot;:&quot;cb6b1e27&quot;,&quot;data&quot;:{&quot;search&quot;:&quot;&quot;,&quot;page&quot;:1,&quot;paginators&quot;:{&quot;page&quot;:1}},&quot;dataMeta&quot;:[],&quot;checksum&quot;:&quot;c5d2605590afbd8458c73f6616eb490d2a76892bda46d75bef810101098810ac&quot;}}">
<div x-data="{ navOpen: false }" class="relative bg-neutral-600 text-neutral-100">
<div class="max-w-8xl mx-auto px-4 sm:px-6 lg:px-8 lg:items-center lg:flex flex-col py-4 lg:py-6">
<div class=" z-10 pb-4 lg:w-full">
                    @{
                        await Html.RenderPartialAsync("_TopNav");
                    }
<div class="absolute inset-x-0 top-0 z-50 -m-2 transition origin-top-right transform md:hidden" x-show="navOpen" x-transition:enter="duration-150 ease-out" x-transition:enter-start="opacity-0 scale-95" x-transition:enter-end="opacity-100 scale-100" x-transition:leave="duration-100 ease-in" x-transition:leave-start="opacity-100 scale-100" x-transition:leave-end="opacity-0 scale-95" style="display: none;">
<div class="rounded-lg shadow-md">
<div class="overflow-hidden border rounded-md ring-1 ring-black ring-opacity-5 bg-neutral-500 border-neutral-350" role="menu" aria-orientation="vertical" aria-labelledby="main-menu">
<div class="flex items-center justify-between px-5 pt-4">
<div>
<img class="w-auto h-8" src="/rose-lily.netlify.app/styles/interwebz/xenforo/logo.svg" alt="INTERWEBZ Logo">
</div>
<div class="-mr-2">
<button @@click="navOpen = false" type="button" class="inline-flex items-center justify-center p-2 transition duration-150 ease-in-out rounded-md text-neutral-200 hover:text-neutral-100 hover:bg-neutral-400 focus:outline-none focus:bg-neutral-400 focus:text-neutral-100" aria-label="Close menu">
<svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
<path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd" />
</svg> </button>
</div>
</div>
<div class="px-2 pt-2 pb-3">
<a class='block px-3 py-2 text-base font-medium transition duration-150 ease-in-out rounded-md text-neutral-200 hover:text-neutral-100 hover:bg-neutral-400 focus:outline-none focus:text-neutral-100 focus:bg-neutral-400' href='products.html' role='menuitem'>
Our Cheats
</a>
<a class='block px-3 py-2 mt-1 text-base font-medium transition duration-150 ease-in-out rounded-md text-neutral-200 hover:text-neutral-100 hover:bg-neutral-400 focus:outline-none focus:text-neutral-100 focus:bg-neutral-400' asp-area="" asp-controller="Community" asp-action="Index" role='menuitem'>
Community
</a>
</div>
<div>
<a class='flex items-center w-full px-5 py-3 space-x-2 font-medium text-center transition duration-150 ease-in-out border-t border-neutral-350 text-neutral-200 bg-neutral-600 hover:bg-neutral-400 hover:text-neutral-100 focus:outline-none focus:bg-neutral-400 focus:text-neutral-100' asp-area="" asp-controller="Dashboard" asp-action="Purchase_cheats">
<div class="flex-shrink-0">
<img src="/rose-lily.netlify.app/styles/interwebz/xenforo/default-avatar.jpg" alt="name's Avatar" class="w-8 h-8 border rounded-md shadow border-neutral-300">
</div>
<span>
Logged in as name
</span>
</a>
</div>
</div>
</div>
</div>
</div>
<div class="w-full py-2 space-y-8">
<div class="pb-4 space-y-2 border-b border-neutral-400">
<h3 class="inline-flex text-2xl font-bold leading-7 sm:text-3xl sm:leading-9 sm:truncate text-neutral-100">
All Products
<div>
</div>
</h3>
<div>
</div>
</div>
<div class="grid-cols-12 gap-8 space-y-8 md:grid md:space-y-0">
<div class="col-span-3 space-y-4">
<div>
<div>
<div class="space-y-1">
<div class="flex rounded-md shadow-sm">
<input type="text" class="flex-1 block w-full transition duration-150 ease-in-out rounded-md bg-neutral-350 border-neutral-300 border focus:ring focus:ring-neutral-300 focus:ring-opacity-75 focus:border-neutral-300 placeholder-neutral-200" wire:model.debounce.400ms="search" placeholder="Search..." wire:model.debounce.400ms="search" placeholder="Search..." />
</div>
</div>
</div>
</div>
<div class="space-y-2">
<h3 class="inline-flex items-center space-x-2 text-xs font-semibold leading-4 tracking-wider uppercase text-neutral-200">
<svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
<path fill-rule="evenodd" d="M12 7a1 1 0 110-2h5a1 1 0 011 1v5a1 1 0 11-2 0V8.414l-4.293 4.293a1 1 0 01-1.414 0L8 10.414l-4.293 4.293a1 1 0 01-1.414-1.414l5-5a1 1 0 011.414 0L11 10.586 14.586 7H12z" clip-rule="evenodd" />
</svg> <span>Trending</span>
</h3>
<ul class="space-y-4">
<li class="relative pt-4 border-t border-neutral-400">
<a class='block p-2 transition duration-150 ease-in-out rounded-md text-neutral-200 hover:text-neutral-100 hover:bg-neutral-400' asp-area="" asp-controller="Home" asp-action="Call_of_duty">
<div class="flex items-center space-x-4">
<div class="flex-shrink-0">
<img src="/rose-lily.netlify.app/products/styles/storage/699/f7b72121-a2ff-4416-ba28-34fe883a1a2b."/rose-lily.netlify.app/products/styles/storage of Duty: Modern Warfare II / DMZ's Icon" class="w-8 h-8 rounded-md shadow">
</div>
<p class="text-sm font-medium">Call of Duty: Modern Warfare II / DMZ</p>
</div>
</a>
</li>
<li class="relative pt-4 border-t border-neutral-400">
<a class='block p-2 transition duration-150 ease-in-out rounded-md text-neutral-200 hover:text-neutral-100 hover:bg-neutral-400' asp-area="" asp-controller="Home" asp-action="Call_of_duty">
<div class="flex items-center space-x-4">
<div class="flex-shrink-0">
<img src="/rose-lily.netlify.app/products/styles/storage/514/ec487906-2e83-4cd4-b86b-cb39b28cceb2."/rose-lily.netlify.app/products/styles/storage of Duty: Modern Warfare (2019)'s Icon" class="w-8 h-8 rounded-md shadow">
</div>
<p class="text-sm font-medium">Call of Duty: Modern Warfare (2019)</p>
</div>
</a>
</li>
<li class="relative pt-4 border-t border-neutral-400">
<a class='block p-2 transition duration-150 ease-in-out rounded-md text-neutral-200 hover:text-neutral-100 hover:bg-neutral-400' asp-area="" asp-controller="Home" asp-action="Call_of_duty">
<div class="flex items-center space-x-4">
<div class="flex-shrink-0">
<img src="/rose-lily.netlify.app/products/styles/storage/586/c518d00b-56dc-4f26-aee4-be0831ca3581."/rose-lily.netlify.app/products/styles/storage of Duty: Modern Warfare III / Warzone's Icon" class="w-8 h-8 rounded-md shadow">
</div>
<p class="text-sm font-medium">Call of Duty: Modern Warfare III / Warzone</p>
</div>
</a>
</li>
</ul>
</div>
</div>
<div class="col-span-9 space-y-6">
<div class="space-y-4">
<ul class="overflow-hidden border divide-y rounded-md shadow bg-neutral-400 border-neutral-300 divide-neutral-300">
<a class='flex transition-colors duration-150 hover:text-neutral-100 text-neutral-200 ' asp-area="" asp-controller="Home" asp-action="Call_of_duty">
<li class="flex items-center flex-1 px-4 py-4 sm:px-6 sm:flex-row justify-between">
<div class="flex flex-col space-y-2 lg:flex-row lg:space-y-0 lg:space-x-4">
<div class="flex-shrink-0">
<img class="w-10 h-10 rounded-md shadow" src="/rose-lily.netlify.app/products/styles/storage/474/e427b262-ea02-4491-b9d3-27ac3de6a4ec."/rose-lily.netlify.app/products/styles/storage of Duty - Complete Package's Icon">
</div>
<div class="block lg:ml-4">
<div class="flex flex-wrap items-center sm:space-x-2">
<div class="text-base font-semibold leading-7 text-center truncate text-neutral-100 sm:text-left">
Call of Duty - Complete Package
</div>
</div>
<div class="max-w-2xl mx-auto text-xs font-medium leading-5 text-neutral-200 ">
Get access to all our cheats for the Call of Duty series! For more information about the specific cheats, visit their own dedicated pages.
</div>
</div>
</div>
<div class="hidden lg:block">
<svg class="w-5 h-5 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
<path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
</svg> </div>
</li>
</a>
<a class='flex transition-colors duration-150 hover:text-neutral-100 text-neutral-200 ' asp-area="" asp-controller="Home" asp-action="Call_of_duty">
<li class="flex items-center flex-1 px-4 py-4 sm:px-6 sm:flex-row justify-between">
<div class="flex flex-col space-y-2 lg:flex-row lg:space-y-0 lg:space-x-4">
<div class="flex-shrink-0">
<img class="w-10 h-10 rounded-md shadow" src="/rose-lily.netlify.app/products/styles/storage/430/229e4d2a-bb78-4d06-9c8d-5f7eec37e928."/rose-lily.netlify.app/products/styles/storage of Duty: Black Ops Cold War's Icon">
</div>
<div class="block lg:ml-4">
<div class="flex flex-wrap items-center sm:space-x-2">
<div class="text-base font-semibold leading-7 text-center truncate text-neutral-100 sm:text-left">
Call of Duty: Black Ops Cold War
</div>
</div>
<div class="max-w-2xl mx-auto text-xs font-medium leading-5 text-neutral-200 ">
Our Premium Call of Duty: Black Ops Cold War cheat is exactly what you need if you are looking for a highly customisable legit and rage cheat, that also has a wide range of visual options, as well as exclusive...
</div>
</div>
</div>
<div class="hidden lg:block">
<svg class="w-5 h-5 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
<path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
</svg> </div>
</li>
</a>
<a class='flex transition-colors duration-150 hover:text-neutral-100 text-neutral-200 ' asp-area="" asp-controller="Home" asp-action="Call_of_duty">
<li class="flex items-center flex-1 px-4 py-4 sm:px-6 sm:flex-row justify-between">
<div class="flex flex-col space-y-2 lg:flex-row lg:space-y-0 lg:space-x-4">
<div class="flex-shrink-0">
<img class="w-10 h-10 rounded-md shadow" src="/rose-lily.netlify.app/products/styles/storage/514/ec487906-2e83-4cd4-b86b-cb39b28cceb2."/rose-lily.netlify.app/products/styles/storage of Duty: Modern Warfare (2019)'s Icon">
</div>
<div class="block lg:ml-4">
<div class="flex flex-wrap items-center sm:space-x-2">
<div class="text-base font-semibold leading-7 text-center truncate text-neutral-100 sm:text-left">
Call of Duty: Modern Warfare (2019)
</div>
</div>
<div class="max-w-2xl mx-auto text-xs font-medium leading-5 text-neutral-200 ">
Our Premium Call of Duty: Modern Warfare / Warzone cheat is exactly what you need if you are looking for a highly customisable legit and rage cheat, that also has a wide range of visual options, as well as excl...
</div>
</div>
</div>
<div class="hidden lg:block">
<svg class="w-5 h-5 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
<path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
</svg> </div>
</li>
</a>
<a class='flex transition-colors duration-150 hover:text-neutral-100 text-neutral-200 opacity-50' asp-area="" asp-controller="Home" asp-action="Call_of_duty">
<li class="flex items-center flex-1 px-4 py-4 sm:px-6 sm:flex-row justify-between">
<div class="flex flex-col space-y-2 lg:flex-row lg:space-y-0 lg:space-x-4">
<div class="flex-shrink-0">
<img class="w-10 h-10 rounded-md shadow" src="/rose-lily.netlify.app/products/styles/storage/699/f7b72121-a2ff-4416-ba28-34fe883a1a2b."/rose-lily.netlify.app/products/styles/storage of Duty: Modern Warfare II / DMZ's Icon">
</div>
<div class="block lg:ml-4">
<div class="flex flex-wrap items-center sm:space-x-2">
<div class="inline-flex space-x-2 items-center font-semibold uppercase px-2.5 py-0.5 text-xs leading-4 rounded border bg-neutral-350 border-neutral-300 text-neutral-100">
<svg class="w-4 h-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
<path fill-rule="evenodd" d="M13.477 14.89A6 6 0 015.11 6.524l8.367 8.368zm1.414-1.414L6.524 5.11a6 6 0 018.367 8.367zM18 10a8 8 0 11-16 0 8 8 0 0116 0z" clip-rule="evenodd" />
</svg> <span>Disabled</span>
</div>
<div class="text-base font-semibold leading-7 text-center truncate text-neutral-100 sm:text-left">
Call of Duty: Modern Warfare II / DMZ
</div>
</div>
<div class="max-w-2xl mx-auto text-xs font-medium leading-5 text-neutral-200 ">
Our Premium Call of Duty: Modern Warfare II cheat is exactly what you need if you are looking for a highly customisable legit cheat, that also has a wide range of visual options, as well as exclusive features n...
</div>
</div>
</div>
<div class="hidden lg:block">
<svg class="w-5 h-5 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
<path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
</svg> </div>
</li>
</a>
<a class='flex transition-colors duration-150 hover:text-neutral-100 text-neutral-200 opacity-50' asp-area="" asp-controller="Home" asp-action="Call_of_duty">
<li class="flex items-center flex-1 px-4 py-4 sm:px-6 sm:flex-row justify-between">
<div class="flex flex-col space-y-2 lg:flex-row lg:space-y-0 lg:space-x-4">
<div class="flex-shrink-0">
<img class="w-10 h-10 rounded-md shadow" src="/rose-lily.netlify.app/products/styles/storage/586/c518d00b-56dc-4f26-aee4-be0831ca3581."/rose-lily.netlify.app/products/styles/storage of Duty: Modern Warfare III / Warzone's Icon">
</div>
<div class="block lg:ml-4">
<div class="flex flex-wrap items-center sm:space-x-2">
<div class="inline-flex space-x-2 items-center font-semibold uppercase px-2.5 py-0.5 text-xs leading-4 rounded border bg-neutral-350 border-neutral-300 text-neutral-100">
<svg class="w-4 h-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
<path fill-rule="evenodd" d="M13.477 14.89A6 6 0 015.11 6.524l8.367 8.368zm1.414-1.414L6.524 5.11a6 6 0 018.367 8.367zM18 10a8 8 0 11-16 0 8 8 0 0116 0z" clip-rule="evenodd" />
</svg> <span>Disabled</span>
</div>
<div class="text-base font-semibold leading-7 text-center truncate text-neutral-100 sm:text-left">
Call of Duty: Modern Warfare III / Warzone
</div>
</div>
<div class="max-w-2xl mx-auto text-xs font-medium leading-5 text-neutral-200 ">
Our Premium Call of Duty: Modern Warfare III cheat is exactly what you need if you are looking for a highly customisable legit cheat, that also has a wide range of visual options, as well as exclusive features...
</div>
</div>
</div>
<div class="hidden lg:block">
<svg class="w-5 h-5 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
<path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
</svg> </div>
</li>
</a>
<a class='flex transition-colors duration-150 hover:text-neutral-100 text-neutral-200 ' asp-area="" asp-controller="Home" asp-action="Call_of_duty">
<li class="flex items-center flex-1 px-4 py-4 sm:px-6 sm:flex-row justify-between">
<div class="flex flex-col space-y-2 lg:flex-row lg:space-y-0 lg:space-x-4">
<div class="flex-shrink-0">
<img class="w-10 h-10 rounded-md shadow" src="/rose-lily.netlify.app/products/styles/storage/401/4e1ed577-c3ac-4091-9f4f-86cc50107dbd."/rose-lily.netlify.app/products/styles/storage of Duty: Vanguard's Icon">
</div>
<div class="block lg:ml-4">
<div class="flex flex-wrap items-center sm:space-x-2">
<div class="text-base font-semibold leading-7 text-center truncate text-neutral-100 sm:text-left">
Call of Duty: Vanguard
</div>
</div>
<div class="max-w-2xl mx-auto text-xs font-medium leading-5 text-neutral-200 ">
Our Premium Call of Duty: Vanguard cheat is exactly what you need if you are looking for a highly customisable legit and rage cheat, that also has a wide range of visual options, as well as exclusive features n...
</div>
</div>
</div>
<div class="hidden lg:block">
<svg class="w-5 h-5 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
<path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
</svg> </div>
</li>
</a>
<a class='flex transition-colors duration-150 hover:text-neutral-100 text-neutral-200 ' asp-area="" asp-controller="Home" asp-action="Call_of_duty">
<li class="flex items-center flex-1 px-4 py-4 sm:px-6 sm:flex-row justify-between">
<div class="flex flex-col space-y-2 lg:flex-row lg:space-y-0 lg:space-x-4">
<div class="flex-shrink-0">
<img class="w-10 h-10 rounded-md shadow" src="/rose-lily.netlify.app/products/styles/storage/537/f7a99a82-5861-4ea0-b0ba-a52f7bf05ef8.html" alt="Counter-Strike 2's Icon">
</div>
<div class="block lg:ml-4">
<div class="flex flex-wrap items-center sm:space-x-2">
<div class="text-base font-semibold leading-7 text-center truncate text-neutral-100 sm:text-left">
Counter-Strike 2
</div>
</div>
<div class="max-w-2xl mx-auto text-xs font-medium leading-5 text-neutral-200 ">
Our Premium Counter-Strike 2 cheat is exactly what you need if you are looking for a highly customisable legit cheat, that also has a wide range of visual options.
</div>
</div>
</div>
<div class="hidden lg:block">
<svg class="w-5 h-5 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
<path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
</svg> </div>
</li>
</a>
<a class='flex transition-colors duration-150 hover:text-neutral-100 text-neutral-200 ' asp-area="" asp-controller="Home" asp-action="Call_of_duty">
<li class="flex items-center flex-1 px-4 py-4 sm:px-6 sm:flex-row justify-between">
<div class="flex flex-col space-y-2 lg:flex-row lg:space-y-0 lg:space-x-4">
<div class="flex-shrink-0">
<img class="w-10 h-10 rounded-md shadow" src="/rose-lily.netlify.app/products/styles/storage/165/52a3d90a-e61e-4887-8521-e76d94a3d2e3.html" alt="Counter-Strike: Source's Icon">
</div>
<div class="block lg:ml-4">
<div class="flex flex-wrap items-center sm:space-x-2">
<div class="text-base font-semibold leading-7 text-center truncate text-neutral-100 sm:text-left">
Counter-Strike: Source
</div>
</div>
<div class="max-w-2xl mx-auto text-xs font-medium leading-5 text-neutral-200 ">
Our Premium Counter-Strike: Source cheat is exactly what you need if you are looking for a highly customisable legit and rage cheat, that also has a wide range of visual options, as well as exclusive features n...
</div>
</div>
</div>
<div class="hidden lg:block">
<svg class="w-5 h-5 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
<path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
</svg> </div>
</li>
</a>
<a class='flex transition-colors duration-150 hover:text-neutral-100 text-neutral-200 ' asp-area="" asp-controller="Home" asp-action="Call_of_duty">
<li class="flex items-center flex-1 px-4 py-4 sm:px-6 sm:flex-row justify-between">
<div class="flex flex-col space-y-2 lg:flex-row lg:space-y-0 lg:space-x-4">
<div class="flex-shrink-0">
<img class="w-10 h-10 rounded-md shadow" src="/rose-lily.netlify.app/products/styles/storage/555/4d899979-49d1-47f4-91f3-78cd35040afb.html" alt="Privacy Tool's Icon">
</div>
<div class="block lg:ml-4">
<div class="flex flex-wrap items-center sm:space-x-2">
<div class="text-base font-semibold leading-7 text-center truncate text-neutral-100 sm:text-left">
Privacy Tool
</div>
</div>
<div class="max-w-2xl mx-auto text-xs font-medium leading-5 text-neutral-200 ">
Our Premium Privacy Tool is exactly what you need if you are looking to improve your privacy by hiding your hardware information.
</div>
</div>
</div>
<div class="hidden lg:block">
<svg class="w-5 h-5 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
<path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
</svg> </div>
</li>
</a>
<a href="#" class="flex transition-colors duration-150 hover:text-neutral-100 text-neutral-200 ">
<li class="flex items-center flex-1 px-4 py-4 sm:px-6 sm:flex-row justify-between">
<div class="flex flex-col space-y-2 lg:flex-row lg:space-y-0 lg:space-x-4">
<div class="flex-shrink-0">
<img class="w-10 h-10 rounded-md shadow" src="/rose-lily.netlify.app/products/styles/storage/342/3627563b-dc2a-4fd1-9cfc-cc06b54cd33a.html" alt="STAR WARS Battlefront II's Icon">
</div>
<div class="block lg:ml-4">
<div class="flex flex-wrap items-center sm:space-x-2">
<div class="text-base font-semibold leading-7 text-center truncate text-neutral-100 sm:text-left">
STAR WARS Battlefront II
</div>
</div>
<div class="max-w-2xl mx-auto text-xs font-medium leading-5 text-neutral-200 ">
Our Premium STAR WARS Battlefront II cheat is exactly what you need if you are looking for a highly customisable legit and rage cheat, that also has a wide range of visual options, as well as exclusive features...
</div>
</div>
</div>
<div class="hidden lg:block">
<svg class="w-5 h-5 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
<path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
</svg> </div>
</li>
</a>
<a href="#" class="flex transition-colors duration-150 hover:text-neutral-100 text-neutral-200 ">
<li class="flex items-center flex-1 px-4 py-4 sm:px-6 sm:flex-row justify-between">
<div class="flex flex-col space-y-2 lg:flex-row lg:space-y-0 lg:space-x-4">
<div class="flex-shrink-0">
<img class="w-10 h-10 rounded-md shadow" src="/rose-lily.netlify.app/products/styles/storage/626/bd23b312-d368-4db3-9a15-5def13ab415b.html" alt="The Ultimate Package's Icon">
</div>
<div class="block lg:ml-4">
<div class="flex flex-wrap items-center sm:space-x-2">
<div class="text-base font-semibold leading-7 text-center truncate text-neutral-100 sm:text-left">
The Ultimate Package
</div>
</div>
<div class="max-w-2xl mx-auto text-xs font-medium leading-5 text-neutral-200 ">
Get access to our entire catalogue with The Ultimate Package! For more information about the specific cheats, visit their own dedicated pages.&amp;nbsp;
</div>
</div>
</div>
<div class="hidden lg:block">
<svg class="w-5 h-5 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
<path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
</svg> </div>
</li>
</a>
</ul>
<div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="bg-neutral-700">
<div class="max-w-8xl mx-auto px-4 sm:px-6 lg:px-8 lg:items-center  py-12 lg:py-16">
<div class="xl:grid xl:grid-cols-3 xl:gap-8">
<div class="space-y-4 xl:col-span-1">
<img class="h-10" src="/rose-lily.netlify.app/styles/interwebz/xenforo/logo.svg" alt="INTERWEBZ Logo">
<p class="text-base leading-6 text-neutral-200">
We are a well-known and reliable cheat provider that has been around since 2009. We offer premium cheats for a variety of different games.
</p>
<div class="flex space-x-4">
<a href="#" class="transition duration-150 ease-in-out text-neutral-200 hover:text-neutral-100">
<span class="sr-only">YouTube</span>
<svg class="w-8 h-8" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M21.58 6.186c-.23-.86-.91-1.54-1.77-1.77 -1.56-.42-7.82-.42-7.82-.42s-6.254 0-7.814.41c-.86.23-1.54.9-1.77 1.76 -.42 1.56-.42 5.814-.42 5.814s0 4.25.41 5.814c.23.86.9 1.53 1.76 1.76 1.56.41 7.814.41 7.814.41s6.25 0 7.814-.42c.86-.23 1.53-.91 1.76-1.77 .41-1.56.41-5.814.41-5.814s0-4.254-.42-5.814Zm-11.59 8.41v-5.2c0-.39.41-.625.75-.44l4.5 2.59c.33.19.33.67 0 .86l-4.5 2.59c-.34.19-.75-.05-.75-.44Z" /></svg> </a>
<a href="#" class="transition duration-150 ease-in-out text-neutral-200 hover:text-neutral-100">
<span class="sr-only">Twitter</span>
<svg class="w-8 h-8" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M17 3H7C4.79 3 3 4.79 3 7v10c0 2.2 1.79 4 4 4h10c2.2 0 4-1.8 4-4V7c0-2.21-1.8-4-4-4Zm.05 6.51c0 .08 0 .17 0 .34 0 3.25-2.49 7.029-7.029 7.029 -1.38 0-2.657-.43-3.771-1.12 .17 0 .42 0 .6 0 1.11 0 2.229-.43 3.08-1.029 -1.12 0-1.971-.78-2.314-1.72 .17 0 .34.08.42.08 .25 0 .42 0 .68-.09 -1.12-.26-1.971-1.2-1.971-2.4 .34.17.68.25 1.11.34 -.69-.6-1.12-1.29-1.12-2.15 0-.43.08-.86.34-1.2 1.2 1.45 3 2.48 5.057 2.57 0-.18-.09-.35-.09-.6 0-1.38 1.11-2.49 2.48-2.49 .68 0 1.37.25 1.8.77 .6-.09 1.11-.35 1.54-.6 -.18.6-.6 1.029-1.12 1.37 .51-.09.94-.18 1.45-.43 -.35.51-.78.94-1.21 1.28Z" /></svg> </a>
<a href="#" class="transition duration-150 ease-in-out text-neutral-200 hover:text-neutral-100">
<span class="sr-only">Facebook</span>
<svg class="w-8 h-8" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M17 3H7C4.79 3 3 4.79 3 7v10c0 2.2 1.79 4 4 4h5.62v-6.961H10.27v-2.73h2.343v-2.01c0-2.324 1.42-3.6 3.49-3.6 .69-.01 1.39.03 2.09.1v2.43h-1.43c-1.13 0-1.35.53-1.35 1.32v1.73h2.7l-.36 2.72H15.39v6.96h1.58c2.2 0 4-1.8 4-4v-10c0-2.21-1.8-4-4-4Z" /></svg> </a>
</div>
</div>
<div class="grid grid-cols-1 gap-8 mt-12 space-y-6 md:grid-cols-3 xl:mt-0 xl:col-span-2 md:space-y-0">
<div class="col-span-1">
<h4 class="text-sm font-semibold leading-5 tracking-wider uppercase text-neutral-200">
Available Cheats
</h4>
<ul class="mt-4 space-y-4">
<li>
<a href="#" class="text-base leading-6 transition duration-150 ease-in-out text-neutral-200 hover:text-neutral-100">
Call of Duty: Modern Warfare II / DMZ
</a>
</li>
<li>
<a href="#" class="text-base leading-6 transition duration-150 ease-in-out text-neutral-200 hover:text-neutral-100">
Call of Duty: Modern Warfare (2019)
</a>
</li>
<li>
<a href="#" class="text-base leading-6 transition duration-150 ease-in-out text-neutral-200 hover:text-neutral-100">
Call of Duty: Modern Warfare III / Warzone
</a>
</li>
<li>
                                    <a class='text-base leading-6 transition duration-150 ease-in-out text-neutral-200 hover:text-neutral-100' asp-area="" asp-controller="Home" asp-action="Products">
View All Products...
</a>
</li>
</ul>
</div>
<div class="col-span-1">
<h4 class="text-sm font-semibold leading-5 tracking-wider uppercase text-neutral-200">
Community
</h4>
<ul class="mt-4 space-y-4">
<li>
<a class='text-base leading-6 transition duration-150 ease-in-out text-neutral-200 hover:text-neutral-100' asp-area="" asp-controller="Community" asp-action="Index">
Community Forums
</a>
</li>
<li>
<a href="#" class="text-base leading-6 transition duration-150 ease-in-out text-neutral-200 hover:text-neutral-100">
Cheat Media
</a>
</li>
<li>
<a href="#" class="text-base leading-6 transition duration-150 ease-in-out text-neutral-200 hover:text-neutral-100">
User Reviews
</a>
</li>
<li>
<a href="#" class="text-base leading-6 transition duration-150 ease-in-out text-neutral-200 hover:text-neutral-100">
Pre-sales Support
</a>
</li>
<li>
<a target="__blank" href="#" class="text-base leading-6 transition duration-150 ease-in-out text-neutral-200 hover:text-neutral-100">
Elitepvpers
</a>
</li>
</ul>
</div>
<div class="col-span-1">
<h4 class="text-sm font-semibold leading-5 tracking-wider uppercase text-neutral-200">
Legal Information
</h4>
<ul class="mt-4 space-y-4">
<li>
<a href="#" class="text-base leading-6 transition duration-150 ease-in-out text-neutral-200 hover:text-neutral-100">
Terms of Service
</a>
</li>
<li>
<a href="#" class="text-base leading-6 transition duration-150 ease-in-out text-neutral-200 hover:text-neutral-100">
Privacy Policy
</a>
</li>
<li>
<a href="#" class="text-base leading-6 transition duration-150 ease-in-out text-neutral-200 hover:text-neutral-100">
Media Resources
</a>
</li>
<li>
<a href="#" class="text-base leading-6 transition duration-150 ease-in-out text-neutral-200 hover:text-neutral-100">
Contact Us
</a>
</li>
</ul>
</div>
</div>
</div>
<div class="pt-8 mt-12 border-t border-neutral-400" x-data="{ year: new Date().getFullYear() }">
<p class="text-sm font-medium leading-6 text-center text-neutral-200">
&copy; <span x-text="year"></span> INTERWEBZ. All rights reserved.
</p>
</div>
</div>
</div>
</div>


