@model interwebz.Models.Product

@{
    ViewData["Title"]= "Call of Duty: Black Ops Cold War Premium Cheat";
}

<div wire:id="3TkQ9U1cYUYAo75TKtw7" wire:initial-data="{&quot;fingerprint&quot;:{&quot;id&quot;:&quot;3TkQ9U1cYUYAo75TKtw7&quot;,&quot;name&quot;:&quot;landing.products.show&quot;,&quot;locale&quot;:&quot;en&quot;,&quot;path&quot;:&quot;products\/call-of-duty-black-ops-cold-war&quot;,&quot;method&quot;:&quot;GET&quot;,&quot;v&quot;:&quot;acj&quot;},&quot;effects&quot;:{&quot;listeners&quot;:[],&quot;path&quot;:&quot;https:\/\/interwebz-cheats.com\/products\/call-of-duty-black-ops-cold-war&quot;},&quot;serverMemo&quot;:{&quot;children&quot;:[],&quot;errors&quot;:[],&quot;htmlHash&quot;:&quot;54cb6faa&quot;,&quot;data&quot;:{&quot;product&quot;:[]},&quot;dataMeta&quot;:{&quot;models&quot;:{&quot;product&quot;:{&quot;class&quot;:&quot;App\\Models\\Product&quot;,&quot;id&quot;:&quot;9263d9f1-1f72-4ff2-9bc9-f2816d8e8583&quot;,&quot;relations&quot;:[&quot;cheats&quot;,&quot;cheats.anticheats&quot;,&quot;cheats.anticheats.media&quot;,&quot;media&quot;,&quot;prices&quot;],&quot;connection&quot;:&quot;mysql&quot;}}},&quot;checksum&quot;:&quot;ca07b4ccccaa9dd2858f9fbc447bfd8b8c61a8d1e714c701937a118b74b4eed0&quot;}}" class="flex-1">
<div x-data="{ navOpen: false }" class="relative overflow-hidden bg-neutral-600 text-neutral-100">
<div class="max-w-8xl mx-auto px-4 sm:px-6 lg:px-8 lg:items-center lg:flex py-4 lg:py-6">
<div class="w-full lg:grid lg:grid-cols-12 lg:gap-8">
<div class=" z-10 pb-8 sm:pb-16 md:pb-20 lg:max-w-3xl lg:w-full lg:pb-28 xl:pb-32 lg:col-span-6">
                    @{
                        await Html.RenderPartialAsync("_TopNav");
                    }
<div class="absolute inset-x-0 top-0 z-50 -m-2 transition origin-top-right transform md:hidden" x-show="navOpen" x-transition:enter="duration-150 ease-out" x-transition:enter-start="opacity-0 scale-95" x-transition:enter-end="opacity-100 scale-100" x-transition:leave="duration-100 ease-in" x-transition:leave-start="opacity-100 scale-100" x-transition:leave-end="opacity-0 scale-95" style="display: none;">
<div class="rounded-lg shadow-md">
<div class="overflow-hidden border rounded-md ring-1 ring-black ring-opacity-5 bg-neutral-500 border-neutral-350" role="menu" aria-orientation="vertical" aria-labelledby="main-menu">
<div class="flex items-center justify-between px-5 pt-4">
<div>
<img class="w-auto h-8" src="/rose-lily.netlify.app/styles/img/logo.svg" alt="INTERWEBZ Logo">
</div>
<div class="-mr-2">
<button @@click="navOpen = false" type="button" class="inline-flex items-center justify-center p-2 transition duration-150 ease-in-out rounded-md text-neutral-200 hover:text-neutral-100 hover:bg-neutral-400 focus:outline-none focus:bg-neutral-400 focus:text-neutral-100" aria-label="Close menu">
<svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
<path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd" />
</svg> </button>
</div>
</div>
<div class="px-2 pt-2 pb-3">
<a class='block px-3 py-2 text-base font-medium transition duration-150 ease-in-out rounded-md text-neutral-200 hover:text-neutral-100 hover:bg-neutral-400 focus:outline-none focus:text-neutral-100 focus:bg-neutral-400' asp-area="" asp-controller="Home" asp-action="Products" role='menuitem'>
Our Cheats
</a>

                                        <a class='block px-3 py-2 mt-1 text-base font-medium transition duration-150 ease-in-out rounded-md text-neutral-200 hover:text-neutral-100 hover:bg-neutral-400 focus:outline-none focus:text-neutral-100 focus:bg-neutral-400' asp-area="" asp-controller="Community" asp-action="Index" role='menuitem'>
Community
</a>
</div>
<div>
<a class='flex items-center w-full px-5 py-3 space-x-2 font-medium text-center transition duration-150 ease-in-out border-t border-neutral-350 text-neutral-200 bg-neutral-600 hover:bg-neutral-400 hover:text-neutral-100 focus:outline-none focus:bg-neutral-400 focus:text-neutral-100' asp-area="" asp-controller="Dashboard" asp-action="Purchase_cheats">
<div class="flex-shrink-0">
<img src="/rose-lily.netlify.app/styles/interwebz/xenforo/default-avatar.jpg" alt="toufiq's Avatar" class="w-8 h-8 border rounded-md shadow border-neutral-300">
</div>
<span>
Logged in as name
</span>
</a>
</div>
</div>
</div>
</div>
<main>
<div class="max-w-screen-xl mx-auto mt-10 sm:mt-12 md:mt-16 lg:mt-20 xl:mt-28">
<div>
<div>
</div>
<h2 class="mt-3 text-4xl font-extrabold leading-10 tracking-tight text-neutral-100 sm:text-5xl sm:leading-none md:text-4xl">
                                    @Html.DisplayFor(model => model.Name): @Html.DisplayFor(model => model.Title)
</h2>
<div class="flex flex-col py-4 space-y-3">
<span class="text-sm font-medium text-neutral-200">
Supported Anticheats:
</span>
<div class="inline-flex flex-wrap items-center space-x-2">
<div x-data x-init="() => {
        Tippy($refs.slot, {
            content: $refs.template.innerHTML,
            allowHTML: true,
            arrow: ''
        });
    }">
<div x-ref="template" style="display: none;">
Game Internal Anti-Cheat
</div>
<div x-ref="slot">
<div class="flex-shrink-0">
<img class="w-8 h-8" src="/rose-lily.netlify.app/products/styles/storage/392/020e71cd-227d-4900-847e-60211710b486.svg" alt="Game Internal Anti-Cheat's Icon">
</div>
</div>
</div>
<div x-data x-init="() => {
        Tippy($refs.slot, {
            content: $refs.template.innerHTML,
            allowHTML: true,
            arrow: ''
        });
    }">
<div x-ref="template" style="display: none;">
Screenshot Cleaning
</div>
<div x-ref="slot">
<div class="flex-shrink-0">
<img class="w-8 h-8" src="/rose-lily.netlify.app/products/styles/storage/394/935eba15-1e47-4a01-9fdc-107cfc71af87.svg" alt="Screenshot Cleaning's Icon">
</div>
</div>
</div>
</div>
</div>
<div class="text-base text-neutral-200 sm:text-lg sm:max-w-2xl">
                                    <div>@Html.DisplayFor(model => model.Description)</div>
</div>
<div>
</div>
<div class="mt-5 space-y-4 lg:space-y-0 lg:space-x-4 lg:mt-8 lg:flex">
<div>
<span class="flex rounded-md shadow-sm ">

<button type="button" onclick="scrollToSection()" class="inline-flex items-center justify-center border font-medium focus:outline-none transition duration-150 ease-in-out px-8 py-3 text-base leading-6 rounded-md md:text-lg text-neutral-100 bg-gradient-to-r from-brand-orange to-brand-red border-transparent opacity-75 hover:opacity-100 focus:outline-none focus:ring ring-brand-orange ring-opacity-50 disabled:opacity-75 disabled:cursor-not-allowed w-full">
    Purchase Now*
</button>
</span>
</div>
<div>
<span class="flex rounded-md shadow-sm ">
<a asp-area="" asp-controller="Community" asp-action="Single" class="inline-flex items-center justify-center border font-medium focus:outline-none transition duration-150 ease-in-out disabled:opacity-75 disabled:cursor-not-allowed px-8 py-3 text-base leading-6 rounded-md md:text-lg border border-neutral-350 text-neutral-200 bg-neutral-400 hover:bg-neutral-350 hover:text-neutral-100 focus:bg-neutral-350 focus:text-neutral-100 focus:ring ring-neutral-300 ring-opacity-75 active:text-neutral-100 active:bg-neutral-300 transition disabled:pointer-events-none disabled:opacity-75 disabled:cursor-not-allowed w-full" size="xxl" target="__blank" wire:loading.attr="disabled">
Learn More...
</a>

</span>
</div>
</div>
<div class="mt-5 space-y-1">
<p class="text-sm font-medium text-neutral-200">* A <span class="italic font-semibold underline">Forum Account</span> is required to purchase.</p>
<p class="text-sm font-medium text-neutral-200">Supported OS: Windows 10 (64-bit), Windows 11 (64-bit)</p>
</div>
</div>
</div>
</main>
</div>
<div class="lg:col-span-6 z-6">
<div>
<div class="items-center justify-center hidden px-8 md:flex lg:mt-20 lg:pr-0 lg:pl-12">
<div class="relative w-full h-56 max-w-2xl sm:h-96 z-6">
<div class="relative rounded-lg shadow-xl focus:outline-none focus:ring ring-neutral-300 ring-opacity-75">
<a href="#" class="product-image-gallery">
<img class="w-full rounded-md shadow" src="/rose-lily.netlify.app/products/styles/storage/468/6ba58932-dd2b-4055-bb59-1effd2752c0e.jpg" alt="Call of Duty: Black Ops Cold War Promotional Image" />
</a>
</div>
</div>
</div>
<div class="flex items-center justify-center max-w-2xl px-8 mx-auto mt-6 lg:pr-0 lg:pl-12 z-6">
<div class="w-full">
<div wire:ignore class="glide" id="glide-gallery" x-data x-init="
        new Glide('#glide-gallery', 
                                {
                                    type: &#039;slider&#039;,
                                    perView: 3,
                                    gap: 12,
                                    bound: true,
                                    breakpoints: {
                                        768: {
                                            perView: 2
                                        },
                                        425: {
                                            perView: 1
                                        }
                                    }
                                }
                            ).mount();
        new LuminousGallery(document.querySelectorAll('.product-image-gallery'), {
            injectBaseStyles: false
        });
    ">
<div class="glide__track" data-glide-el="track">
<ul class="glide__slides">
<li class="glide__slide">
<a href="#" class="product-image-gallery">
<img src="/rose-lily.netlify.app/products/styles/storage/468/6ba58932-dd2b-4055-bb59-1effd2752c0e.jpg" class="h-auto rounded-md shadow">
</a>
</li>
<li class="glide__slide">
<a href="#" class="product-image-gallery">
<img src="/rose-lily.netlify.app/products/styles/storage/469/71228bd2-afb4-4fcd-9a93-a77ebb6c1ebb.jpg" class="h-auto rounded-md shadow">
</a>
</li>
<li class="glide__slide">
<a href="#" class="product-image-gallery">
<img src="/rose-lily.netlify.app/products/styles/storage/476/81540d10-11d9-42c2-becc-2cc9b87ab1f3.jpg" class="h-auto rounded-md shadow">
</a>
</li>
</ul>
</div>
<div class="glide__arrows" data-glide-el="controls">
<button class="absolute block p-2 -ml-2 transition duration-150 ease-in-out transform -translate-y-1/2 rounded-md opacity-75 top-1/2 z-2 bg-neutral-300 focus:outline-none focus:ring ring-neutral-300 ring-opacity-75 hover:opacity-100" data-glide-dir="<">
<svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
<path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd" />
</svg> </button>
<button class="absolute right-0 block p-2 -mr-2 transition duration-150 ease-in-out transform -translate-y-1/2 rounded-md opacity-75 top-1/2 z-2 bg-neutral-300 focus:outline-none focus:ring ring-neutral-300 ring-opacity-75 hover:opacity-100" data-glide-dir=">">
<svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
<path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
</svg> </button>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="hidden lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2 lg:block">
<div class="relative w-full h-full">
<div class="absolute inset-0 opacity-50 bg-gradient-to-r from-brand-orange to-brand-red z-2"></div>
<img class="object-cover w-full h-56 transition z-4 sm:h-72 md:h-96 lg:w-full lg:h-full" src="/rose-lily.netlify.app/products/styles/storage/468/6ba58932-dd2b-4055-bb59-1effd2752c0e.jpg">
<svg class="absolute inset-y-0 left-0 hidden w-48 h-full transform -translate-x-1/2 z-3 text-neutral-600 lg:block" fill="currentColor" viewBox="0 0 100 100" preserveAspectRatio="none">
<polygon points="50,0 100,0 50,100 0,100" />
</svg>
</div>
</div>
</div>
</div>
<div id="pricing">
<div class="pt-12 sm:pt-16 lg:pt-24">
<div class="max-w-screen-xl px-8 mx-auto text-center sm:px-6 xl:px-0">
<h2 class="text-3xl font-extrabold text-neutral-100 sm:text-4xl lg:text-5xl">
Simple and Affordable Pricing
</h2>
<p class="mt-4 text-xl text-neutral-200">
If we don't support your preferred payment method, you can use one of our resellers to purchase <a href="#" class="underline transition text-neutral-200 hover:text-neutral-100">here</a>.
</p>
</div>
</div>
<div class="pb-12 mt-8 sm:mt-12 sm:pb-16 lg:mt-16 lg:pb-24">
<div class="relative">
<div class="relative z-10 max-w-screen-xl px-8 mx-auto xl:px-0">
<div class="mx-auto space-y-4 lg:grid lg:grid-cols-3 lg:gap-5 lg:space-y-0">
<div class="flex flex-col overflow-hidden border rounded-lg shadow-lg border-neutral-400">
<div class="px-6 py-8 bg-neutral-500 sm:p-10 sm:pb-6">
<div>
<h3 class="inline-flex px-4 py-1 text-sm font-semibold leading-5 tracking-wide uppercase rounded-md text-neutral-100 bg-gradient-to-br from-brand-orange to-brand-red" id="tier-standard">
1 Month Subscription </h3>
</div>
<div class="flex items-baseline mt-4 text-6xl font-extrabold leading-none">
€17.99
</div>
<p class="mt-5 text-sm font-medium leading-7 text-neutral-200">
A one-time purchase for a 1 Month Subscription.
</p>
</div>
<div class="flex flex-col justify-between flex-1 px-6 pt-6 pb-8 space-y-6 border-t bg-neutral-600 border-neutral-400 sm:p-10 sm:pt-6">
<ul class="space-y-4">
<li class="flex items-start">
<div class="flex-shrink-0">
<svg class="w-6 h-6 text-neutral-200" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
<path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
</svg> </div>
<p class="ml-3 text-base leading-6 text-neutral-200">
Software Access
</p>
</li>
<li class="flex items-start">
<div class="flex-shrink-0">
<svg class="w-6 h-6 text-neutral-200" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
<path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
</svg> </div>
<p class="ml-3 text-base leading-6 text-neutral-200">
Private Community Access
</p>
</li>
<li class="flex items-start">
<div class="flex-shrink-0">
<svg class="w-6 h-6 text-neutral-200" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
<path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
</svg> </div>
<p class="ml-3 text-base leading-6 text-neutral-200">
Dashboard Access
</p>
</li>
<li class="flex items-start">
<div class="flex-shrink-0">
<svg class="w-6 h-6 text-neutral-200" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
<path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
</svg> </div>
<p class="ml-3 text-base leading-6 text-neutral-200">
Unlimited Free Hardware Resets
</p>
</li>
</ul>
<span class="flex rounded-md shadow-sm ">
<button type="button" class="inline-flex items-center justify-center border font-medium focus:outline-none transition duration-150 ease-in-out px-6 py-3 text-base leading-6 rounded-md text-neutral-100 bg-gradient-to-r from-brand-orange to-brand-red border-transparent opacity-75 hover:opacity-100 focus:outline-none focus:ring ring-brand-orange ring-opacity-50 disabled:opacity-75 disabled:cursor-not-allowed w-full" wire:click="initCheckout('065ccd77-fb82-46d2-a276-ddb36351018a')" size="xl" wire:loading.attr="disabled">
Purchase Now
</button>
</span>
</div>
</div>
<div class="flex flex-col overflow-hidden border rounded-lg shadow-lg border-neutral-400">
<div class="px-6 py-8 bg-neutral-500 sm:p-10 sm:pb-6">
<div>
<h3 class="inline-flex px-4 py-1 text-sm font-semibold leading-5 tracking-wide uppercase rounded-md text-neutral-100 bg-gradient-to-br from-brand-orange to-brand-red" id="tier-standard">
3 Month Subscription </h3>
</div>
<div class="flex items-baseline mt-4 text-6xl font-extrabold leading-none">
€48.99
</div>
<p class="mt-5 text-sm font-medium leading-7 text-neutral-200">
A one-time purchase for a 3 Month Subscription.
</p>
</div>
<div class="flex flex-col justify-between flex-1 px-6 pt-6 pb-8 space-y-6 border-t bg-neutral-600 border-neutral-400 sm:p-10 sm:pt-6">
<ul class="space-y-4">
<li class="flex items-start">
<div class="flex-shrink-0">
<svg class="w-6 h-6 text-neutral-200" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
<path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
</svg> </div>
<p class="ml-3 text-base leading-6 text-neutral-200">
Software Access
</p>
</li>
<li class="flex items-start">
<div class="flex-shrink-0">
<svg class="w-6 h-6 text-neutral-200" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
<path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
</svg> </div>
<p class="ml-3 text-base leading-6 text-neutral-200">
Private Community Access
</p>
</li>
<li class="flex items-start">
<div class="flex-shrink-0">
<svg class="w-6 h-6 text-neutral-200" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
<path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
</svg> </div>
<p class="ml-3 text-base leading-6 text-neutral-200">
Dashboard Access
</p>
</li>
<li class="flex items-start">
<div class="flex-shrink-0">
<svg class="w-6 h-6 text-neutral-200" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
<path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
</svg> </div>
<p class="ml-3 text-base leading-6 text-neutral-200">
Unlimited Free Hardware Resets
</p>
</li>
</ul>
<span class="flex rounded-md shadow-sm ">
<button type="button" class="inline-flex items-center justify-center border font-medium focus:outline-none transition duration-150 ease-in-out px-6 py-3 text-base leading-6 rounded-md text-neutral-100 bg-gradient-to-r from-brand-orange to-brand-red border-transparent opacity-75 hover:opacity-100 focus:outline-none focus:ring ring-brand-orange ring-opacity-50 disabled:opacity-75 disabled:cursor-not-allowed w-full" wire:click="initCheckout('a3133144-e58a-4bb9-838d-ca237bd5f019')" size="xl" wire:loading.attr="disabled">
Purchase Now
</button>
</span>
</div>
</div>
<div class="flex flex-col overflow-hidden border rounded-lg shadow-lg border-neutral-400">
<div class="px-6 py-8 bg-neutral-500 sm:p-10 sm:pb-6">
<div>
<h3 class="inline-flex px-4 py-1 text-sm font-semibold leading-5 tracking-wide uppercase rounded-md text-neutral-100 bg-gradient-to-br from-brand-orange to-brand-red" id="tier-standard">
6 Month Subscription </h3>
</div>
<div class="flex items-baseline mt-4 text-6xl font-extrabold leading-none">
€71.99
</div>
<p class="mt-5 text-sm font-medium leading-7 text-neutral-200">
A one-time purchase for a 6 Month Subscription.
</p>
</div>
<div class="flex flex-col justify-between flex-1 px-6 pt-6 pb-8 space-y-6 border-t bg-neutral-600 border-neutral-400 sm:p-10 sm:pt-6">
<ul class="space-y-4">
<li class="flex items-start">
<div class="flex-shrink-0">
<svg class="w-6 h-6 text-neutral-200" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
<path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
</svg> </div>
<p class="ml-3 text-base leading-6 text-neutral-200">
Software Access
</p>
</li>
<li class="flex items-start">
<div class="flex-shrink-0">
<svg class="w-6 h-6 text-neutral-200" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
<path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
</svg> </div>
<p class="ml-3 text-base leading-6 text-neutral-200">
Private Community Access
</p>
</li>
<li class="flex items-start">
<div class="flex-shrink-0">
<svg class="w-6 h-6 text-neutral-200" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
<path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
</svg> </div>
<p class="ml-3 text-base leading-6 text-neutral-200">
Dashboard Access
</p>
</li>
<li class="flex items-start">
<div class="flex-shrink-0">
<svg class="w-6 h-6 text-neutral-200" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
<path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
</svg> </div>
<p class="ml-3 text-base leading-6 text-neutral-200">
Unlimited Free Hardware Resets
</p>
</li>
</ul>
<span class="flex rounded-md shadow-sm ">
<button type="button" class="inline-flex items-center justify-center border font-medium focus:outline-none transition duration-150 ease-in-out px-6 py-3 text-base leading-6 rounded-md text-neutral-100 bg-gradient-to-r from-brand-orange to-brand-red border-transparent opacity-75 hover:opacity-100 focus:outline-none focus:ring ring-brand-orange ring-opacity-50 disabled:opacity-75 disabled:cursor-not-allowed w-full" wire:click="initCheckout('b5784183-1d37-4706-a0f5-24ae2b935038')" size="xl" wire:loading.attr="disabled">
Purchase Now
</button>
</span>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="border-t border-neutral-400">
<div class="max-w-8xl mx-auto px-4 sm:px-6 lg:px-8 lg:items-center  flex flex-col py-12 mx-auto">
<div class="grid w-full grid-cols-2 gap-x-12 gap-y-16 md:grid-cols-3 lg:grid-cols-4">
<div class="flex items-center justify-center col-span-1">
<img class="h-6" src="/rose-lily.netlify.app/styles/img/payments/visa.svg" alt="Visa">
</div>
<div class="flex items-center justify-center col-span-1">
<img class="h-10" src="/rose-lily.netlify.app/styles/img/payments/mastercard.svg" alt="Mastercard">
</div>
<div class="flex items-center justify-center col-span-1">
<img class="h-10" src="/rose-lily.netlify.app/styles/img/payments/amex.svg" alt="Amex">
</div>
<div class="flex items-center justify-center col-span-1">
<img class="h-6" src="/rose-lily.netlify.app/styles/img/payments/psc.svg" alt="paysafecard">
</div>
<div class="flex items-center justify-center col-span-1">
<img class="h-9" src="/rose-lily.netlify.app/styles/img/payments/giropay.svg" alt="Giropay">
</div>
<div class="flex items-center justify-center col-span-1">
<img class="h-10" src="/rose-lily.netlify.app/styles/img/payments/przelewy24.svg" alt="Przelewy24">
</div>
<div class="flex items-center justify-center col-span-1">
<img class="h-10" src="/rose-lily.netlify.app/styles/img/payments/ideal.svg" alt="iDeal">
</div>
<div class="flex items-center justify-center col-span-1">
<img class="h-11" src="/rose-lily.netlify.app/styles/img/payments/eps.svg" alt="EPS">
</div>
</div>
</div>
</div>
<div class="bg-neutral-700">
<div class="max-w-8xl mx-auto px-4 sm:px-6 lg:px-8 lg:items-center  py-12 lg:py-16">
<div class="xl:grid xl:grid-cols-3 xl:gap-8">
<div class="space-y-4 xl:col-span-1">
<img class="h-10" src="/rose-lily.netlify.app/styles/interwebz/xenforo/logo.svg" alt="INTERWEBZ Logo">
<p class="text-base leading-6 text-neutral-200">
We are a well-known and reliable cheat provider that has been around since 2009. We offer premium cheats for a variety of different games.
</p>
<div class="flex space-x-4">
<a href="#" class="transition duration-150 ease-in-out text-neutral-200 hover:text-neutral-100">
<span class="sr-only">YouTube</span>
<svg class="w-8 h-8" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M21.58 6.186c-.23-.86-.91-1.54-1.77-1.77 -1.56-.42-7.82-.42-7.82-.42s-6.254 0-7.814.41c-.86.23-1.54.9-1.77 1.76 -.42 1.56-.42 5.814-.42 5.814s0 4.25.41 5.814c.23.86.9 1.53 1.76 1.76 1.56.41 7.814.41 7.814.41s6.25 0 7.814-.42c.86-.23 1.53-.91 1.76-1.77 .41-1.56.41-5.814.41-5.814s0-4.254-.42-5.814Zm-11.59 8.41v-5.2c0-.39.41-.625.75-.44l4.5 2.59c.33.19.33.67 0 .86l-4.5 2.59c-.34.19-.75-.05-.75-.44Z" /></svg> </a>
<a href="#" class="transition duration-150 ease-in-out text-neutral-200 hover:text-neutral-100">
<span class="sr-only">Twitter</span>
<svg class="w-8 h-8" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M17 3H7C4.79 3 3 4.79 3 7v10c0 2.2 1.79 4 4 4h10c2.2 0 4-1.8 4-4V7c0-2.21-1.8-4-4-4Zm.05 6.51c0 .08 0 .17 0 .34 0 3.25-2.49 7.029-7.029 7.029 -1.38 0-2.657-.43-3.771-1.12 .17 0 .42 0 .6 0 1.11 0 2.229-.43 3.08-1.029 -1.12 0-1.971-.78-2.314-1.72 .17 0 .34.08.42.08 .25 0 .42 0 .68-.09 -1.12-.26-1.971-1.2-1.971-2.4 .34.17.68.25 1.11.34 -.69-.6-1.12-1.29-1.12-2.15 0-.43.08-.86.34-1.2 1.2 1.45 3 2.48 5.057 2.57 0-.18-.09-.35-.09-.6 0-1.38 1.11-2.49 2.48-2.49 .68 0 1.37.25 1.8.77 .6-.09 1.11-.35 1.54-.6 -.18.6-.6 1.029-1.12 1.37 .51-.09.94-.18 1.45-.43 -.35.51-.78.94-1.21 1.28Z" /></svg> </a>
<a href="#" class="transition duration-150 ease-in-out text-neutral-200 hover:text-neutral-100">
<span class="sr-only">Facebook</span>
<svg class="w-8 h-8" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M17 3H7C4.79 3 3 4.79 3 7v10c0 2.2 1.79 4 4 4h5.62v-6.961H10.27v-2.73h2.343v-2.01c0-2.324 1.42-3.6 3.49-3.6 .69-.01 1.39.03 2.09.1v2.43h-1.43c-1.13 0-1.35.53-1.35 1.32v1.73h2.7l-.36 2.72H15.39v6.96h1.58c2.2 0 4-1.8 4-4v-10c0-2.21-1.8-4-4-4Z" /></svg> </a>
</div>
</div>
<div class="grid grid-cols-1 gap-8 mt-12 space-y-6 md:grid-cols-3 xl:mt-0 xl:col-span-2 md:space-y-0">
<div class="col-span-1">
<h4 class="text-sm font-semibold leading-5 tracking-wider uppercase text-neutral-200">
Available Cheats
</h4>
<ul class="mt-4 space-y-4">
<li>
<a href="#" class="text-base leading-6 transition duration-150 ease-in-out text-neutral-200 hover:text-neutral-100">
Call of Duty: Modern Warfare II / DMZ
</a>
</li>
<li>
<a href="#" class="text-base leading-6 transition duration-150 ease-in-out text-neutral-200 hover:text-neutral-100">
Call of Duty: Modern Warfare (2019)
</a>
</li>
<li>
<a href="#" class="text-base leading-6 transition duration-150 ease-in-out text-neutral-200 hover:text-neutral-100">
Call of Duty: Modern Warfare III / Warzone
</a>
</li>
<li>
<a class='text-base leading-6 transition duration-150 ease-in-out text-neutral-200 hover:text-neutral-100' asp-area="" asp-controller="Home" asp-action="Products">
View All Products...
</a>
</li>
</ul>
</div>
<div class="col-span-1">
<h4 class="text-sm font-semibold leading-5 tracking-wider uppercase text-neutral-200">
Community
</h4>
<ul class="mt-4 space-y-4">
<li>
                                    <a class='text-base leading-6 transition duration-150 ease-in-out text-neutral-200 hover:text-neutral-100' asp-area="" asp-controller="Community" asp-action="Index">
Community Forums
</a>
</li>
<li>
<a href="#" class="text-base leading-6 transition duration-150 ease-in-out text-neutral-200 hover:text-neutral-100">
Cheat Media
</a>
</li>
<li>
<a href="#" class="text-base leading-6 transition duration-150 ease-in-out text-neutral-200 hover:text-neutral-100">
User Reviews
</a>
</li>
<li>
<a href="#" class="text-base leading-6 transition duration-150 ease-in-out text-neutral-200 hover:text-neutral-100">
Pre-sales Support
</a>
</li>
<li>
<a target="__blank" href="#" class="text-base leading-6 transition duration-150 ease-in-out text-neutral-200 hover:text-neutral-100">
Elitepvpers
</a>
</li>
</ul>
</div>
<div class="col-span-1">
<h4 class="text-sm font-semibold leading-5 tracking-wider uppercase text-neutral-200">
Legal Information
</h4>
<ul class="mt-4 space-y-4">
<li>
<a href="#" class="text-base leading-6 transition duration-150 ease-in-out text-neutral-200 hover:text-neutral-100">
Terms of Service
</a>
</li>
<li>
<a href="#" class="text-base leading-6 transition duration-150 ease-in-out text-neutral-200 hover:text-neutral-100">
Privacy Policy
</a>
</li>
<li>
<a href="#" class="text-base leading-6 transition duration-150 ease-in-out text-neutral-200 hover:text-neutral-100">
Media Resources
</a>
</li>
<li>
<a href="#" class="text-base leading-6 transition duration-150 ease-in-out text-neutral-200 hover:text-neutral-100">
Contact Us
</a>
</li>
</ul>
</div>
</div>
</div>
<div class="pt-8 mt-12 border-t border-neutral-400" x-data="{ year: new Date().getFullYear() }">
<p class="text-sm font-medium leading-6 text-center text-neutral-200">
&copy; <span x-text="year"></span> INTERWEBZ. All rights reserved.
</p>
</div>
</div>
</div>
</div>


<script>
    function scrollToSection() {
        // Get the target section element
        var pricing = document.getElementById('pricing');

        // Scroll to the target section
        pricing.scrollIntoView({ behavior: 'smooth' });
    }
</script>